{layout="layout/index" title="大屈门店"}

<main>
	
	<section class="backstretch">

		<img id="backstretch" src="{site_url}assets/images/uploads/dining/16670341908_7ccdf9726b_o.jpg"/>
	
	</section>

	<section>
		
		<p>风尘仆仆的旅途，疲惫的身体，温暖的食物是一剂抚慰良药。海南传统粉汤，香气四溢的热汤、劲道爽滑的粉条，晚上更有海鲜大餐等着你来。</p>
		
	</section>

	<section>

		<h1>早午餐</h1>
		<ul class="block">
			<li><a href="#">海南传统粉汤／20元（份）</a></li>
			<li><a href="#">海南传统早茶／50元（位）</a></li>
			<!-- <li><a href="#">粉／15元</a></li> -->
		</ul>

	</section>

	<section>

		<h1>晚餐</h1>
		<ul class="block">
			<li><a href="#">海鲜大餐／100元（位）</a></li>
			<li><a href="#">陆地大餐／80元（位）</a></li>
		</ul>

	</section>	

	<section>
		<h1>订餐热线</h1>
		<ul>
			<li><a href="sms:189-7667-6077">+86 189-7667-6077</a></li>
		</ul>
	</section>

	<section>
		<h1>微信预订</h1>
		<ul>
			<li>nantavel</li>
		</ul>
	</section>


</main>

<footer>
	<p><a href="#">查看我们的食材来源</a></p>
</footer>

