
@charset "utf-8";
/* CSS Document */

/* ==========================================================================
   Body
   ========================================================================== */

*, *:before, *:after {
  box-sizing: border-box;
  -moz-user-select: text;  
  -webkit-user-select: text;  
  -ms-user-select: text;
  -moz-touch-callout: none;
  -webkit-touch-callout: none;
  -ms-touch-callout: none;
  -webkit-font-smoothing: subpixel-antialiased;
  font-smoothing: subpixel-antialiased;
}

p {
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}

html {
  height: 100%
}


body {
  font-family: "Myriad Pro", "Avenir", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
  font-size: 62.5%;
  color: #fff;
  min-height: 100%;
}


/* ==========================================================================
   Main
   ========================================================================== */

body.white {
  color: #fff;
}

body.black {
  color: #000;
}

body.white a:link, body.white a:visited {
  color: #fff;
  border-bottom: 1px dotted #fff;
}

body.black a:link, body.black a:visited {
  color: #000;
  border-bottom: 1px dotted #000;
}


/* ==========================================================================
   General Typography
   ========================================================================== */

*, *:before, *:after {
  letter-spacing: .5px;
}

h1, h2 {
  font-size: 1.2em;
}

h2 {
  font-weight: normal;
  margin-top: 5em;
  /*margin-bottom: 5px;*/
}

* > a, * > span {
  font-size: 1em;
}

p, figcaption, time, blockquote {
  display: block;
  font-size: 1.2em;
  line-height: 2;
  margin: 0 auto;
  /*text-align: center;*/
}

p.center {
  text-align: center;
}

p.direction {
  font-weight: bold;
  font-size: 2em;
}

time {
  font-size: 1em;
}

p a, p span {
  font-size: 1em;
}

p a.prev, p a.next {
  font-size: 0.9em;
}

ol {
  padding: 0;
  list-style-position:inside;
}

ol li {
  font-size: 1.1em;
  line-height: 2;
  margin-top: 2em;
}

ul {
  -webkit-padding-start: 0px;
  padding:0;
}



/* ==========================================================================
   General Images
   ========================================================================== */

img {
  display: block;
  margin: 0 auto;
  margin-right: 3px;
}

img#backstretch{
  display:none;
}


img#banner {
  display: none;
}

img#background {
  display: none;
}


/* ==========================================================================
   General Links
   ========================================================================== */

a:link, a:visited {
  color: #000;
  text-decoration: none;
  border-bottom: 1px dotted #000;
}

a:hover, a:active {
  font-weight: bold;
  border-bottom: none;
}

/* ==========================================================================
   Header
   ========================================================================== */

#header {
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 63px;
  padding: 25px;
  display: flex;
  justify-content: space-between;
}

#header.solid_white {
  background-image: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 1));
}

#header.white a:link, #header.white a:visited {
  color: white;
}

#header.solid_black {
  background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 1));
}

#header.black a:link, #header.black a:visited {
  color: black;
}

#header.none {
  display: none;
}

#header h1 {
  margin: 0;
  padding: 0;
  display: none;
  font-size: 1.5em;
}

#header nav ul { 
  margin: 0;
  display: -webkit-flex;
  display: flex;

}

#header nav ul li {
  font-size: 1.4em;
  margin-right: 1.2em;
  list-style: none;
}

#header a:link, #header a:visited {
  border-bottom: none;
}

#header a.current:link, #header a.current:visited {
  font-weight: bold;
}

#header img {
  display: block;
  margin-left: inherit;
  margin-right: inherit;
  margin-top: -2px;
  height: auto;
}

/* ==========================================================================
   Headroom
   ========================================================================== */

.headroom {
    will-change: transform;
    transition: transform 200ms linear;
}

.headroom--pinned {
    transform: translateY(0%);
}

.headroom--unpinned {
    transform: translateY(-100%);
}

.headroom--top {
    /*transform: translateY(-100%);*/

}

.headroom--not--top {
    transform: translateY(0%);
}


/* ==========================================================================
   Swiper
   ========================================================================== */

div.swiper-container {
  height: 100vh;
}

div.swiper-wrapper div.swiper-slide {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

div.swiper-slide a:link, div.swiper-slide a:visited {
  border-bottom: none; 
}

div.swiper-slide h1 {
  font-size: 2.2em;
  margin: 0;
  text-align: center;
}

div.swiper-slide p {
  font-weight: bold;
  text-align: center;
}

/* ==========================================================================
   Section
   ========================================================================== */

section {  
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 25px;
}

div.background {
  position: fixed;
  width: 100%;
  min-height: 100vh;
  z-index: -1;
}

/* ==========================================================================
    Banner & Placeholder
   ========================================================================== */

div.banner {
  position: fixed;
  width: 100%;
  min-height: 100vh;
  z-index: -1;
}

div.placeholder {
  height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  background-color: transparent;
}


div.placeholder #header h1 {
  font-size: 2.2em;
  margin: 0;
  /*text-align: left; */
}

div.placeholder #header p {
  max-width: 100%;
  margin-top: 0em;
  margin-bottom: 0em;
  /*text-align: left;*/
}


/* ==========================================================================
   Section Service
   ========================================================================== */

section.service {
  padding-top: 40vh;
  height: auto;
  min-height: 100vh;
  overflow: hidden;
}

section.service h1 {
  font-size: 2.2em;
  margin: 0;
}

section.service h1 + p {
  font-weight: bold;
  margin-top: 0;
}

section.service p.english {
  margin-bottom: 2em;
}

section.service p {
  /*margin-top: 1em;*/
  /*margin-bottom: 1em;*/
}

section p.margin {
  margin: 0;
}

section.service > * {
}

section.service > div.standard {
  max-width: 420px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

section.service > div.standard div {
  width: 33%;
  text-align: center;
  margin-top: 3em;
}

section.service > div.standard div p {
  margin-bottom: 0em;
}

section.service > div.standard div p:first-child {
  /*line-height: 1.5;*/
}

section.service > div.standard div p:first-child span {
  font-size: 2em;
  padding-right: 5px;
}

section.service p#return, section.service p#specs {
  margin: 0 auto;
  font-size: 1em;
  margin-top: 5em;
  padding-bottom: 4em;
}

section.service p#return a, section.service p#specs a {
  position: relative;
}

section.service p#return a:before, section.service p#specs a:before {
  padding: 75px;
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* ==========================================================================
   Sample
   ========================================================================== */

#sample {
  position: relative;
  padding: 0;
}

#sample article {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 1px 20px #000;
}

#sample article.return{
  background-color: #111;
}

#sample article.background {
  /*bottom: 0;*/
  /*position: absolute;*/
  background-color: black;  
  height: 100vh;
  z-index: -100;
}

#sample article.background p {
  z-index:-1000;
  /*bottom: 0;*/
  position: absolute;
  bottom: 0;
  /*text-align: center;*/
}

/* ==========================================================================
   Title & Guide
   ========================================================================== */

div.title {
  padding: 25px;
}

div.title h1 {
  color: white;
  font-size: 3.5em;
  margin: 0;
}

div.title p {
  text-align: center;
}

footer, div.guide {
  color: #fff;
  z-index: 2;
  position: absolute;
  left: 50%;
  bottom: 6px;
  transform: translate(-50%,0);
}

footer p, div.guide p {
  margin: auto;
  font-size: 1em;
}

footer span.orientation, div.guide span.orientation {
  display: block;
  text-align: center;
  font-size: 3em;
}


/* ==========================================================================
  Section Gallery
   ========================================================================== */

section.gallery {

}

section.gallery article {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  margin-bottom: 2em;
  max-width: 500px;
  align-content: center;
}

section.gallery figure {
  display: inline;
}

section.gallery figure a:hover {
  /*opacity: 0.9;*/
  border-bottom: none;
}

