{layout="layout/index" body="about" header="black" service="potrait" footer="none" title="大屈攝影（摄影）- 摄影工作室 - Q&amp;A - 深圳 &amp; 廣州 &amp; 三亚 &amp; 海口"}

{layout:set name="description"}大屈攝影（摄影）- 摄影工作室的介紹以及攝影問答Q&amp;A{/layout:set}

    <main class="black">

        <section>

            <article>


            	<p>大屈是来自海南島的原創攝影品牌，在這裡可以拍到溫暖的写真集以及最美的肖像照，更有精緻的相片書以及深入的旅行指南跟大家分享～從快門按下的那一刻，回憶就被永遠珍藏在相片裡了。^_^</p>

            	<!-- <p>地址：海南省海口市大英路66号1－2、1－3號</p> -->

            	<!-- <p>联系电话：0898-66724685</p> -->

              
                <h1>Q&amp;A</h1>
                
                <p class="question">Questions：小編</p>

                <p>Anwsers：大屈</p>

                <img src="" alt="">


                <p class="question">Q：能和我們說一下你們是做什麼的嗎？</p>

                <p>A：我們是往返廣東及海南地區的攝影工作室，從事攝影、設計方面的工作。</p>

                <p class="question">Q：工作室現在的規模有多大？</p>

                <p>A：我們是很小很小的工作室。每個月能完成的單量是很有限的，大部分客人都得提前預約。大家工作很自由，成員們除了完成本職工作外，基本上可以自由安排利用自己的時間。每個人都有各自不同的特長、愛好以及思考問題的方式。</p>

                <p class="question">Q：工作室名字為什麼叫“大屈”？有什麼特殊的意義嗎？</p>

                <p>A：“大直若屈，大巧若拙”，意思是真正有能力的人做的東西是樸實無華、不講技巧的。</p>

                <p class="question">Q：有時候怎麼會如此執著於膠片？</p>

                <p>A：我們可能正處在一個很特殊的歷史時期，老的事物並沒有完全消亡，我們有一百多年的傳統工藝和歷史可以參考。膠片我們仍然能夠買到，雖然很多都已停產。而新的影像技術蓬勃發展，並且前所未有地普及。相較之下，傳統工藝已經停止發展了，我們使用的東西包括膠捲在內材料不會有進步，因為這些老技術已經沒有公司投入研發。但數字影像正在日新月異的發展。它們像是沒法兒互相取代的兩種事物，就像你不可能同時獲得黑膠唱盤的溫暖厚重以及數字音樂的解析清冷。大屈的大部分作品都是膠片的，因為我們覺得人像在膠片上的成像比較耐看，影調也會比較連續。但還是要根據題材來選擇相應的介質。很多人覺得膠片成本高，但其實數碼相機的成本或許會更高，因為數碼相機是在不斷貶值。選擇膠片的話是需要客人自己負責膠片的費用的，這個費用是很高的，並不是所有客人都能承受。從今年開始，數碼已經在很多方面超越膠片了，現在我們更願意向客人推薦數碼。數碼也比膠片更討喜，交付週期也短。</p>
          
                <p class="question">Q：創建大屈的過程中是否有過放棄的念頭？是什麼讓你們又堅持了下來？</p>

                <p>A：現實與理想的差距、藝術的需要與謀生之間所發生的衝突、做出妥協的同時堅持自己的基礎原則，是每個從事藝術行業的人都需要面對的問題。</p>

                <p class="question">Q：做一個攝影工作室會遇到的坑？</p>
                
                <p>A：現在的營銷環境和過去比有很大變化。我聽說特別像是杭州這樣的大城市已經沒有人願意再用錢包了，去哪裡都刷微信和支付寶，你要帶錢包找個錢別人覺得你麻煩都不愛做你的生意。紙質的東西已經完全成為一種情懷。新時期對一個写真攝影工作室的要求，也和往日大不相同。工作室往往會面對許多資源不足的問題，比如說資金匱乏、人才不完善、技能不全面、硬件跟不上、店面沒有格局等等。今年開起來半年後也許就倒閉。所以一個工作室要活下來其實是很困難的事情。一個工作室完善的銷售前端，其實是有五部分組成。一個線上銷售平臺，一個線上作品集、一個微信公眾號、一個微信客服號、以及線下店舖房屋人員本身。所以其實工作室的格局雖小，但是你要具備和別人競爭的條件，要完成的工作量卻完全一樣。這是一件很辛苦的事情，當大大小小的事情都壓在幾個人身上的時候，體力的不支以及到處都要完善的漏洞往往讓人心力交瘁。</p>

                <p class="question">Q：現有的讓你暫時不會擔憂的資源是什麼？</p>
                
                <p>A：至目前為止，大屈的五項當中只有兩項我認為還算完備。靠著還算出色的兩項，勉強周旋。而微信公眾號投入的人力物力，絕對是一個無底洞，要做好一個公眾號是非常耗時耗力的事情。</p>


                <p class="question">Q：怎麼看待自己和同行的區別？</p>
                
                <p>A：我們基本不做前期客服的。因為大屈都已經完全電子化了。今天過節，早晨吃早飯的時候有幾個電話打進來，我接了其中一個固話號碼的電話。對方是個女孩，15分鐘的時間，我在電話上認認真真地解答了她所有的問題。剛開始的時候，我能從她的聲音中聽出不安以及不確定的感覺，但她的聲音溫柔、語言不凌亂，我相信她是受過好的教育的妹子。她首先說很喜歡大屈的風格，比較真實自然。同時說不喜歡其他地方的千篇一律。換做過去，我可能會站在友商的對立面，或者中立面，但是現在，做過生意就知道做生意有多難，如今我選擇幫著友商們解釋，我會告訴她為什麼其他地方要這麼做，比如說千篇一律可能是受制於現在越來越激烈的價格戰的影響，以及不斷上漲的人工壓力以及店面舖租、越來越混亂不堪的市場環境，大家不得不走一種低成本、流水化的方法才能生存。我試著告訴她所有拍攝都去定製的成本是很高的，也是有風險的、並且定製的價格會高到普通消費者難以接受。後來我用一個簡單的例子告訴她其中的道理。這就好像是麥當勞的漢堡，你覺得它好吃嗎？其實麥當勞的漢堡很好吃，價格也不貴，每次你都能穩定地吃到一個口感，不會有很大的偏差。可是你要去找私廚給你做一個漢堡，價格可能是麥當勞漢堡的好幾倍，而且有可能還會很難吃。我企圖幫助她降低她對我們過高的心理預期，因為大眾攝影本身就是一個客怨居高不下的行業，不能過度承諾，只能降低預期。因為如果你承諾的東西做不到，客人就會埋怨你。你只能告訴她你和其他地方都一樣，受制於成本的限制。你得讓她自己做出選擇。</p>

                <p class="question">Q：職業攝影師是怎麼工作的？</p>

                <p>A：很多人不知道職業攝影師是怎麼工作的。我在這裡做一下科普。職業攝影師有80%的時間其實都沒在拍照片，平均每一日全情投入的攝影，他很有可能已經為之投入了5天以上的時間。十年前我上大學二年級的時候，第一次給別人當助理。那個攝影師是個美國人，我問她能不能給我一個機會，她看我心比較誠，就讓我一週之後在什麼什麼地方等她。我還記得當天她揹著一個沉重的大包，開著一個挺爛的車，把我拉到了拍攝現場。那天她讓我做副手，我努力拍下不少照片，但是後來全部都沒有用上。因為那個時候我還不怎麼會曝光，英語也不太好。結束的時候，我和她都累得說不出話來。那個時候我就在想，原來做職業攝影師那麼辛苦。當天她付給我40美元的工資（當時學生最低工資是8美元／小時），但我看我也沒幫上她的忙，就沒讓她給我錢。但她還是堅持把錢塞給我，因為在美國請人工是很貴的，請了人工不給錢是件很糟糕的事情。不過當天我吃飯花了十多美元，所以一天下來其實也沒剩下多少錢。</p>

                <p>那天我們聊了一些關於攝影的話題，她說她和她丈夫還在存錢買自己的房子，所以我們又聊了些關於生計的問題。下車的時候，我問她什麼時候才能看到她拍的照片，她說至少要半個月以後了。幾年後我成為職業攝影師，我常常能想起這段往事，那是我第一次接觸以攝影為生的人，也是第一次親眼看到職業攝影師是怎麼工作的，而那日關於時間分配的道理，今日也都影響我。</p>

                <p>幾年前我剛入行的時候，還不怎麼懂攝影，就去給Vogue的一個知名攝影師當助理。我看到片場為了那麼幾張照片，十幾個人都在各種忙碌。他們說的是行話，很多我都聽不懂。那次是在一個酒吧環境裡開拍，因為白天酒吧要營業，開拍的時間是定在午夜1點鐘之後，一直拍到天亮才結束。我為了更好地學習，提前一天就跑去看了場地。當天請的模特很敬業，她的腳踝在上一次的工作中扭傷，還要強迫穿高跟鞋，我看她確實很疼，是需要幾個人攙扶著才能完成造型和動作，拍攝之餘她和她的經紀人還在討論關於之前工傷賠償的問題。片場幾盞ARRI的電影燈，有40度以上的高溫。那個燈特別重，估計有幾百斤，我推都推不動，那個燈光團隊的每個人都帶著很厚重的手套，用很大的力氣將燈吊拉到樓頂布光。那天夜裡還下了點小雨，燈光組的成員很麻利地給燈披上防水衣，要知道更換一盞阿萊部件的費用是相當昂貴的。後來我才知道，器材的受損幾乎是無法避免的，因為每場照片都很慌亂，碰倒個三腳架砸一個鏡頭太正常不過了。這些都無一例外地變成攝影的成本。只是這次我連副手都當不上了，事實上我回家的時候連一個座位都沒有。清晨的時候，年輕的我走在大街上，我知道我離他們差得比較遠，我和他們還不是一個層面上的人，對事物還沒有基本的認知。那天我唯一干的一件事情就是充當路人甲在結束的時候給他們拍下了一張合影。年輕就是好啊，承受挫折的同時仍然能保持熱情和信心。</p>

                <p>再到後來，本來可以走上商業攝影的道路，卻沒有走上商業攝影的道路，在藝術攝影領域待了很久。</p>

                <p>幾天前，有一對夫妻朋友請我們為他們的品牌拍攝一組產品照片。隔行如隔山，拍產品是個很專業的活兒，得專門請拍產品的攝影師來幹，其他領域的攝影師一般幹不好。但普通人不懂這個道理。而且他們的品牌是初創，也沒有太多經驗，我不知道他們的心理預期，我們怕她拿出一張范冰冰的照片讓我照著拍（他們確實拿了一張照片出來，只不過是李冰冰的照片）。所以雖然他們能付給我們一筆錢，但是我們為了交付一個滿意，就得花上半個月以上的時間研究怎麼拍這個東西，很大可能是不一定能拍好，辛苦了半天說不定還把一個朋友給搞丟了。所以，其實我是婉拒了他們的業務。我婉拒他們的業務的方式很簡單，就是跟他們說，其他東西你自己搞定，我給你出個人力，你看著送我東西就可以了，這樣一來我們就沒有負擔，而他們也獲得了經驗。照片很快拍攝出來，他們居然覺得還不錯。當然，拍下的照片我基本沒有看過就給他們了，這點我也很誠實地告知，並且告訴他們出畫冊的時候再請修片師做進一步處理。我覺得幫朋友建立合理的預期，比努力和蠻幹強得多。畢竟，沒有擁有無限預算的客戶，也沒有能獨自解決一切問題的攝影師。</p>

                <p class="question">Q：怎樣看待現在的行業大環境？</p>
                
                <p>A：十年來有一個事實從未改變，就是我所在的行業收入比較低，生存比較艱難。在我們這個行業裡，有些攝影師拍照片不要錢，有些攝影師每單收幾百元，有些攝影師每單收幾千元，有些攝影師每單收幾萬元。為什麼有些攝影師每單要收幾萬元？因為他要帶團隊付租金攤耗損，一個大攤子要多少錢，一個團隊五天的創意工作開支是多少錢，租金是多少錢，他全部都要算進去。如果他沒算對這個錢，別說賺錢了，他非常容易就破產了。要知道這是個很殘酷的行業，很容易就破產了。</p>

                <p class="question">Q：拍攝的流程是什麼樣的？一對一嗎？</p>

                <p>A：客人先通過微信跟我們預定拍攝時間並支付定金，在溝通好衣服等細節之後，我們就可以開始拍攝了。</p> 
                
                <p class="question">Q：要是成片不滿意的話怎麼辦？</p>

                <p>A：確實出現這樣的情況我們會及時跟進，我們提供一次原地原服裝重拍機會（僅收取人工成本）。</p>

                <p class="question">Q：在你們的期待裡大屈的未來是什麼樣子的？</p>

                <p>A：在艱難的大環境生存下去，同時希望能做出更好的作品。</p>
                
                <p class="question">Q：好的，謝謝！</p>

                <p>A：謝謝！</p>

            </article>
            
        </section>

        <p class="return"><a href="{path="photography/index"}">返回</a></p>

    </main>
    