{layout="layout/index" text="white" header="black" title="大屈影像 - 写真作品精选 - 写真摄影工作室 - 广州 - 深圳 - 三亚 - 海口"}

<main>

{exp:channel:entries channel="studio" limit="1" orderby="random" disable="categories|member_data"}

    {layout:set name="description"}大屈写真摄影工作室的写真及婚拍类作品展示，包含了历年来大屈影像创作的写真及婚拍摄影精选。{/layout:set}

    <section class="backstretch studio">

        <!-- <header> -->
            <!-- <p>欢迎来到大屈*</p> -->
            <!-- <h1>Welcome.</h1> -->
        <!-- </header> -->
<!-- 
        <footer>
            <span class="icon-phone-portrait orientation"></span>
            <p>* 上下滑动或翻转屏幕浏览</p>
        </footer>
 -->    
        {studio_cover}
            <img id="backstretch" src="{url}" width="{exp:mx_calc expression="{width}/2"}" height="{exp:mx_calc expression="{height}/2"}">
        {/studio_cover}

    </section>

<!--     {studio_gallery}

        {studio_gallery:studio_gallery_file}

            <section class="backstretch studio">

                <img id="backstretch" src="{url}" width="{exp:mx_calc expression="{width}/2"}" height="{exp:mx_calc expression="{height}/2"}">

            </section>
                
        {/studio_gallery:studio_gallery_file}

    {/studio_gallery} -->

    <section class="backstretch studio">

        <header>
            <p>工作地点：广州／深圳／海南</p>
            <h1>Guangdong and Hainan.</h1>
            <br>
            <br>
            <br>
            <p>预订拍摄：<a href="{path="about/wechat"}">daqustudio</a></p>

        </header>

        <footer>
            <p>大屈</p>
        </footer>

        {studio_footer}
            <img id="backstretch" src="{url}" width="{exp:mx_calc expression="{width}/2"}" height="{exp:mx_calc expression="{height}/2"}">
        {/studio_footer}
        
    </section>

{/exp:channel:entries}

</main>

