{layout="layout/index" text="black" header="black" title="大屈影像 - 实体店 - 写真摄影工作室 - 广州 - 深圳 - 三亚 - 海口"}

	{layout:set name="description"}大屈写真摄影工作室的微信及微信公众号，朋友圈里有最新的摄影作品展示{/layout:set}

	<main>

		<section class="backstretch" style="height: 50vh;">

			<img id="backstretch" src="{site_url}assets/images/uploads/studio/p18ep9yka7a-noah-silliman.jpg"/>
					
		</section>

		<section class="document">



	<article>
		
		<p>在阳光下食一份轻食，温暖的食物是一剂抚慰良药。免费供应的咖啡，更有颇受欢迎的甜点和主食等着你来。</p>
		
	</article>

	<article>

		<h1>咖啡</h1>
		<ul class="block">
			<li><a href="#">意式浓缩、美式咖啡、拿铁咖啡、卡布奇诺、摩卡咖啡／全日免费供应</a></li>
		</ul>

	</article>

	<article>

		<h1>茶水</h1>
		<ul class="block">
			<li><a href="#">冰红茶、绿茶／全日免费供应</a></li>
		</ul>

	</article>

	<article>

		<h1>主食</h1>
		<ul class="block">
			<li><a href="#">焗海鲜芝士饭／38元（份）</a></li>
			<li><a href="#">秘制卤肉饭／25元（份）</a></li>
		</ul>

	</article>

	<article>

		<h1>甜品</h1>
		<ul class="block">
			<li><a href="#">提拉米苏／28元（份）</a></li>
			<li><a href="#">芝士蛋糕／25元（份）</a></li>
			<li><a href="#">黑森林／25元（份）</a></li>
		</ul>

	</article>	

	<article>
		<h1>订餐热线</h1>
		<ul>
			<li><a href="sms:189-7667-6077">+86 189-7667-6077</a></li>
		</ul>
	</article>

	<article>
		<h1>微信预订</h1>
		<ul>
			<li>daqustudio</li>
		</ul>
	</article>
			
		    <div>

				<div>
					<p>大屈的微信公众号</p>
					<br>
					<p><img id="wechat" src="{site_url}assets/images/uploads/studio/daquimage.jpg" width="150" height="150"/></p>
					<p>公众名：大屈影像馆</p>
	        		<p>电邮：<a href="mailto:hello@da-qu.com">hello@da-qu.com</a></p>
					<p>公众号最后更新：2017年1月10日</p>
				</div>

				<div>
					<p>大屈的微信工作号</p>
					<br>
	        		<p><img id="wechat" src="{site_url}assets/images/uploads/studio/daqustudio.jpg" width="150" height="150" /></p>
	        		<p>微信：daqustudio</p>
	        		<p>短信：<a href="sms:189-7698-4285">+86 189-7698-4285</a></p>
	        		<p>朋友圈最后更新：2017年01月10日</p>
				</div>
<!-- 
				<div>
					<p>大屈的淘宝商城</p>
					<br>
	        		<p><img id="wechat" src="{site_url}assets/images/uploads/wechat/daqustudio.jpg" width="150" height="150" /></p>
	        		<p>店名：大屈影像</p>
	        		<p>网址：<a href="https://shop416648927.taobao.com/">da-qu.taobao.com</a></p>
	        		<p>淘宝店最后更新：2017年01月10日</p>
				</div>				
 -->
		    </div>
			
			<p id="return"><a href="{path="photography/index"}">返回</a></p>

		</section>

	</main>


