{layout="layout/index" header="black" service="portrait" footer="black" title="大屈影像 - 实体店 - 摄影工作室 - 广州 - 深圳 - 三亚 - 海口"}

    {layout:set name="description"}大屈写真摄影工作室的微信及微信公众号，朋友圈里有最新的摄影作品展示{/layout:set}

    <main id="studio" class="black">

	    <div class="backstretch background">

	        <!-- <img id="backstretch" src="{site_url}assets/images/uploads/studio/p18ep9yka7a-noah-silliman.jpg"/> -->
	        <img id="backstretch" src="{site_url}assets/images/uploads/studio/8p0xl3qwmpu-timothy-lamm.jpg"/>


	    </div>
	    
	    <section>
			
			<!-- <h1>Studio</h1> -->

			<h2>咖啡／全日免费供应</h2>
			<ol>
				<li>意式浓缩</li>
				<li>美式咖啡</li>
				<li>拿铁咖啡</li>
				<li>卡布奇诺</li>
				<li>摩卡咖啡</li>
			</ol>

			<h2>茶水／全日免费供应</h2>
			<ol>
				<li>冰红茶</li>
				<li>绿茶</li>
			</ol>

			<h2>主食</h2>
			<ol>
				<li>焗海鲜芝士饭／38元（份）</li>
				<li>秘制卤肉饭／25元（份）</li>
			</ol>

			<h2>甜品</h2>
			<ol>
				<li>提拉米苏／28元（份）</li>
				<li>芝士蛋糕／25元（份）</li>
				<li>黑森林／25元（份）</li>
			</ol>

			<h2>预订电话</h2>
			<p><a href="sms:189-7698-4285">+86 189-7698-4285</a></p>

			<h2>微信预订</h2>
			<p><a href="{path="service/wechat"}">daqustudio</a></p>
			
			<!-- <ol> -->
			<!-- </ol> -->

		</section>
    
    </main>