{layout="site_cn/layout" body="appendix" title="一座南方岛屿及其美好的一切"}


<header>
  
  <h1>一座南方岛屿及其美好的一切</h1>
  
  <p class="title">附录</p>
  
</header>


<main>

    <article>

   		<ol>

   			<li><p>海南岛位于中国的最南部，面积3.39万平方公里，在北纬18°11’ ~ 20°11’，东经108°31’ ~ 111°03’之间。海南岛是南海大陆架上的岛屿，原本与雷州半岛相连，后因地质运动形成琼北裂谷形断陷带，海水浸没大裂谷，海南岛与雷州半岛分离，才成为今天地理上的岛屿。</p></li>
			
			 <li><p>这个海水浸没后的大裂谷，就是现在的琼州海峡。通过这个海峡的轮渡叫粤海铁路。北港在广东海安，南港在海南海口。南港码头是一处不为人知的摄影取景去处。</p></li>

			<li><p>三亚是海南少数民族聚集地。</p></li>

   		</ol>

    </article>
    
    <p class="return"><a href="{path="site_cn/index"}">返回</a></p>
    
</main>






