{layout="site_cn/layout" body="authors" title="一座南方岛屿及其美好的一切"}

<header>

    <h1>一座南方岛屿及其美好的一切</h1>

    <p class="title">本章作者</p>

</header>

<main>

    <div>
    
      <div class="avatar">
      
        <img class="author" src="{site_url}assets/images/uploads/zuoxiaobai.jpg"/>
      
      </div>

      <div class="text">
      
        <p>安生，民宿经营者</p>

        <p>小岛土长，现居三亚，热爱旅行，在三亚经营民宿和家庭旅馆。</p>

        <p>微信：<a href="#">feibuguocanghai</a>（快来找我玩）</p>

      </div>

    </div>    

    <div>
      
      <div class="avatar">
      
        <img class="author" src="{site_url}assets/images/uploads/sundie.jpg"/>
      
      </div>

      <div class="text">

        <p>孙蝶，插画师</p>

        <p>小岛土长，现居海口，专职插画师，年龄不详(女孩的心思你别猜你别猜)，在本章足迹中出镜。<p>

        <p>微信：<a href="#">sundiedie</a>（快来找我玩）</p>

      </div>

    </div>

    <div>

    
      <div class="avatar">
      
        <img class="author" src="{site_url}assets/images/uploads/tongxiaoxian.jpg"/>
      
      </div>

      <div class="text">
      
        <p>童孝贤，摄影师</p>

          <p>小岛土长，现居三亚，专职拍摄婚纱及写真，本章的旅行摄影师。</p>

          <p>微信：<a href="#">tongxiaoxian1839</a>（快来找我玩）</p>
                    
      </div>

    </div>
    
    <br>
    <br>

    <hr>

    <p class="title">微信公众号（搜索：南端旅行读本）</p>

    <img class="center" src="{site_url}assets/images/uploads/nanxiaoduan.png" width="80" alt="">

    <p class="slogan">小众旅行｜最美之宿｜独特体验｜翻玩海南</p>

    <p class="title">©2016 漫旅｜南端旅行读本</p>

    <p class="return"><a href="{path="site_cn/index"}">返回</a></p>

</main>