{layout="site_cn/layout" body="contents" title="一座南方岛屿及其美好的一切"}

<main>

    <article>
          
          <time>2016年7月1日 下午8:43</time>

          <h1>一座南方岛屿及其美好的一切</h1>

          <!-- <p><span class="icon-location4"></span></p> -->
          
          <p>海南岛位于中国的最南部，面积3.39万平方公里，在北纬18°11’ ~ 20°11’，东经108°31’ ~ 111°03’之间。海南岛是南海大陆架上的岛屿，原本与雷州半岛相连，后因地质运动形成琼北裂谷形断陷带，海水浸没大裂谷，海南岛与雷州半岛分离，才成为今天的岛屿。</p>


            <img src="{site_url}assets/images/uploads/nanhaiguanyin.jpg">

            <figcaption>建造在三亚市海边的巨大观音像。位于海南三亚南山文化旅游区。高108米。</figcaption>

            <p>这个海水浸没后的大裂谷，就是现在的琼州海峡。这个天然形成的海峡，对我们来说是地理上的障碍。我在小学的时候，每年都会有人试图游到对岸，并且引起电视台直播。那时候我们就围坐在电视机前面，看那些人游泳过去。</p>
          

    </article>
      
    <footer>
    
      <div class="avatar">
      
        <img class="avatar" src="{site_url}assets/images/uploads/zuoxiaobai.jpg"/>
      
      </div>

      <div class="text">
      
        <p>安生</p>
        
        <p>小岛土长，现居三亚，热爱旅行，在三亚经营民宿和家庭旅馆，本文撰稿人。</p>

        <p>微信：<a href="#">feibuguocanghai</a>（快来找我玩）</p>

      </div>

    </footer>

    <p class="return"><a href="{path="site_cn/index"}">返回</a></p>
    
</main>