{layout="site_cn/layout" body="footprints" title="一座南方岛屿及其美好的一切"}


	<header>
		
		<h1>一座南方岛屿及其美好的一切</h1>

   		<p class="title">足迹</p>
	
	</header>

	<main>
		
	    <article class="backstretch">
			
			<div class="overlay">

				<h1><a href="#">寻找记忆中的那碗海南粉</a></h1>

			</div>

	    	<img id="backstretch" src="{site_url}assets/images/uploads/hainanfen.jpg">

	    </article>

	    <article class="backstretch">

			<div class="overlay">

				<h1><a href="#">海滩森林之旅</a></h1>
			
			</div>

	    	<img id="backstretch" src="{site_url}assets/images/uploads/sundie.jpg">

	    </article>

	    <article class="backstretch">
	        			
			<div class="overlay">

				<h1><a href="#">一座精神意义的岛</a></h1>
			
			</div>

        	<img id="backstretch" src="{site_url}assets/images/uploads/sanya.jpg">
			
	    </article>
	        
	</main>

	    <p class="return"><a href="{path="site_cn/index"}">返回</a></p>


<script>
$(document).ready(function() {
	$("article.backstretch").each(function(index) {
		var image = $(this).children("img").attr("src");
  		$(this).backstretch(image, {preload:2});
	});
});	
</script>


