<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>{layout:title}</title>

{exp:minimee:css}
<link rel="stylesheet" type="text/css" href="{site_url}libraries/css/normalize.min.css"/>
<link rel="stylesheet" type="text/css" media="screen" href="{site_url}libraries/css/icon-fonts.css"/>
<link rel="stylesheet" type="text/css" href="{site_url}libraries/css/photoswipe.css">
<link rel="stylesheet" href="{site_url}libraries/css/default-skin/default-skin.css">
<link rel="stylesheet" type="text/css" href="{site_url}libraries/css/site.css"/>
{/exp:minimee:css}

{exp:minimee:js}
<script type="text/javascript" src="{site_url}libraries/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="{site_url}libraries/js/photoswipe.min.js"></script>
<script type="text/javascript" src="{site_url}libraries/js/photoswipe-ui-default.min.js"></script>
<script type="text/javascript" src="{site_url}libraries/js/jquery.backstretch.min.js"></script>
<script type="text/javascript" src="{site_url}libraries/js/site.js"></script>
{/exp:minimee:js}


</head>

<body id="{layout:body}">
	
{layout:contents}

</body>