{layout="site_cn/layout" body="toc" title="一座南方岛屿及其美好的一切"}

<main>

<article>
	
	<p class="english">Chapter.1</p>
    
	<h1>一座南方岛屿及其美好的一切</h1>
    
    <ol>
      <li><a href="#">一座南方岛屿及其美好的一切</a></li>
      <li><a href="#">向海南出发：详尽的出发前准备</a></li>
      <li><a href="#">飞机票及酒店攻略</a></li>
      <li><a href="#">酒店攻略</a></li>
    </ol>

</article>

<article>
	
	<p class="english">Chapter.2</p>
    
	<h1>独步三亚完全锦囊</h1>

    <ol>
      <li><a href="#">三亚12家创意店</a></li>
      <li><a href="#">行走三亚小攻略</a></li>
      <li><a href="#">三亚夜市全体验</a></li>
      <li><a href="#">其他重要景点交通</a></li>
	</ol>

</article>

  <p class="return"><a href="{path="site_cn/index"}">返回</a></p>

</main>
