.fullscreen-video-container {
    background: url('http://themes.yordanoff.net/konstruct/content/1-about/bgr.jpg');
    background-repeat: no-repeat;
    background-position: 40% center;
    background-size: 550px 550px;
}
