{layout="layout/index" title="小夜盲的魔法便当"}

<script>
  AOS.init({
      duration: 1000,
      once: true
  });
</script>

<header>

	<div>
		<h1><a href="#">小夜盲的魔法便当</a></h1>
		<!-- <p>Bag - 0</p>	 -->
	</div>

	<h2>良心品质。</h2>

	<!-- <img id="play_button" src="{site_url}libraries/icons/play_button.svg" alt=""> -->

	<div>

		<time>周二，{current_time format="11:%s %A"}</time>

		<div class="order">Add to Cart</div>

	</div>

		<!-- <img id="backstretch" src="{site_url}assets/images/uploads/BAO-SOHO_Finalcropped.jpg"/> -->
	
	<img id="backstretch" src="{site_url}assets/images/uploads/bentos/DSCF2926-3.jpg"/>

</header>


<main>

	<section>

		<article>

			<h1>给你一点烟火气</h1>
			
			<p>“一个人要好好吃饭”，多像是一种自我安慰，你可以奋力和孤独抵抗，活得郑重其事。</p>
			
			<p>两个人或几个人的时候，一起热气腾腾地吃个饭，就是温暖的触动。</p>
			
			<p>饭桌很小 ，我们可以只谈彼此。</p>
			
			<p>有时候我也说不上对于我吃饭的时候基本沉默无言的习惯是好是坏。前段时间和Z同学一起吃晚饭，吃饭期间，她总会谈起一些话题，大多数情况下我只用简单的字句回应，也不是故作冷漠只是习惯而已。</p>
			
			<p>习惯关注汤碗里薄皮清透的小馄饨；碎碎肉末的米线；软糯咸鲜的皮蛋粥。外婆的教育里食不言与其说是习惯的养成，不如说是对食物宗教式的虔诚。</p>
			
			<p>想起去年冬至，兴致勃勃地买了小锅煮水饺，结果冬至那天，因为种种失误，饺子煮的皮肉分离，表情认真地围着小锅吃煮的不成样子的饺子，汤都喝得不剩。</p>

			<p>我最喜欢的是砂锅伊面，吃过一次之就记在了心上。那家店连一块像样的招牌都没有，店主是一对老年夫妻，丈夫耳聋。去的次数多了，老人家认识我了每次点的面上都盖满了辣酱肉末。细细白白的长面条，鲜翠的青菜叶，油亮的辣椒肉末，加一勺酸菜，砂锅上桌的时候还沸腾着，一边流汗一边吃，很畅快。</p>

			<p>深巷子，美味，也难得。</p>

			<p>以前总有些文艺腔调，觉得谈到吃好像很毁形象，深深的违和感。</p>

			<p>喜欢过那种“愿有人陪你骑马踏花，饮酒沉醉趁年华”“烈酒入喉，一醉方休”“饮遍杜康，看尽繁花”的感觉。现在觉得这些都像是无病呻吟的怨念。</p>

			<p>我宁愿你有处可栖，一蔬一饭尽尝；我宁愿你扎根安生，停止飘零；我宁愿你得遇良人，良辰美景同说。</p>

		</article>
		
	</section>

	<section data-aos="fade-up">

		<img src="{site_url}assets/images/uploads/bentos/DSCF2689-1.jpg"/>
		<img src="{site_url}assets/images/uploads/bentos/DSCF2704.jpg"/>
		<img src="{site_url}assets/images/uploads/bentos/DSCF2699-1.jpg"/>
	
	</section>

	<section>
	
		<h1>Content</h1>
		
		<ul>

			<div>
				<li class="underline"><img src="{site_url}libraries/icons/1809-rice-chopsticks_128.png" width="30" />寿司饭（300g）</li>
				<li>+</li>
				<li><img src="{site_url}libraries/icons/3802-add-pinch_128.png" width="30" />芥末海苔（3g）</li>
			</div>

			<div>
				<li class="underline"><img src="{site_url}libraries/icons/1309-bacon_128.png" width="30" />牛肉培根黄桃卷 x 3</li>
				<li>+</li>
				<li><img src="{site_url}libraries/icons/3301-vinegar_128.png" width="30" />秘制牛肉酱汁（3g）</li>
			</div>

			<li class="underline"><img src="{site_url}libraries/icons/0908-eggs_128.png" width="30" />玉子烧 x 3</li>
			<li><img src="{site_url}libraries/icons/1105-shrimp_128.png" width="30" />炸虾 x 1</li>
			<li><img src="{site_url}libraries/icons/0502-broccoli_128.png" width="30" />西兰花 x 3</li>
			<li><img src="{site_url}libraries/icons/0805-vegetables_128.png" width="30" />什锦翡翠三色蔬菜（200g）</li>

		</ul>

	</section>


	<section>

		<img src="{site_url}assets/images/uploads/bentos/DSCF2731.jpg"/>
		<!-- <img src="{site_url}assets/images/uploads/bentos/DSCF2689-1.jpg"/> -->

	</section>


	<section class="sale">
		
		<h1>Today</h1>

		<p>已售出<span class="sale">11</span>份</p>

		<p>在库存<span class="sale">9</span>份</p>


		<img src="" alt="">
		
		<p>- 半小时送货上门 -</p>

	</section>

	<section>

		<img src="{site_url}assets/images/uploads/BAO-SOHO_Finalcropped.jpg"/>
		<!-- <img src="{site_url}assets/images/uploads/bentos/DSCF2689-1.jpg"/> -->

		<article>
			
			<p>小夜盲是来自小岛的原创生活方式品牌，我们在自营一家小小的咖啡店的同时也贩卖小夜盲牌便当，我们提倡努力健康的生活方式，探寻衣食住行的方方面面～平凡的生活里，认真充实地过好每一天，努力提高每一天的幸福感^_^</p>
			
		</article>

	
	</section>

	<section>
		

		<h1>Brick-and-Mortar</h1>
		
		<p>地址</p>

		<p><a href="#">海口市大英路66号望海国际后巷</a></p>

		<p>小夜盲的魔法便当</p>
		
		<p>©2016-2017</p>

		<!-- <img src="{site_url}assets/images/uploads/WechatIMG72.jpg" alt="小夜盲咖啡馆微信号" width="50"> -->


	</section>

</main>