{layout="layout/index" title="小夜盲的魔法便當"}

<script>
  AOS.init({
      duration: 1000,
      once: true
  });
</script>

<header  data-aos="fade-up">

	<div>
		<h1><a href="#">小夜盲的魔法便當</a></h1>
		<!-- <p>Bag - 0</p>	 -->
	</div>
	
	<div>
		<!-- <p>讓一個人也要好好吃飯的便當</p> -->
		<h2>今日便當，良心品質。</h2>
	</div>
	

	<!-- <img id="play_button" src="{site_url}libraries/icons/play_button.svg" alt=""> -->

	<div>

		<time>週六，11:00 AM</time>

		<div class="order">售價 ¥25.00，配送 ¥3.00</div>

	</div>

		<!-- <img id="backstretch" src="{site_url}assets/images/uploads/BAO-SOHO_Finalcropped.jpg"/> -->
	
	<img id="backstretch" src="{site_url}assets/images/uploads/bentos/DSCF2926-3.jpg"/>

</header>


<main>

	<section data-aos="fade-in">

		<article>

			<h1>給你一點菸火氣</h1>
			
			<p>“一個人要好好吃飯”，多像是一種自我安慰，你可以奮力和孤獨抵抗，活得鄭重其事。</p>
			
			<p>兩個人或幾個人的時候，一起熱氣騰騰地吃個飯，就是溫暖的觸動。</p>
			
			<p>飯桌很小 ，我們可以只談彼此。</p>
			
			<p>有時候我也說不上對於我吃飯的時候基本沉默無言的習慣是好是壞。前段時間和Z同學一起吃晚飯，吃飯期間，她總會談起一些話題，大多數情況下我只用簡單的字句迴應，也不是故作冷漠只是習慣而已。</p>
			
			<p>習慣關注湯碗裏薄皮清透的小餛飩；碎碎肉末的米線；軟糯鹹鮮的皮蛋粥。外婆的教育裏食不言與其說是習慣的養成，不如說是對食物宗教式的虔誠。</p>
			
			<p>想起去年冬至，興致勃勃地買了小鍋煮水餃，結果冬至那天，因爲種種失誤，餃子煮的皮肉分離，表情認真地圍着小鍋吃煮的不成樣子的餃子，湯都喝得不剩。</p>

			<p>我最喜歡的是砂鍋伊麪，吃過一次之就記在了心上。那家店連一塊像樣的招牌都沒有，店主是一對老年夫妻，丈夫耳聾。去的次數多了，老人家認識我了每次點的面上都蓋滿了辣醬肉末。細細白白的長麪條，鮮翠的青菜葉，油亮的辣椒肉末，加一勺酸菜，砂鍋上桌的時候還沸騰着，一邊流汗一邊吃，很暢快。</p>

			<p>深巷子，美味，也難得。</p>

			<p>以前總有些文藝腔調，覺得談到吃好像很毀形象，深深的違和感。</p>

			<p>喜歡過那種“願有人陪你騎馬踏花，飲酒沉醉趁年華”“烈酒入喉，一醉方休”“飲遍杜康，看盡繁花”的感覺。現在覺得這些都像是無病呻吟的怨念。</p>

			<p>我寧願你有處可棲，一蔬一飯盡嘗；我寧願你紮根安生，停止飄零；我寧願你得遇良人，良辰美景同說。</p>

		</article>
		
	</section>

	<section data-aos="fade-up">
		<img src="{site_url}assets/images/uploads/bentos/DSCF3650.jpg"/>
		<!-- <img src="{site_url}assets/images/uploads/bentos/DSCF3486.jpg"/> -->
		<img src="{site_url}assets/images/uploads/bentos/DSCF2704.jpg"/>
		<img src="{site_url}assets/images/uploads/bentos/DSCF3664.jpg"/>
		<img src="{site_url}assets/images/uploads/bentos/DSCF2699-1.jpg"/>
	</section>

	<section>
	
		<h1>Content</h1>
		
		<ul>

			<div>
				<li class="underline"><img src="{site_url}libraries/icons/1809-rice-chopsticks_128.png" width="30" />壽司飯（300g）</li>
				<li>+</li>
				<li><img src="{site_url}libraries/icons/3802-add-pinch_128.png" width="30" />芥末海苔（3g）</li>
			</div>

			<div>
				<li class="underline"><img src="{site_url}libraries/icons/1309-bacon_128.png" width="30" />牛肉培根金針菇卷 x 3</li>
				<li>+</li>
				<li><img src="{site_url}libraries/icons/3301-vinegar_128.png" width="30" />祕製牛肉醬汁（3g）</li>
			</div>

			<li class="underline"><img src="{site_url}libraries/icons/0908-eggs_128.png" width="30" />玉子燒 x 3</li>
			<li><img src="{site_url}libraries/icons/1105-shrimp_128.png" width="30" />炸蝦 x 1</li>
			<li><img src="{site_url}libraries/icons/0502-broccoli_128.png" width="30" />西蘭花 x 3</li>
			<li><img src="{site_url}libraries/icons/0805-vegetables_128.png" width="30" />什錦翡翠三色蔬菜（200g）</li>

		</ul>

	</section>


	<section data-aos="fade-in">

		<h2>良心品質</h2>
		
		<img src="{site_url}assets/images/uploads/bentos/DSCF3463.jpg"/>
		<img src="{site_url}assets/images/uploads/bentos/DSCF3407.jpg"/>
		<img src="{site_url}assets/images/uploads/bentos/DSCF3442-2.jpg"/>

		<!-- <img src="{site_url}assets/images/uploads/bentos/DSCF3618.jpg"/> -->

	</section>


	<section class="sale" data-aos="fade-in">
		
		<h1>Today</h1>

		<p>已售出<span class="sale">11</span>份</p>

		<p>在庫存<span class="sale">9</span>份</p>
		
		<!-- <img src="{site_url}assets/images/uploads/bentos/DSCF2731.jpg"/> -->

	</section>

	<section class="delivery" data-aos="fade-up">
		
		<!-- <h1>外賣</h1> -->
		<div>
			<img src="{site_url}assets/images/uploads/meituan.jpg" width="80" />

			<img src="{site_url}assets/images/uploads/xiaoyemang.jpg" width="90" />
		</div>

		<br>

		<p>- 美蘭區｜龍華區｜秀英區｜瓊山區 -</p>

		<p>- 40分鐘送貨上門 -</p>


	</section>	

	<section>

		<img src="{site_url}assets/images/uploads/BAO-SOHO_Finalcropped.jpg"/>
		<!-- <img src="{site_url}assets/images/uploads/bentos/DSCF2689-1.jpg"/> -->


	
	</section>

	<section data-aos="fade-in">
		

		<h1>Brick-and-Mortar</h1>
		
		<p>實體店自取</p>

		<p><a href="#">大英路66號望海國際後巷</a></p>

		<p data-aos="fade-left"><img src="{site_url}libraries/icons/4502-open-sign_128.png" width="30" /></p>
		
		<p>10:00AM - 10:00PM</p>

		<!-- <img src="{site_url}assets/images/uploads/WechatIMG72.jpg" alt="小夜盲咖啡館微信號" width="50"> -->


	</section>


	
	<section class="team" data-aos="fade-up">


		<h1>Team</h1>
		
		<p>團隊</p>

		<!-- <img src="{site_url}assets/images/uploads/bentos/000041.jpg"> -->

		<div>
			
			<p>Product<br>蔡篤輝、顏清</p>

			<p>Copywriting<br>溫言</p>

			<p>Workflow<br>呂雪倩</p>

			<p>Photography<br>童孝贤</p>

			<p>Companion<br>天天</p>

		</div>


	</section>
	
	<section>


		<p>小夜盲的魔法便當</p>
		<p>微信訂飯</p>

		<!-- <p><img src="{site_url}assets/images/uploads/WechatIMG72.jpg" alt="小夜盲咖啡館微信號" width="50"></p> -->
		
		<p><img src="{site_url}assets/images/uploads/bentos/WechatIMG75.jpg" alt="小夜盲咖啡館微信號" width="200"></p>


		<!-- <p>Little Nightblindness</p> -->

		<article>
			
			<p>平凡的生活裏，認真充實地過好每一天。</p>
			
		</article>
		
		
		<p>©2017</p>

	</section>


</main>