{layout="layout/index" title="小夜盲的魔法便当"}

<header>

	<h1><a href="#">小夜盲的魔法便當</a></h1>	
	
	<p>周二，11:39 PM</p>
	
	
	<div>
		<div class="gallery-screen-description-0 gallery-screen-description section-description add-to-cart" data-product="lapka-pem-set">
			<span class="text">Coming up soon...</span>
			<!-- <a href="#" class="button">Add to cart — ¥32</a> -->
		</div>
	</div>

	<img id="backstretch" src="{site_url}assets/images/uploads/DSCF2926-2.jpg"/>

</header>

<main>
	
	<article>
		<h1>给你一点烟火气。</h1>
		<p>“一个人要好好吃饭”，多像是一种自我安慰，你可以奋力和孤独抵抗，活得郑重其事。</p>
		<p>两个人或几个人的时候，一起热气腾腾地吃个饭，就是温暖的触动。</p>
		<p>饭桌很小 ，我们可以只谈彼此。</p>

<!-- 两个人或几个人的时候，一起热气腾腾地吃个饭，就是温暖的触动。 -->

<!-- 饭桌很小 ，我们可以只谈彼此。</p> -->
	</article>

</main>