{layout="layout/site" title="海南沃尔沃车友会2016年会盛典｜活动费用及报名方法"}

  <section class="document backstretch">

    <header>
        <h1>About.</h1>
        <p>关于</p>
    </header>

    <div>

      <article>
      
      <h2>主办</h2>
      <p class="center">海南沃尔沃车友会<br>Hainan Volvo Owners Club</p>
      <br>
      <br>

      <h2>协办</h2>
      <p class="center">车侠汽车俱乐部<br>Car Knight Automobile Club</p>

      <br>
      <br>
      
      <h2>特别鸣谢</h2>
      <p class="center">沃尔沃（中国）<br>沃窝生活家CLUB<br>汽车之家<br>海南天昌达沃尔沃4S店<br>三亚宝欣隆沃尔沃4S店</p>
      <br>
      <br>

      <h2>官网搭建｜摄影支持</h2>
      <p class="center">V40-童孝贤-55</p>
      <br>
      <br>

      </article>

    </div>
    
    <p id="return"><a href="{path="volvo/index#about"}">返回</a></p>
    
    <img id="backstretch" src="{site_url}assets/images/uploads/service/service.jpg"/>

  </section>