{layout="layout/site" title="海南沃尔沃车友会2016年会盛典｜礼物及奖品"}

  <section class="document backstretch">

    <header>
        <h1>Benefit.</h1>
        <p>礼物及奖品</p>
    </header>

    <div>

      <article>
      
      <h2 style="text-align: left; line-height: 2">沃尔沃（中国）、沃尔沃生活家CLUB、天昌达沃尔沃4S店、三亚宝欣隆沃尔沃4S店提供的更多原厂精品礼品和奖品等着大家，沃尔沃基本保养券、原厂儿童安全座椅、车模、玩偶、售后雨伞、胎压检测仪、沃尔沃mini蓝牙耳机、口罩、眼镜等等等。都是原厂的哦，还有原厂的伴手礼。（以下排名不分先后）</h2>

     <br>
      <br>
      <br>
        <img src="{site_url}assets/images/uploads/volvo/volvochina.png"/ width="200">
        <p class="center">沃尔沃汽车（中国）</p>

     <br>
      <br>
      <br>
        <img src="{site_url}assets/images/uploads/volvo/haikou4s.jpg"/ width="200">
        <p class="center">天昌达沃尔沃4S店</p>
        
     <br>
      <br>
      <br>
        <img src="{site_url}assets/images/uploads/volvo/sanya4s.jpg"/ width="200">
        <p class="center">三亚宝欣隆沃尔沃4S店</p>

     <br>
      <br>
      <br>
        <img src="{site_url}assets/images/uploads/volvo/wowo.jpg"/ width="200">
        <p class="center">沃窝</p>

     <br>
      <br>
      <br>
        <img src="{site_url}assets/images/uploads/volvo/qichezhijia.jpg"/ width="200">
        <p class="center">汽车之家</p>
<p>
  汽车之家提供的奖品和礼品：1. 途虎满300减100通用券（需要的车主提供手机号，入账户）2. 价值69元固特异工具三件套 30份3. 价值129 固特异车载净化器 30份4. 签到礼：途虎定制高级雨刮精 200份 还有更多奖品在路上：） </p>
<!-- 
      <h2>本年会准备了丰富的礼物与奖品</h2>
      <ol>
        <li>沃尔沃基本保养券</li>
        <li>原厂儿童安全座椅</li>
        <li>车模</li>
        <li>玩偶</li>
        <li>售后雨伞</li>
        <li>胎压检测仪</li>
        <li>沃尔沃mini蓝牙耳机</li>
        <li>口罩、眼镜等各种精美礼品</li>
      </ol> -->
      <br>

            <br>
      <br>
      <br>

      
        <h2>另外参与活动的车主每人获得热心车友提供的精品伴手礼一份。</h2>
      <br>
      <br>
      <br>


<h2>赞助车友</h2>
      <br>
      <br>
        <h2>马秋阳，赞助的豆油</h2>

      <br>

        <img src="{site_url}assets/images/uploads/volvo/WechatIMG124.jpeg"/ width="200">
        <p class="center">九三大豆油，坚守非转30年</p>

      <br>
      <br>
      <br>
      <br>


        <h2>王月竹，赞助大果紫檀红木梳子</h2>

      <br>

        <img src="{site_url}assets/images/uploads/volvo/WechatIMG126.jpeg"/ width="200">
        <p class="center">北圣红木，体验式消费</p>


      <br>
      <br>

      <br>
      <br>

        <h2>张泰虹赞助，琼珠星月菩提</h2>

      <br>

        <img src="{site_url}assets/images/uploads/volvo/WechatIMG132.jpeg"/ width="200">
        <p class="center">琼珠工艺：琼珠臻品，传世经典</p>

      <br>
      <br>
      <br>
      <br>

        <h2>姚少玲，赞助雨刮、空调格、刹车油等配件。</h2>

      <br>

        <img src="{site_url}assets/images/uploads/volvo/yao.jpg"/ width="200">
        <p class="center">北鹏汽车零部件：专业为您服务</p>
 
      <br>
      <br>
      <br>
      <br>
       
        <h2>黎佳，赞助200张卡丁车券（100张全免费，另100张半价）。</h2>

      <br>

        <img src="{site_url}assets/images/uploads/volvo/jia.jpg"/ width="200">
        <p class="center">铭投拓展：休闲服务、真人CS镭战、激情卡丁车等</p>
        



      <br>
      <br>
      <br>
      <br>

        <h2>唯晨影像，赞助本次年会摄影。</h2>

      <br>

        <img src="{site_url}assets/images/uploads/volvo/weichen.jpg"/ width="200">
        <p class="center">关注唯晨，了解更多唯晨出品的摄影作品</p>
        


      </article>

    </div>
    
    <p id="return"><a href="{path="volvo/index#benefit"}">返回</a></p>
    
    <img id="backstretch" src="{site_url}assets/images/uploads/service/service.jpg"/>

  </section>