{layout="layout/site" title="海南沃尔沃车友会2016年会盛典｜鸡尾酒会"}


  <section class="document backstretch">

    <header>
        <h1>Cocktail.</h1>
        <p>鸡尾酒会</p>
    </header>

    <div>

      <article>
        
       <h2>**Cocktail Menu**｜**鸡尾酒菜单**</h2>
		
		<br>
		<br>
			
            <h2>Savory｜开胃菜</h2>


        <ol>
            
            <li>Norwegian smoked salmon, mango, basil｜挪威烟熏三文鱼，芒果，紫苏</li>
            <li>Mango with shrimp｜酿芒果鲜虾</li>
            <li>Tuna sasha  with Avocado｜吞拿鱼沙沙配牛油果</li>
            <li>5J Ham, melon, tapenade｜利比里亚火腿，甜瓜，橄榄酱</li>

        </ol>

            <h2>Sweet｜甜品</h2>
        
        <ol>
            <li>芒果闪电泡芙</li>
            <li>玫瑰玛丽马卡龙</li>
            <li>香橙奶油巧克力蛋糕</li>
            <li>柠檬奶油蛋糕</li>
            <li>帕尔玛芝士条</li>
        </ol>



            <h2>Alcohol-free Cocktail｜菜单包含提供无酒精鸡尾酒</h2>


      </article>

    </div>
    
    <p id="return"><a href="{path="volvo/index#cocktail"}">返回</a></p>
    
    <img id="backstretch" src="{site_url}assets/images/uploads/service/service.jpg"/>

  </section>