{layout="layout/site" title="海南沃尔沃车友会2016年会盛典｜活动费用及报名方法"}

  <section class="document backstretch">

    <header>
        <h1>Cost.</h1>
        <p>活动费用及报名方法</p>
    </header>

    <div>

      <article>
      
      <h2>活动费用</h2>

      <ol>
      <li>成人餐费：预收500元／人，实际餐费标准438元／人 ，活动结束账务公开，结余部分作为车友会后续活动基或退回车友。</li>

      <li>儿童收费政策如下:6岁以下儿童免费，6岁12岁 儿童半价，12岁以上儿童全价。</li>

      </ol>
      
      <br>
      <br>

      <br>


      <h2>报名方法</h2>

      <ol>
      <li>车友QQ群(群号:240362132)中私聊管管理员三水  (QQ号:360877387)报名，或者发送短信13976737206报名，或者加微信私信报名(微信号: 13976737206)。 </li>

      <li>儿童收费政策如下:6岁以下儿童免费，6岁至12岁儿童半价，12岁以上儿童全价。</li>

      </ol>

注意:报名须按以下格式:姓名-联系电话-参加人数(如有儿童请备注车龄情况)-车型-车友会车标编号(如无可不写)。如:“三水13976737206-3 (含2岁儿童1人)-S60L-59” 
      
      <br>
      <br>

      <br>
      <br>



      <h2>缴费方式</h2>
        
        <br>
        <img src="{site_url}assets/images/uploads/volvo/zhangchenwei.jpg"/ width="300">
        <p class="center">微信转账</p>

        <p class="center">建设银行转账帐号：5240943520019217<br>户名：张吉伟<br>开户地址：海口市文明东支行</p>

      <br>
     <br>
      <br>

      <br>
      <h2>报名截止</h2>

        <p class="center">2016年12月12日</p>
      <br>
      <br>

      <br>
      <h2>温馨提示</h2>
      
      <p class="center">温馨提示：请正装出席，杜绝穿短裤拖鞋。</p>
      </article>

    </div>
    
    <p id="return"><a href="{path="volvo/index#cost"}">返回</a></p>
    
    <img id="backstretch" src="{site_url}assets/images/uploads/service/service.jpg"/>

  </section>