{layout="layout/site" title="海南沃尔沃车友会2016年会盛典｜年度大餐"}


  <section class="document backstretch">

    <header>
        <h1>Annual Dinner.</h1>
        <p>年度大餐</p>
    </header>

    <div>

      <article>
        
       <h2>**Chilled seafood**｜**海鲜**</h2>
        
        <ol>
            
            <li>Prawn Grass,Snow crab, Mussel,Clam, Blue｜长毛虾,蓝花蟹 青口,翡翠螺</li>
            <li>Sauce--Mature vinegar ,Chili soy sauce,Japan's Dressing,Asia Dressing,Honey mustard Dressing,Tomato Chili peppers sauce,Yellow Lemon,Green Lemon,Hainan Lemon,Tabasco｜汁酱-陈醋、辣酱油、日本汁、亚洲汁、大红浙醋、鸡尾酒汁、蜂蜜芥末汁、黄柠檬、青柠檬、海南小酸桔、辣椒仔</li>

        </ol>
            
        <br>
        <br>

       <h2>**Sashimi and sushi bar**｜**刺身与寿司**</h2>
        
        <ol>
            
            <li>三文鱼刺身、鳗鱼寿司、泰卷、蔬菜卷、加州卷、三色鱼子卷、费城寿司</li>
            <li>Condiment-Soy sauce, Wasabi, Japanese ginger, Japanese radish, Wasabi paste｜汁酱-日本酱油、芥末、日式姜、日本萝卜、芥末膏</li>

        </ol>

        <br>
        <br>

       <h2>**Salad bar – on ice**｜**沙拉吧-冰上**</h2>
        
        <ol>
            
            <li>Caesar salad and condiments｜凯撒沙拉及配料</li>
            <li>Lettuces- Romaine, lollo rosso, iceberg, arugula｜西生菜、红叶生菜、莴苣生菜、芦生菜</li>
            <li>Carrot, celery, red bell pepper, cherry tomato, artichokes, olives, capers, shaved parmesan｜胡萝卜、西芹、红灯笼椒、圣女果、洋蓟、橄榄、帕玛臣芝士块</li>
            
        </ol>

        <br>
        <br>

        <h2>**Western and Chinese Salad**｜**中西式沙拉**</h2>

        <br>
        <br>

        <h2>**Seafood Salad**｜**海鲜沙拉**</h2>

        <ol>
            <li>泰式海鲜沙拉、泰式牛肉沙拉、酸奶黄瓜沙拉\{现做}新鲜意大利火腿帕玛臣芝士、酸黄瓜、特级初榨橄榄油、香醋</li>
        </ol>

        <br>
        <br>

        <h2>**SOUP 汤**</h2>
        <ol>
            <li>Ceram Pumpkin soup｜奶油南瓜汤</li>
            <li>Mushroom soup｜茶树菇老鸡汤</li>
        </ol>

        <br>
        <br>

        <h2>**西式主菜**</h2>
        <ol>
            <li>Braised Pork with Mustard, Chive and Rosemary｜茴香烩鸭腿</li>
            <li>Sauteed Seasonal Vegetable with garlic｜蒜香时蔬</li>
            <li>意式通心粉</li>
            <li>意式烩鱿鱼茄汁</li>
            <li>Hungarian goulash｜匈牙利烩牛肉</li>            
        </ol>
                             
        <br>
        <br>

        <h2>**Carving station**｜**烧烤台**</h2>
        
        <ol>
            <li>Slow roasted US beef rib, red wine jus｜慢烤美国牛排配红酒汁</li>
            <li>慢烤羊腿</li>
            <li>Suckling pig｜中式乳猪</li>
            <li>Roast potatoes with confit garlic and rosemary, Sautee mushrooms with goose liver｜烤马铃薯配蒜蓉迷迭香鸭腿、鹅肝油炒蘑菇</li>            
        </ol>

        <br>
        <br>        
        
        <h2>**开胃菜档**</h2>

        <ol>
            <li>蔬菜和香菜春卷、辣椒和甜酱油蘸酱</li>
            <li>火腿和奶酪肉饼</li>
        </ol>


        <br>
        <br>

        <h2>**Pizza**｜**披萨**</h2>

        <ol>
            <li>Margharita pizza|玛格丽特披萨</li>
            <li>榴莲披萨</li>
            <li>帕玛火腿披萨|Asian food</li>
        </ol>

        <br>
        <br>
        
        <h2>**亚式主菜**</h2>
        <ol>
            <li>黑椒牛仔骨</li>
            <li>Steamed grouper｜清蒸石斑鱼</li>
            <li>金沙烤排骨</li>
            <li>soup baby food｜长流黑豆腐焖东山羊</li>
            <li>上汤娃娃菜</li>
            <li>Steamed rice｜蒸香米</li>
            <li>豉黄油炒面</li>
        </ol>
                    
        <br>
        <br>

        <h2>**甜品档口**</h2>
        <ol>
            <li>Calamansi cheese cake｜提拉米苏蛋糕</li>
            <li>Chocolate brownie｜巧克力布朗尼</li>
            <li>Carrot cake｜经典胡萝卜蛋糕</li>
            <li>Durian cake｜榴莲蛋糕</li>                 
            <li>Black forest cake｜黑森林蛋糕</li>
            <li>Cheese cake｜芝士蛋糕</li>
            <li>Bread Station／soft roll/hard roll/Whole Wheat Roll/Rye Roll/Coconut Roll｜软包、硬包、全麦包、黑裸麦包、椰蓉包</li>
        </ol>
        
                              
        <br>
        <br>
   <h2>**冰激凌档口**</h2>
    <ol>

    <li>Seasonal freshly cut fruit station｜时令新鲜水果档</li>
    <li>chocolate, raspberry, mango sauce; walnut, macadamia nuts，wafer chip｜香草冰激凌、巧克力冰激凌、草莓冰激凌、芒果冰激凌、巧克力汁、桑莓汁、芒果汁、核桃、杏仁、薄脆片</li> 
        
    </ol>



      </article>

    </div>
    
    <p id="return"><a href="{path="volvo/index#dinner"}">返回</a></p>
    
    <img id="backstretch" src="{site_url}assets/images/uploads/service/service.jpg"/>

  </section>