{layout="layout/site" title="海南沃尔沃车友会2016年会盛典"}

	{layout:set name="description"}大屈影像的服务与价格{/layout:set}

	<section class="backstretch swiper-container">
		
		<div class="swiper-wrapper">

	        <div class="swiper-slide" data-hash="mini">
	        	<a href="{path="volvo/schedule"}">
					<h1>Schedule.</h1>
					<p>活动流程</p>
				</a>
	        </div>
	        
	        <div class="swiper-slide" data-hash="cocktail">
	        	<a href="{path="volvo/cocktail"}">
					<h1>Cocktail.</h1>
					<p>鸡尾酒会</p>
				</a>
	        </div>

	        <div class="swiper-slide" data-hash="dinner">
	        	<a href="{path="volvo/dinner"}">
					<h1>Annual Dinner.</h1>
					<p>年度大餐</p>
				</a>
	        </div>

	        <div class="swiper-slide" data-hash="benefit">
	        	<a href="{path="volvo/benefit"}">
					<h1>Benefit.</h1>
					<p>礼物及奖品</p>
				</a>
	        </div>

	        <div class="swiper-slide" data-hash="cost">
	        	<a href="{path="volvo/cost"}">
					<h1>Cost.</h1>
					<p>活动费用及报名方法</p>
				</a>
	        </div>

	        <div class="swiper-slide" data-hash="about">
	        	<a href="{path="volvo/about"}">
					<h1>About.</h1>
					<p>关于</p>
				</a>
	        </div>


		</div>

        <div class="swiper-pagination"></div>
	
		<footer>
			<p id="da-qu">海南沃尔沃车友会2016年会庆典</a></p>
		</footer>
		
		<img id="backstretch" src="{site_url}assets/images/uploads/service/bokeh.jpg"/>

	</section>