{layout="layout/site" title="海南沃尔沃车友会2016年会盛典｜活动流程"}

  <section class="document backstretch">

    <header>
        <h1>Schedule.</h1>
        <p>活动流程</p>
    </header>

    <div>

      <article>

      <h2>Hainan Volvo Owners Club 2016 年会庆典</h2>
        <br></br>
      <p>2016年12月17日(周六) 下午15:30，年会场所: 香格里拉酒店3号院，现报名人数已经过百，沃尔沃各类车辆70余 ，想要参加的车友请抓紧时间报名。 以心作画，描摹光影，水样年华，一年一会。将难得瞬间凝成温存永恒。</p>
        <br></br>
        <br>
        <br>
        <br>

    <h2>活动流程: </h2>

        <ol>
            <li>15:30-16:50 车友自行到香格里拉酒店礼堂签到，签名墙合影留念，领取本次年会的胸卡、伴手礼。</li>

            <li>16:30 车友至晚宴区，享用餐前参加鸡尾酒(无酒精)互动交流。晚宴区位于一楼大宴会厅。</li>

            <li>18:00-18:05 主持人致开场词，介绍来宾。</li>

            <li>18:05-18:15 车友会一年大事件回顾。</li>

            <li>18:15-18:20 海南天昌达沃尔沃4S店杜志永总经理致辞。</li>

            <li>18:30-18:35 三亚宝欣隆沃尔沃4S店总经理助理赵利国颁发车友会年度特殊贡献奖。</li>

            <li>18:35-18: 45 特邀天昌达沃尔沃4S店技术主管盛苗先生介绍安全用车与保养经验分享。</li>

            <li>18:45-19:00 全家福合影。</li>

            <li>19:00-21:00 用餐</li>

            <li>19:30、20:00、20:30 、21:00 餐整点抽奖</li>

            <li>19:00-22:00 穿插有奖竞答。</li>

            <li>22:00结束，驱车返回。</li>
        </ol>
      </article>

    </div>
    
    <p id="return"><a href="{path="volvo/index#schedule"}">返回</a></p>
    
    <img id="backstretch" src="{site_url}assets/images/uploads/service/service.jpg"/>

  </section>