{layout="layout/index" title="大屈影像 - 有礼 - 摄影工作室 - 广州 - 深圳 - 三亚 - 海口"}

	{layout:set name="description"}大屈摄影工作室的团购及限时优惠{/layout:set}

	<section class="document backstretch">

		<header>
			<h1>Promotions.</h1>
			<p>有礼</p>
		</header>

		    <div>

			    <article>
						
					<h2>A. 限时特惠</h2>
					
					<ol>
						<li><a href="{path="service/portrait"}">写真及婚拍</a>、<a href="{path="service/flowers"}">花事</a>、<a href="{path="service/Children"}">家庭／小时候</a>现冬季促销中，活动有效期至2017年3月31日。</li>
						<li>凡生日当天到大屈消费的小伙伴，凭身份证享受暖心优惠。</li>
					</ol>

					<br>
					<br>

					<h2>B. 分享有礼</h2>

					<ol>
						<li>分享大屈任一<a href="{path="home/index"}">官网</a>页面至自己的朋友圈，可获代金券10元／次（最高可获100元），可用于<a href="{path="service/id"}">工作&amp;证件照</a>的消费。联系<a href="{path="about/wechat"}">大屈客服</a>领取。活动有效期至2016年12月31日。</li>

						<li>分享大屈任一<a href="{path="about/public"}">公众号</a>文章给自己的好友圈，可获代金券10元／次（最高可获100元），可用于<a href="{path="service/mini"}">大屈Mini写真</a>的消费。联系<a href="{path="about/wechat"}">大屈客服</a>领取。活动有效期至2016年12月31日。</li>

					</ol>

					<br>
					<br>

					<h2>C. 公益拍摄</h2>

					<ol>
						<li>大屈积极参与公益类活动的拍摄，包括对于贫困学校／地区的支援活动摄影，残障人士／弱势群体的爱心捐助项目的活动摄影等等，均可申请免费的摄影援助。如有需要请联系<a href="{path="about/wechat"}">大屈客服</a>。</li>
					</ol>

					<br>
					<br>

					<h2>D. 问卷调查</h2>

					<ol>
						<li>做问卷调查，可获额外优惠。<a href="https://daqustudio.typeform.com/to/IjjPOt">点击此处开始</a>。</li>
					</ol>

			    </article>

			
		    </div>

			<p id="return"><a href="{path="service/index#promotions"}">返回</a></p>
			
			<img id="backstretch" src="{site_url}assets/images/uploads/service/service.jpg"/>

		</section>

