{layout="layout/index" body="photography" header="black solid_white" service="work" title="大屈攝影（摄影）- 摄影工作室 - 專門写真店 - 广州 &amp; 深圳 &amp; 三亚 &amp; 海口"}

	{layout:set name="description"}大屈攝影（摄影）- 摄影工作室的写真及婚拍類作品展示，包含了歷年來大屈創作的写真及婚拍攝影精選。{/layout:set}

	<main class="black">

		<div class="backstretch banner">

			<img id="backstretch" src="{site_url}assets/images/uploads/photography/XIAO_YU_DSC0007.jpg"/>

			<!-- <img id="backstretch" src="{site_url}assets/images/uploads/photography/_DSF4207.jpg" width="38"/> -->

					
		</div>

		<div class="placeholder">

			<div class="guide">
				<span class="icon-phone-portrait orientation"></span>
				<p class="mention">* 上下滑動或翻轉屏幕瀏覽</p>
			</div>

		</div>

		<section>
			
			<p>大屈是来自小島的原創攝影品牌，在這裡可以拍到溫暖的写真集以及最美的肖像照，更有精緻的相片書以及深入的旅行指南跟大家分享～從快門按下的那一刻，回憶就被永遠珍藏在相片裡了。^_^</p>

			<ul id="links">
				<li class="underline"><span><a href="{path="sample/wedding/dominick-klaudyna-01"}">最新作品</a></span></li>
				<li class="underline"><span><a href="{path="photography/about"}">問答Q&amp;A</a></span></li>
				<li class="underline"><span><a href="{path="photography/promotions"}">當季優惠</a></span></li>
				<li class="underline"><span><a href="{path="service/index"}">預訂拍攝</a></span></li>
			</ul>

			<p>營業時間：10am to 11pm<br>（周二休息）</p>

			<p>工作城市：广州 &amp; 深圳 &amp; 三亚 &amp; 海口</p>

			<div class="series">
				<img src="{site_url}assets/images/uploads/photography/xkhmpi6ait8-chantel-lucas2.jpg" alt="">
			</div>

		</section>

	</main>
