{layout="layout/index" header="black solid_white" title="大屈影像 - 写真及婚拍 - 写真摄影工作室 - 广州 - 深圳 - 三亚 - 海口"}

	{layout:set name="description"}大屈写真摄影工作室的写真及婚拍类作品展示，包含了历年来大屈影像创作的写真及婚拍摄影精选。{/layout:set}

	<main id="photography" class="black">

		<div class="backstretch banner">

			<img id="backstretch" src="{site_url}assets/images/uploads/photography/_DSF4207.jpg" width="38"/>
					
		</div>

		<div class="placeholder">

			<div class="guide">
				<span class="icon-phone-portrait orientation"></span>
				<p>* 上下滑动或翻转屏幕浏览</p>
			</div>

		</div>

		<section>
			
			<p>大屈是往返广东省及海南岛的摄影工作室，在这里可以拍到温暖的写真集以及最美的证件照，更有精致的相片书以及深入的旅行指南跟大家分享～从快门按下的那一刻，回忆就被永远珍藏在相片里了。</p>

			<ul>
				<li class="underline"><span><a href="{path="about/index"}">了解团队</a></span></li>
				<li class="underline"><span><a href="{path="about/index"}">Q&amp;A</a></span></li>
				<li class="underline"><span><a href="{path="promotions/index"}">优惠</a></span></li>
				<li class="underline"><span><a href="{path="service/index"}">预订拍摄</a></span></li>
			</ul>

			<p>营业时间：1pm to 10pm<br>（周二休息）</p>

			<p>工作地点：广州、深圳、三亚、海口</p>	
			
			<div class="series">
				<img src="{site_url}assets/images/uploads/photography/xkhmpi6ait8-chantel-lucas.jpg" alt="">
			</div>

		</section>

	</main>
