{layout="layout/index" body="latest" header="black" service="portrait" title="大屈攝影（摄影）工作室 - 專門写真店 - 廣州（广州） - 深圳 - 三亞（三亚） - 海口 － 攝影工作室"}

    {layout:set name="description"}大屈攝影（摄影）工作室的写真及肖像類作品展示，包含了歷年來大屈攝影（摄影）工作室創作的写真及肖像攝影精選。{/layout:set}

    <main class="black">

        <section>
            
            <article>


                <img src="{site_url}assets/images/uploads/photography/DSCF3232.jpg" alt="">
                
                <h1><a href="#">南渡江邊尋古意</a></h1>
                
                <div>
                    <p class="tag">CASE STUDY</p>
                    <time>FEBRUARY 7, 2017</time>
                </div>
                
                <p>日子如流沙，點點從指縫中漏掉，不知不覺，後知後覺。偶爾黑雲帶來一陣急雨，突兀沾溼了閒愁。</p>

                <p class="more">Read more</p>

            </article>
<!--             
            <article>
                
                <img src="{site_url}assets/images/uploads/photography/_DSF4298.jpg" alt="">

                <h1><a href="#">只分世界一個小角落就好</a></h1>
                
                <div>
                    <p class="tag">CASE STUDY</p>
                    <time>FEBRUARY 7, 2017</time>
                </div>
                
                <p>身體再風塵僕僕疲憊不堪，眼神也一定要明亮溫暖；居所再狹窄逼仄，牀舖也一定要乾淨柔軟；生活再流浪顛簸，也一定要給爸媽按時報平安。夜深可熟睡，樂時可舉杯。深夜裏暖黃色的麪包店，寒風中街道邊的烤紅薯攤，我們很小，只分世界一個小角落就好。</p>

                <p class="more">Read more</p>

            </article> -->

        </section>

    </main>
