{layout="layout/index" body="promotions" footer="none" service="portrait" title="大屈影像 - 當季優惠 - 攝影工作室 - 廣州 - 深圳 - 三亞 - 海口"}

{layout:set name="description"}大屈攝影工作室的當季優惠{/layout:set}

    <main>

	    <div class="backstretch background">

	        <img id="backstretch" src="{site_url}assets/images/uploads/photography/abvidoolyu8-greg-shield.jpg"/>
	                
	    </div>
	    
	    <section>

		    <article>

				<h1>Promotions</h1>

				<h2>A. 限時特惠</h2>
				
				<ol>
					<li>写真及肖像、花事、家庭／小時候現促銷中，活動有效期至2017年12月31日。</li>
					<li>凡生日當天到大屈消費的小夥伴，憑身份證享受暖心優惠。</li>
				</ol>

				<h2>B. 分享有禮</h2>

				<ol>
					<li>分享大屈官網至自己的微信朋友圈／Facebook，可獲代金券50元，活動有效期至2017年12月31日。</li>
					<li>分享大屈公眾號至自己的微信朋友圈／Facebook，可獲代金券50元。活動有效期至2017年12月31日。</li>
				</ol>

				<h2>C. 團體拍攝</h2>

				<ol>
					<li>超過5人以上的證件照&amp;形象照拍攝均可享9折優惠。</li>
				</ol>
				
				<h2>D. 問卷調查</h2>

				<ol>
					<li>做問卷調查，可獲額外優惠。<a href="https://daqustudio.typeform.com/to/IjjPOt">點擊此處開始</a>。</li>
				</ol>

		    </article>
		
		</section>

	    <p class="return"><a href="{path="photography/index"}">返回</a></p>

    </main>
    
