{layout="layout/index" body="promotions" header="black" footer="none" service="portrait" title="大屈影像 - 当季优惠 - 摄影工作室 - 广州 - 深圳 - 三亚 - 海口"}

{layout:set name="description"}大屈摄影工作室的当季优惠{/layout:set}

    <main class="black">

	    <div class="backstretch background">

	        <img id="backstretch" src="{site_url}assets/images/uploads/photography/qpqkd1tjdte-david-grandmougin.jpg"/>
	                
	    </div>
	    
	    <section>

		    <article>

				<h1>Promotions</h1>

				<h2>A. 限时特惠</h2>
				
				<ol>
					<li>写真及肖像、花事、家庭／小时候现促销中，活动有效期至2017年12月31日。</li>
					<li>凡生日当天到大屈消费的小伙伴，凭身份证享受暖心优惠。</li>
				</ol>

				<h2>B. 分享有礼</h2>

				<ol>
					<li>分享大屈官网至自己的朋友圈，可获代金券50元，活动有效期至2017年12月31日。</li>
					<li>分享大屈公众号至自己的朋友圈，可获代金券50元。活动有效期至2017年12月31日。</li>
				</ol>

				<h2>C. 团体拍摄</h2>

				<ol>
					<li>超过10人以上的证件照&amp;形象照拍摄均可享9折优惠。</li>
				</ol>
				
				<h2>D. 问卷调查</h2>

				<ol>
					<li>做问卷调查，可获额外优惠。<a href="https://daqustudio.typeform.com/to/IjjPOt">点击此处开始</a>。</li>
				</ol>

		    </article>
		
		</section>

	    <p class="return"><a href="{path="photography/index"}">返回</a></p>

    </main>
    

