{layout="layout/index" body="schedule" header="white" service="potrait" footer="none" title="大屈影像 - Q&amp;A - 摄影工作室 - 广州 - 深圳 - 三亚 - 海口"}

{layout:set name="description"}大屈摄影工作室的介绍以及摄影问答Q&amp;A{/layout:set}

    <main>
       	
		<div class="backstretch background">

            <img id="backstretch" src="{site_url}assets/images/uploads/service/bokeh.jpg"/>
                    
        </div>
	    
	    <section>

			<h2>Jan 23 – Jan 9</h2>
			<p>证件照&amp;形象照：<i>sold</i><br>Mini：<i>sold</i><br>写真及肖像：<i>sold</i><br>花事：<i>sold</i><br>家庭／小时候：<i>sold</i></p>

			<h2>Jan 30 – Feb 5</h2>
			<p>证件照&amp;形象照：<a href="{path="service/wechat"}">预订</a><br>Mini：<a href="{path="service/wechat"}">预订</a><br>写真及肖像：<i>sold</i><br>花事：<i>sold</i><br>家庭／小时候：<i>sold</i></p>

			<h2>Feb 6 – Feb 12</h2>
			<p>证件照&amp;形象照：<a href="{path="service/wechat"}">预订</a><br>Mini：<a href="{path="service/wechat"}">预订</a><br>写真及肖像：<i>sold</i><br>花事：<a href="#">预订</a><br>家庭／小时候：<a href="{path="service/wechat"}">预订</a></p>

			<h2>Feb 13 – Feb 19</h2>
			<p>证件照&amp;形象照：<a href="{path="service/wechat"}">预订</a><br>Mini：<i>sold</i><br>写真及肖像：<a href="{path="service/wechat"}">预订</a><br>花事：<i>sold</i><br>家庭／小时候：<a href="{path="service/wechat"}">预订</a></p>
		
			<p>* 预订拍摄时间请联系<a href="{path="service/wechat"}">大屈的官方微信</a></p>
        
		</section>

		<p class="return"><a href="{path="photography/index"}">返回</a></p>

    </main>
    


