{layout="layout/index" body="schedule" header="white" service="potrait" footer="none" title="大屈影像 - Q&amp;A - 摄影工作室 - 广州 - 深圳 - 三亚 - 海口"}

{layout:set name="description"}大屈摄影工作室的介绍以及摄影问答Q&amp;A{/layout:set}

    <main>
       	
		<div class="backstretch background">

            <img id="backstretch" src="{site_url}assets/images/uploads/service/bokeh.jpg"/>
                    
        </div>
	    
	    <section>
			
			<div>
				<h2>Jan 23 – Jan 9</h2>
				<ul>
					<li>证件照&amp;形象照：<i>sold</i></li>
					<li>Mini：<i>sold</i></li>	
					<li>写真及肖像：<i>sold</i></li>
					<li>花事：<i>sold</i></li>
					<li>家庭／小时候：<i>sold</i></li>
				</ul>
			</div>

			<div>
				<h2>Jan 30 – Feb 5</h2>
				<ul>
					<li>证件照&amp;形象照：<i>sold</i></li>
					<li>Mini：<i>sold</i></li>	
					<li>写真及肖像：<i>sold</i></li>
					<li>花事：<i>sold</i></li>
					<li>家庭／小时候：<i>sold</i></li>
				</ul>
			</div>
			
			<div>
				<h2>Feb 6 – Feb 12</h2>
				<ul>
					<li>证件照&amp;形象照：<i>sold</i></li>
					<li>Mini：<i>sold</i></li>	
					<li>写真及肖像：<i>sold</i></li>
					<li>花事：<i>sold</i></li>
					<li>家庭／小时候：<i>sold</i></li>
				</ul>
			</div>
			
			<div>
				<h2>Feb 13 – Feb 19</h2>
				<ul>
					<li>证件照&amp;形象照：<i>sold</i></li>
					<li>Mini：<i>sold</i></li>	
					<li>写真及肖像：<i>sold</i></li>
					<li>花事：<i>sold</i></li>
					<li>家庭／小时候：<i>sold</i></li>
				</ul>
			</div>
        
		</section>

		<p class="center">* 预订拍摄时间请联系<a href="{path="service/wechat"}">大屈的官方微信</a></p>


		<p class="return"><a href="{path="photography/index"}">返回</a></p>

    </main>
    


