{layout="layout/index" title="大屈影像 - 服务与价格 - 写真摄影工作室 - 广州 - 深圳 - 三亚 - 海口"}

	{layout:set name="description"}大屈写真摄影工作室的服务与价格{/layout:set}

	<section class="backstretch swiper-container">
		
		<div class="swiper-wrapper">

	        <div class="swiper-slide" data-hash="work">
	        	<a href="http://images.da-qu.com">
					<h1>影像.</h1>
					<p>Images</p>
				</a>
	        </div>

	        <div class="swiper-slide" data-hash="mini">
	        	<a href="http://prints.da-qu.com">
					<h1>印铺.</h1>
					<p>Prints</p>
				</a>
	        </div>

		</div>

        <!-- <div class="swiper-pagination"></div> -->
	
		<footer>
			<p>大屈</p>
		</footer>
		
		<img id="backstretch" src="{site_url}assets/images/uploads/about.jpg"/>

	</section>