{layout="layout/index" title="大屈影像 - 写真作品精选 - 写真摄影工作室 - 广州 - 深圳 - 三亚 - 海口"}

{exp:channel:entries channel="portrait" limit="1" orderby="random" disable="categories|member_data"}

	{layout:set name="description"}大屈写真摄影工作室的写真及婚拍类作品展示，包含了历年来大屈影像创作的写真及婚拍摄影精选。{/layout:set}

	<header id="header" class="header header--fixed hide-from-print" role="banner">
		
		<h1>大屈摄影工作室</h1>
		

		<nav>
		  <ul>
		    <li><a {if segment_1 == '' OR segment_1 == 'suites'}class="current" {/if}href="{path="suites/index"}">影像</a></li>
		    <li><a {if segment_1 == 'dining'}class="current" {/if}href="{path="dining/index"}">印铺</a></li>
		    <li><a {if segment_1 == 'dining'}class="selected" {/if}href="{path="dining/index"}">旅行</a></li>
		    <li><a {if segment_1 == 'dining'}class="selected" {/if}href="{path="dining/index"}">指南</a></li>
		  </ul>
		</nav>

		<a href="{path="home/index"}"><img src="{site_url}assets/images/uploads/public/calendar2.png" width="38"/></a>

	</header>

	<section class="backstretch">

		<header>
			<p>欢迎来到大屈*</p>
			<h1>Welcome.</h1>
		</header>

		<footer>
			<span class="icon-phone-portrait orientation"></span>
			<p>* 上下滑动或翻转屏幕浏览</p>
		</footer>
	
		{portrait_cover}
			<img id="backstretch" src="{url}" width="{exp:mx_calc expression="{width}/2"}" height="{exp:mx_calc expression="{height}/2"}">
		{/portrait_cover}

	</section>

	<section class="flow">

		<div>

		<h2>时光</h2>
		<p>在漫长岁月中，我们会路过许多风景，也会遇到许多让你欢喜亦或悲伤的人。当时间从指缝中悄无声息流走的时候，那些曾惊艳你某段时光的人，也在不知不觉中走散了，留下来的，只有仍站在原地等故人重游的风景。相机存在的意义，正是用镜头为你记录下斑驳记忆中，那些早已黯然失色的一帧帧画面。也许你已经忘记为你按下快门的人是谁，也记不太清出游的原因，但照片里那个笑靥如花的画面，是真实存在过的。</p>

		</div>

		<div>
			<img src="{site_url}assets/images/uploads/portrait/TAO_YUAN_FLM0106.jpg" width="300" />
		</div>

	</section>



	<section class="backstretch">

		<header>
			<p>工作地点：广州／深圳／海南</p>
			<h1>Guangdong and Hainan.</h1>
			<!-- <p>工作地点：海南岛</p> -->
			<!-- <h1>See you in Hainan</h1> -->
			<br>
			<br>
			<br>
			<p>预订拍摄：<a href="{path="about/wechat"}">daqustudio</a></p>

			
		</header>

		<footer>
			<p><a href="{path="about/public"}">微信公众号</a></p>
		</footer>

		{portrait_footer}
			<img id="backstretch" src="{url}" width="{exp:mx_calc expression="{width}/2"}" height="{exp:mx_calc expression="{height}/2"}">
		{/portrait_footer}
		
	</section>
	
	<a href="{path="service/index#portrait"}">
	<section>
		<span class="pointer">&#8681;</span>
		<p class="direction">点击查看样张及价格</p>
		<span class="icon-camera guide"></span>
	</section>
	</a>
<!-- 
	<a href="{path="home/arts"}">
	<section>
		<span class="pointer">&#8681;</span>
		<p class="direction">点击查看黑白作品</p>
		<span class="icon-camera guide"></span>
	</section>
	</a>	 -->

{/exp:channel:entries}