<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

<title>屈家印铺</title>

{exp:minimee:css}
<link rel="stylesheet" type="text/css" href="{site_url}libraries/css/normalize.css"/>
{/exp:minimee:css}

<style>


@charset "utf-8";
/* CSS Document */

/* ==========================================================================
   Body
   ========================================================================== */

*, *:before, *:after {
    box-sizing: border-box;
}

html {
  /*background-color: #f1f1f1;*/
}

ul {
  -webkit-padding-start: 0px;
}

ol {
  /*-webkit-padding-start: 0px;*/
}

</style>

</head>

<body>
	
	<header>

	</header>

	<main>
  
	</main>

</body>

</html>
	