{layout="home/layout"}

<main>

    <!-- <a href="#"><span class="icon-menu7"></span></a> -->

    <!-- <h1 class="name">NCoffeeShop</h1> -->

    <img id="backstretch" src="{site_url}assets/images/uploads/000009.jpg"/>


    <section class="wechat">
    
    <p>「你好，初次見面。」</p>

    <!-- <p>一间店、三两桌、四五茶食、六七点、八九伙伴、十小凳、几数知心话。——小夜盲</p> -->

    <!-- <p>微信：littlenightblindness</p> -->
    
    <!-- <p><img id="wechat" src="{site_url}assets/images/uploads/littlenightblindness.jpg" width="150" height="150" /></p> -->


    </section>

</main>

