{layout="layout/index" title="大屈门店"}

<header>
	<h1>大屈门店｜海南岛</h1>
	<img src="{site_url}assets/images/uploads/home/search.png" width="16" height="16">
</header>

<nav>
	<ul>
		<li><a {if segment_1 == '' OR segment_1 == 'suite'}class="selected" {/if}href="{path="suite/index"}">房间</a></li>
		<li><a {if segment_1 == 'dining'}class="selected" {/if}href="{path="dining/index"}">餐厅</a></li>
		<li><a {if segment_1 == 'guide'}class="selected" {/if}href="{path="guide/index"}">指南</a></li>
		<li><a {if segment_1 == 'nearby'}class="selected" {/if}href="{path="nearby/index"}">周边</a></li>
	</ul>
</nav>

<main>
	
	<section class="backstretch">

		<img id="backstretch" src="{site_url}assets/images/uploads/guide/guide.jpg"/>
	
	</section>

	<section>
		
		<p>在人潮拥挤的繁华都市，一腔孤勇。家乡小城的安适闲淡弃之，如小小的蜗牛，一步步缓慢却坚定地朝前爬去，简陋的生活，光亮的未来，看似格格不入，却也适应现实。狭小逼仄的空间，阴暗潮冷的地下室，梦想哪分什么高低贵贱呢，有了它，平凡的路也有几分熠熠生辉的味道。在熙熙攘攘的地铁站，偶遇爱情。在异乡的城市拥有难得的温情。</p>

	</section>

	<section>

		<h1>住宿</h1>
		<ul class="block">
			<li><a href="#">怎样来大屈门店？</a></li>
		</ul>

	</section>

	<section>

		<h1>机票</h1>
		<ul class="block">
			<li><a href="#">怎样买到一张便宜的飞机票？</a></li>
		</ul>

	</section>

	<section>

		<h1>攻略</h1>
		<ul class="block">
			<li><a href="#">两天三晚攻略</a></li>
		</ul>

	</section>

	<section>

		<h1>餐饮</h1>
		<ul class="block">
			<li><a href="#">来海南吃什么？</a></li>
		</ul>

	</section>

</main>

<footer>
	<p><a href="#">查看我们的微信公众号</a></p>
</footer>

