{layout="layout/site" type="black" title="大屈影像 - 写真作品精选 - 写真摄影工作室 - 广州 - 深圳 - 三亚 - 海口"}

	{layout:set name="description"}大屈写真摄影工作室的写真及婚拍类作品展示，包含了历年来大屈影像创作的写真及婚拍摄影精选。{/layout:set}

	<header id="header" class="white">
	    
		<h1>大屈摄影工作室</h1>

		<nav>
	    	<ul>
		        <li><a {if segment_1 == '' OR segment_1 == 'photography'}class="current" {/if}href="{path="photography/index"}">影像</a></li>
				<li><a {if segment_1 == 'printing'}class="current" {/if}href="{path="printing/index"}">印铺</a></li>
				<li><a {if segment_1 == 'service'}class="current" {/if}href="{path="service/index"}">服务及价格</a></li>
				<li><a {if segment_1 == 'wechat'}class="current" {/if}href="{path="wechat/index"}">公众号</a></li>
			</ul>
		</nav>

		<a href="#"><img src="{site_url}libraries/icons/menu_black.png" width="46"/></a>

	</header>