{layout="layout/index" body="printing" header="black" service="work" footer="black" title="大屈攝影（摄影）- 摄影工作室 - 印舖 - 深圳 &amp; 廣州 &amp; 三亚 &amp; 海口"}

	{layout:set name="description"}大屈攝影（摄影）- 摄影工作室的印舖及產品{/layout:set}

	<main class="black">
		
		<div class="gallery">

			<img src="{site_url}assets/images/uploads/printing/Faculty-Truvelle-Wedding-Gown-Lookbook-2016-Design-1w.jpg" alt="">
			<img src="{site_url}assets/images/uploads/printing/Faculty-Truvelle-Wedding-Gown-Lookbook-2016-Design-2w.jpg" alt="">
			<img src="{site_url}assets/images/uploads/printing/Faculty-Truvelle-Wedding-Gown-Lookbook-2016-Design-Process-2w.jpg" alt="">
			<img src="{site_url}assets/images/uploads/printing/Faculty-Truvelle-Wedding-Gown-Lookbook-2016-Design-3w.jpg" alt="">
			<img src="{site_url}assets/images/uploads/printing/Faculty-Truvelle-Wedding-Gown-Lookbook-2016-Design-4w.jpg" alt="">
			<img src="{site_url}assets/images/uploads/printing/Faculty-Truvelle-Wedding-Gown-Lookbook-2016-Design-5w.jpg" alt="">
		
		</div>	
		
	</main>