{layout="layout/index" body="printing" header="black" service="work" footer="black" title="大屈攝影（摄影） - 印舖 - 廣州（广州） - 深圳 - 三亞（三亚） - 海口 - 攝影工作室"}

	{layout:set name="description"}大屈攝影（摄影）的印舖及產品{/layout:set}

	<main class="black">
		
		<div class="gallery">

			<img src="{site_url}assets/images/uploads/printing/Faculty-Truvelle-Wedding-Gown-Lookbook-2016-Design-1w.jpg" alt="">
			<img src="{site_url}assets/images/uploads/printing/Faculty-Truvelle-Wedding-Gown-Lookbook-2016-Design-2w.jpg" alt="">
			<img src="{site_url}assets/images/uploads/printing/Faculty-Truvelle-Wedding-Gown-Lookbook-2016-Design-Process-2w.jpg" alt="">
			<img src="{site_url}assets/images/uploads/printing/Faculty-Truvelle-Wedding-Gown-Lookbook-2016-Design-3w.jpg" alt="">
			<img src="{site_url}assets/images/uploads/printing/Faculty-Truvelle-Wedding-Gown-Lookbook-2016-Design-4w.jpg" alt="">
			<img src="{site_url}assets/images/uploads/printing/Faculty-Truvelle-Wedding-Gown-Lookbook-2016-Design-5w.jpg" alt="">
		
		</div>	
		
	</main>