{layout="site_cn/layout" title="NCoffee"}

<header class="index">
	
	<img id="logo" src="{site_url}assets/images/uploads/logo.png" width=22/>

	<a href="#"><span class="icon-menu7"></span></a>

	<!-- <h1 class="name"><a href="http://www.ncoffeeshop.com">花舍</a></h1> -->

	<img id="backstretch" src="{site_url}assets/images/uploads/top.jpg"/>

</header>


<nav>
	
	<ul>
		<li><a href="#flowers">手冲咖啡</a> ｜ </li>
		<li><a href="#plants">深夜食堂</a> ｜ </li>
		<li><a href="#books">布置及款待</a> ｜ </li>
		<li><a href="#weddings">同城活动</a></li>
	</ul>
</nav>

<main>

	
<section id="flowers">

<div class="gallery">

	<img src="{site_url}assets/images/uploads/flowers.jpg" width="500"/>

</div>	

<p class="delimiter">—</p>

<h1>手冲咖啡</h1>

<p class="introduction">花卉原产地或分布区的环境条件包括气候、地理、土壤、生物及历史诸方面，其中又以气候条件、主要是水分与温度状况起着主导的作用。我们优选来自世界各地的原产地花材，辅以精致苛刻的制作工艺，呈现严谨的完美品质。</p>

<p>Flowers</p>

<p class="speficiation">原产地鲜花，精致木盒</p>

<a href="{path="site_cn/flowers"}"><div class="order">微信｜团购价：298.00元起</div>


</section>

<section id="plants">

<div class="gallery">

	<img src="{site_url}assets/images/uploads/plants.jpg" width="500" />
	
</div>	

<p class="delimiter">—</p>

<h1>深夜食堂</h1>

<p class="introduction">认识和理解植物和花卉的结构、特性。从最微小的苔藓、地衣到丰盛的花草树木，教你如何发现他们的美丽。借鉴了丰富的植物艺术史和实际绘画草图，根，茎，叶，花和果实，栩栩如生的呈现在你的眼前。</p>

<p>Plants</p>

<p>手绘包，鞋子，以及其他日常植物主题穿戴用品</p>

<a href="{path="site_cn/plants"}"><div class="order">微信｜团购价：98.00元起</div></a>

</section>

<section id="books">

<div class="gallery">

	<img src="{site_url}assets/images/uploads/books.jpg" width="500" />
	
</div>	

<p class="delimiter">—</p>

<h1>布置及款待</h1>

<p class="introduction">触动人心鲜花主题照片，从按下快门的那一刻起，回忆就永远被珍藏在照片裡了。一对一拍摄，高品质印刷工艺，手工包附，布面精装，成书更精致完整。</p>

<p>Photography</p>

<p>精装书，手工书</p>

<a href="#"><div class="order">微信｜团购价：598.00元起</div></a>

</section>

<section id="weddings">

<div class="gallery">

	<img src="{site_url}assets/images/uploads/weddings.jpg" width="500" />
	
</div>	

<p class="delimiter">—</p>

<h1>同城活动</h1>

<p class="introduction">一个生日／婚礼的鲜花布置，涉及很多繁锁的事项与选择。细心安排每一个细节，呈现一个浪漫、完美的生日／婚礼。</p>

<p>Treatments, Weddings</p>

<p>生日布置，婚礼布置</p>

<a href="{path="site_cn/weddings"}"><div class="order">微信｜团购价：798.00元起</div></a>

</section>


<footer>


	<img src="{site_url}assets/images/uploads/wechat.jpg" width="60" />	

	<p>- 原产地保证，鲜花四小时送货上门 -</p>

	<p>花事</p>

	<img id="footer" src="{site_url}assets/images/uploads/bottom.jpg"/>

</footer>



</main>
