{layout="layout/index" title="大屈影像｜印铺｜摄影工作室｜广州&amp;深圳&amp;三亚&amp;海口"}

  <section class="document printing">

        <header>
          <h1>Printing.</h1>
          <p>印铺</p>
        </header>
        
        <div>
          
          <div>


            <article style="width: 300px">
              
              <p>沁绿春草、染醉秋叶，年轮层层盘桓不去。停住时光，相机下的你是让我走近你生命的契机。以心作画，描摹光影，将难得瞬间凝成温存永恒。水样年华，一期一会。像晨间草叶上沾染的露珠；像热带深林蹁跹的彩蝶；像汹涌人潮中偶然的惊鸿一瞥，许多念念不忘的一瞬，顿生无限遗憾。时光荏苒，总是轻易被过往抛到后头的我们总该留一方照片，轻触记忆的余温。</p>
      
            </article>

            <img src="{site_url}assets/images/uploads/printing/home@2x-54ee2823.jpg" width="800" />


          </div>


        </div>

        <footer>
            <!-- <p id="da-qu"><a class="da-qu" href="{path="service/index#printing"}">大屈影像</a>／<a class="nan-su" href="http://prints.da-qu.com">屈家印铺</a></p> -->
        </footer>


  </section>