@charset "utf-8";
/* CSS Document */


/* ==========================================================================
   Body
   ========================================================================== */

*, *:before, *:after {
  box-sizing: border-box;
  -moz-user-select: text;  
  -webkit-user-select: text;  
  -ms-user-select: text;
  -moz-touch-callout: none;
  -webkit-touch-callout: none;
  -ms-touch-callout: none;
}

p {
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}

ul {
  -webkit-padding-start: 0px;
  padding:0;
}

html {
}

body {
  font-family: "Avenir", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
  font-size: 62.5%;
  background-color: #eeedeb;
}

/* ==========================================================================
   General Typography
   ========================================================================== */

*, *:before, *:after {
  letter-spacing: .5px;
}

h1, h2, h3, h4, h5, h6 {
  font-style: normal;
  font-size: 1.1em;
}

h1 a, h1 span {
  font-size: 1em;
}

p, figcaption, time, blockquote {
  display: block;
  font-size: 1.1em;
  line-height: 1.9;
  letter-spacing: 1px;
}

time {
  font-size: 1em;
}

p a, p span {
  font-size: 1em;
}

ol {
  padding: 0;
  list-style-position:inside;
}

ol li {
  font-size: 1.1em;
  line-height: 2;
  margin-top: 2em;
}

img {
  display: block;
  margin: 0 auto;
}

#backstretch{
  display:none;
}

/* ==========================================================================
   Header
   ========================================================================== */

header {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.9);
  color: #FFF;
  z-index: 100000;
  cursor: pointer;
  padding: 25px;
}

header div.text {
  max-width: 50%;
  position: fixed;
  bottom: 120px;
  left: 25px;
}

header h1 {
  /*position: absolute;*/
  /*bottom: 120px;*/
  /*left: 25px;*/
  /*line-height: 0;*/
  letter-spacing: 1px;
  margin-bottom: 2px;

}

header > p {
  margin-top: 100px;
  /*margin: 0;*/
  /*font-size: 2*/
  max-width: 500px;
  /*margin-left: 50em;*/
  /*margin-top:0em;*/
}


#saver {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.9);
    color: #FFF;
    z-index: 100000;
  }

#saver h1 {
  position: absolute;
  bottom: 0px;
  left: 25px;
  font-size: 5em;
}


/* ==========================================================================
   General Links
   ========================================================================== */

a:link, a:visited {
  color: #000;
  text-decoration: none;
}

a:hover {
  font-style: italic;
  border-bottom: none;
}

a:active {
  border-bottom: none;
}

li.underline span {
  position: relative;
  top: -10px;
  border-bottom: 8px solid rgba(209, 230, 223, 0.7);
}

li.underline a {
  position: relative;
  top: 10px;
  /*left: 5px;*/
}


nav a:link, nav a:visited {
  color: #AAA;
  border-bottom: none;
}

nav a.selected:link, nav a.selected:visited {

}

/* ==========================================================================
   Nav
   ========================================================================== */

nav {
  margin-top: 10px;
  margin-left: 25px;
  margin-right: 25px;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
}

nav ul {  
  display: -webkit-flex;
  display: flex;
  flex-wrap: nowrap;
  flex-shrink: 0;
}

nav ul li {
  font-size: 1.1em;
  margin-right: 1em;
  margin-top: 1em;
  list-style: none;
}

nav ul li:last-child {
  margin-right: 0em;
}

/* ==========================================================================
   Main
   ========================================================================== */

main {
  margin-top: 100px;
  margin-left: 25px;
  margin-right: 25px;
}

main p {
  /*font-*/
  max-width: 600px;
}


/* ==========================================================================
   Table
   ========================================================================== */

div.container {
  max-width: 500px;

}


table caption {
  text-align: left;
  padding-bottom: 2em;
}

table th, table td {
  font-size: 1.1em;
  padding-bottom: 5px;
}

table {
  width: 100%;
  table-layout: fixed;
}

table thead {
  padding-bottom: 1em;
}

table th {
  font-weight: normal;
  padding-bottom: 5px;
}

table th.year {
  width: 25%;
}

table .type {
  text-align: right;
}

table thead tr {
  text-align: left;
}

table thead {

}

tbody {
  /*display: block;*/
  /*margin-top: 5em;*/
}
