{layout="layout/index" title="大屈门店"}

<main>
	
	<section class="backstretch">

		<img id="backstretch" src="{site_url}assets/images/uploads/nearby/JIANG_NAN_CHENG_FLM_0102.jpg"/>
	
	</section>

	<section>
		
		<p>在现代简约的书局小坐，一人一书默默无言间尽欢；在茶民公社听琴音、饮素茶，颇有几分兰亭意趣。夹杂着咸湿海风气息的白沙门；充盈年轻鲜活的大学；南国风情满溢的公园；步行即可前往海边。</p>
		
	</section>

	<section>

		<h1>&lt;1km</h1>
		<ul>
			<li><a href="#">东海岸</a></li>
			<li><a href="#">知和行书局</a></li>
			<li><a href="#">茶民公社</a></li>
			<li><a href="#">天一方</a></li>
			<li><a href="#">白沙门公园</a></li>
		</ul>

		<h1>&lt;5km</h1>
		<ul>
			<li><a href="#">海南大学</a></li>
			<li><a href="#">世纪大桥</a></li>
		</ul>	

		<h1>&lt;20km</h1>
		<ul class="block">
			<li><a href="#">海口公园</a></li>
		</ul>					

	</section>

	<section>
		<h1>求助电话</h1>
		<ul>
			<li><a href="sms:189-7667-6077">+86 189-0766-4285</a></li>
		</ul>
	</section>

</main>

<footer>
	<p><a href="#">查看我们的手绘地图</a></p>
</footer>

