{layout="layout/site"}

{exp:channel:entries channel="sample" limit="1" disable="categories|member_data"}
	
	{layout:set name="title"}大屈影像｜写真及婚拍｜{title}｜摄影工作室｜广州&amp;深圳&amp;三亚&amp;海口{/layout:set}

			<section class="backstretch">
				<header>
					<p>样张*</p>
					<h1>{sample_title}</h1>
				</header>
				<footer>
					<span class="icon-phone-portrait orientation"></span>
					<p>* 上下滑动或翻转屏幕浏览</p>
				</footer>							
				{sample_cover}
					<img id="backstretch" src="{url}" width="{exp:mx_calc expression="{width}/2"}" height="{exp:mx_calc expression="{height}/2"}">
				{/sample_cover}
			</section>

			{sample_gallery}
				{sample_gallery:sample_gallery_file}
					<section class="backstretch">
						<img id="backstretch" src="{url}" width="{exp:mx_calc expression="{width}/2"}" height="{exp:mx_calc expression="{height}/2"}">
					</section>
				{/sample_gallery:sample_gallery_file}
			{/sample_gallery}

			<a href="{path="service/portrait"}">
			<section>
				<span class="pointer">&#8681;</span>
				<p class="direction">点击此处返回</p>
				<span class="icon-camera guide"></span>
			</section>
			</a>

{/exp:channel:entries}