{layout="layout/index" body="about" header="black" service="work" footer="none" title="大屈攝影（攝影）工作室 - Q&amp;A - 證件照及形象照 - 三亞（三亚） - 海口"}

{layout:set name="description"}大屈攝影（摄影）工作室的證件照及形象照拍攝指南{/layout:set}

    <main class="black">

        <section>

            <article>
              
                <h1>拍攝指南</h1>

				<h2>[拍攝類型 type&amp;service]</h2>
				<ol>
					<li>自然風格的證件照</li>
				</ol>

				<h2>[造型服務 make up&amp;clothing]</h2>
				<ol>
					<li>提供正裝，但建議自帶服裝，效果更佳</li>
					<li>提供面部透明裸妝1組</li>				
				</ol>
				
				<h2>[證件照拍攝服務 shooting&amp;choosing]</h2>
				<ol>
					<li>棚內純色背景任選其1（紅、白、藍、灰）</li>
					<li>高品質相機拍攝</li>
					<li>拍攝高清底片20張，最終精修1張留底</li>
				</ol>
				
				<h2>[修圖服務 processing]</h2>
				<ol>
					<li>尊重您的需求，合理專業角度建議</li>
					<li>自然级修圖模式，還原真實美，拒絕一鍵磨皮</li>
				</ol>					
					
				<h2>[成品服務 printing]</h2>
				<ol>
					<li>激光熱昇華紙質打印1版，尺寸任選1種</li>
				</ol>
					
				<h2>[售後服務 after-sales]</h2>
				<ol>
					<li>免費保留精修件3個月，免去圖片意外丟失導致的後顧之憂</li>
					<li>提供成品配送服務（費用由客戶自理）</li>
				</ol>
 
				<h2>[增值服務 value-added]</h2>
				<ol>
					<li>加修底片，加印沖洗，由於價格不等，詳情請到店諮詢店內員工。</li>
				</ol>

				<h2>[注意事項 mention]</h2>
				<ol>
					<li>注意事項：請務必電話預約拍攝時間後再付款</li>
					<li>預約電話：18976984285</li>
				</ol>
	
            </article>
            
        </section>

        <p class="return"><a href="{path="service/work#workflow"}">返回</a></p>

    </main>
    