{layout="layout/index" body="about" header="black" service="portrait" footer="none" title="大屈攝影（攝影）工作室 - 拍攝流程 - 證件照及形象照 - 廣州（廣州） - 深圳 - 三亞（三亞） - 海口"}

{layout:set name="description"}大屈攝影（攝影）工作室的介紹以及攝影問答Q&amp;A{/layout:set}

    <main class="black">

        <section>

            <article>
              
                <h1>拍攝流程</h1>

				<h2>拍攝類型：</h2>
				<ol>
					<li>写真及婚拍</li>
				</ol>
				
				<h2>拍攝服裝：</h2>
				<ol>
					<li>本店提供基本款正裝和休閒裝，但仍然建議自帶服裝，效果更佳</li>
				</ol>
				
				<h2>妝面提供：</h2>
				<ol>
					<li>提供淡妝妝面和造型</li>
				</ol>
				
				<h2>拍攝過程：</h2>
				<ol>
					<li>攝影師會拍攝不少於300張照片，選定15張照片精修，可以多選精修，按張收費，詳情請參考查看店內價目表，自帶U盤拷貝全部底片</li>
				</ol>
					
				<h2>後期處理：</h2>
				<ol>
					<li>精修完照片成片將以電子版形式發送至郵箱</li>
				</ol>
					
				<h2>預約時間：</h2>
				<ol>
					<li>爲了更好的爲您服務，請提前預約時間</li>
					<li>請提前10分鐘到店，如未按時到店，後續客戶已到，將替您往後順移	</li>
				</ol>
 
				<h2>未盡事宜：</h2>
				<ol>
					<li>到店諮詢或聯繫大屈客服：<a href="{path="service/wechat"}">daqustudio</a></p></li>
				</ol>
	
            </article>
            
        </section>

        <p class="return"><a href="{path="service/portrait#workflow"}">返回</a></p>

    </main>
    