{layout="layout/index" body="about" header="black" service="work" footer="none" title="大屈攝影（攝影）工作室 - Q&amp;A - 證件照及形象照 - 廣州（廣州） - 深圳 - 三亞（三亞） - 海口"}

{layout:set name="description"}大屈攝影（攝影）工作室的证件照及形象照拍摄指南{/layout:set}

    <main class="black">

        <section>

            <article>
              
                <h1>拍攝流程</h1>

				<h2>[拍摄类型 type&amp;service]</h2>
				<ul>
					<li>--自然风格的证件照／形象照单底</li>
				</ul>

				<h2>[造型服务 make up&amp;clothing]</h2>
				<ul>
					<li>--提供正装，也可自带服装，建议自带服装，效果更佳</li>
					<li>--提供面部透明裸妆1组</li>				
				</ul>
				
				<h2>[证件照拍摄服务 shooting&amp;choosing]</h2>
				<ul>
					<li>--棚内纯色背景任选其1（红、白、蓝、灰）</li>
					<li>--高品质相机拍摄</li>
					<li>--拍摄高清底片不少于20张，最终精修1张留底</li>
				</ul>
				
				<h2>[形象照拍摄服务 shooting&amp;choosing]</h2>
				<ul>
					<li>--室内或室外场景二选一</li>
					<li>--高品质相机拍摄</li>
					<li>--拍摄高清底片不少于20张，最终精修1张留底</li>
				</ul>
				
				<h2>[修图服务 processing]</h2>
				<ul>
					<li>--尊重您的需求，合理专业角度建议</li>
					<li>--商业广告级修图模式，还原真实美，拒绝一键磨皮</li>
				</ul>					
					
				<h2>[成品服务 printing]</h2>
				<ul>
					<li>--激光热升华纸质打印1版，尺寸任选1种</li>
					<li>--赠送精修大格式底片，可根据需求进行裁切</li>
				</ul>
					
				<h2>[售后服务 after-sales]</h2>
				<ul>
					<li>--免费保留精修底片3个月，免去图片意外丢失导致的后顾之忧</li>
					<li>--提供成品配送服务（费用由客户自理）</li>
				</ul>
 
				<h2>[增值服务 value-added]</h2>
				<ul>
					<li>--加修底片，加印冲洗，由于价格不等，详情请到店咨询店内员工。</li>
				</ul>

				<h2>[注意事项 mention]</h2>
				<ul>
					<li>--注意事项：请务必电话预约拍摄时间后再付款</li>
					<li>--预约电话：18976984285</li>
				</ul>				
	
            </article>
            
        </section>

        <p class="return"><a href="{path="service/work#workflow"}">返回</a></p>

    </main>
    