{layout="home/layout" title="花舍 ｜ 主题写真书"}

<header>

	<!-- <img id="logo" src="{site_url}assets/images/uploads/logo.png" width=22/> -->
	
	<!-- <a href="#"><span class="icon-menu7"></span></a> -->

	<h1>主题写真书</h1>

	<p>books</p>

	<img src="{site_url}assets/images/uploads/books.jpg" width="150"/>

	<p class="arrow">▽</p>

</header>

<main>

<section id="flowers">

<p class="delimiter">—</p>

<h1>原产地鲜花</h1>

<p class="introduction">花卉原产地或分布区的环境条件包括气候、地理、土壤、生物及历史诸方面，其中又以气候条件、主要是水分与温度状况起着主导的作用。我们优选来自世界各地的原产地花材，辅以精致苛刻的制作工艺，呈现严谨的完美品质。</p>

<p>Flowers</p>

<p class="speficiation">原产地鲜花，精致木盒</p>

<div class="order">微信｜团购价：298.00元起</div>

</section>
<!-- 

<footer>


	<img src="{site_url}assets/images/uploads/wechat.jpg" width="60" />	

	<p>- 原产地保证，鲜花四小时送货上门 -</p>

	<p><a href="{path="home/blog"}">花事花店</a></p>

	<img id="footer" src="{site_url}assets/images/uploads/bottom.jpg"/>

</footer>


 -->

</main>
