{layout="layout/index" title="照片書咖啡館"}

<script>
  AOS.init({
      duration: 1000,
      once: true
  });
</script>

<header  data-aos="fade-up">

	<div>
		<!-- <h1>照片書咖啡館</h1> -->
		<!-- <p>Bag - 0</p>	 -->
	</div>
	
	<div>
		<!-- <p>讓一個人也要好好吃飯的便當</p> -->
		<h2>「你好，初次見面。」</h2>

		<!-- <p>也许有些话，不知道怎么说出口，那就用料理来好好表现吧！让每一口都是一句，谢谢！</p> -->
	</div>
	<!-- <img id="play_button" src="{site_url}libraries/icons/play_button.svg" alt=""> -->

	<div>

		<time>營業時間</time>

		<div class="order">15:00 PM － 00:00 AM</div>

	</div>

		<!-- <img id="backstretch" src="{site_url}assets/images/uploads/BAO-SOHO_Finalcropped.jpg"/> -->
	
	<img id="backstretch" src="{site_url}assets/images/uploads/STUDIO_FLM_0005.jpg"/>

</header>