{layout="layout/home" title="大屈影像 - 摄影工作室 - 广州 - 深圳 - 三亚 - 海口"}

{layout:set name="description"}大屈写真摄影工作室的首页。{/layout:set}

<section class="backstretch swiper-container">
    
    <div class="swiper-wrapper">

          <div class="swiper-slide" data-hash="photography">
            <a href="{path="photography/index"}">
            <h1>影像.</h1>
            <p>Photography</p>
            </a>
          </div>


          <div class="swiper-slide" data-hash="printing">
            <a href="{path="prints/index"}">
            <h1>印铺.</h1>
            <p>Printing</p>
            </a>
          </div>

    </div>

        <div class="swiper-pagination"></div>
  
    <footer>
      <p>大直若屈，大巧若拙</p>
    </footer>
    
    <img id="backstretch" src="{site_url}assets/images/uploads/home/background.jpg"/>

  </section>