{layout="home/layout" title="大屈"}

<header>

  <div class="language">
    <a href="#">广州</a>&nbsp; / &nbsp; 
    <a href="#">深圳</a> &nbsp; / &nbsp;
    <a href="#">三亚</a>&nbsp; / &nbsp; 
    <a href="#">海口</a>

  </div>

  <!-- <a href="{path="site/toc"}"><span class="icon-menu7"></span></a> -->

</header>

<main>
    
      <br>

    <nav>
        
      <p class="welcome">欢迎来到大屈</p>


      <blockquote>“大直若屈；大巧若拙；大辩若讷。”<br>——老子《道德经》</blockquote>
      
      <br>
      <br>
        
        <p><a href="http://images.da-qu.com">大屈影像</a></p>
          <ul>
            <li>写真</li>
            <li>婚拍</li>
          </ul>
        
        <p><a href="http://prints.da-qu.com">屈家印铺</a></p>

          <ul>
            <li>印务</a></li>
            <li>定制</a></li>
          </ul>

      <p><a href="http://suites.da-qu.com">小岛南舍</a></p>
    
          <ul>
            <li>民宿</a></li>
            <li>咖啡</a></li>
          </ul>

    </nav>
    

    <br>
    <br>



    <p class="address">
        <strong>Da-Qu Travel &amp; Photography</strong><br>
        Room 407, Yimei Building, Haikou<br>HAINAN, CHINA
    </p>
    
    <br>
<!-- 
    <div class="social">
      <a href="#"><span class="icon-bubbles"></span></a>&nbsp;
      <a href="#"><span class="icon-instagram"></span></a>
    </div>
     -->
</main>

    <!-- <img id="backstretch" src="{site_url}assets/images/uploads/service/sky.jpg"/> -->


<!-- <footer> -->

    <!-- <p>Legals - Made with heart</p> -->

<!-- </footer> -->