@charset "utf-8";
/* CSS Document */

/* ==========================================================================
   Body
   ========================================================================== */

*, *:before, *:after {
    box-sizing: border-box;
}

p {
  /*-webkit-margin-before: 0em;*/
  /*-webkit-margin-after: 0em;*/
}

ul {
  -webkit-padding-start: 0px;
}

ol {
  /*-webkit-padding-start: 0px;*/
}

body {
  font-family: "Helvetica Neue", Helvetica, "Hiragino Sans GB", "Microsoft YaHei", Arial, sans-serif;
  font-style: normal;
  font-size: 62.5%;
  color: black;
  background: #ebebeb;
}

/* ==========================================================================
   General Typography
   ========================================================================== */

*, *:before, *:after {
  letter-spacing: 0.5px;
}

h1, h2, h3, h4, h5, h6 {
  letter-spacing: 2px;
  margin-left: auto;
  margin-right: auto;
  font-size: 2em;
  text-align: center;
}

h1 a, h1 span {
  font-size: 1em;
}

p, time {
  font-size: 1.4em;
  line-height: 2;
  margin-bottom: 2em;
  line-height: 1.8;
  margin-bottom: 0em;
}

p a, p span {
  font-size: 1em; 
}

p.english {
  text-align: center;
  font-size: 2em;
  margin-bottom: 0;
}

p.title {
  margin-top:3em;
  margin-bottom: 2em;
  text-align: center;
  font-weight: bold;
}

p.return {
  margin-top: 5em;
  text-align: center;
}


ol li, ul li {
  margin-bottom: 0.5em;  
  font-size: 1.4em;
}

ol li p, ul li p {
  font-size: 1em;
}

ol li a, ul li a {
  font-size: 1em;
}

span, a {
  font-size: 1.4em; 
}

span a, a span {
  font-size: 1.4em;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

span.icon-menu7 {
  font-size: 2.5em;
}

img.avatar {
  width: 55px;
  height: 55px;
  border-radius: 50%;
}

#backstretch {
  display: none;
}

/* ==========================================================================
   General Links
   ========================================================================== */

a:link, a:visited {
  color: black;
  text-decoration: none;
  border-bottom: 1px dotted black;
}

a:hover {
  font-weight: bold;
  border-bottom: none;
}

a:active {
  font-weight: bold;
}

#homepage header a:link, #homepage header a:visited {
  border-bottom: none;
}

#homepage footer a:link, #homepage footer a:visited {
  border-bottom: none;
}

#footprints article a:link, #footprints article a:visited {
}

#footprints main a:link, #footprints main a:visited {
  color: white;
  /*border-bottom: 1px dotted white;*/
  border-bottom: none;
}


/* ==========================================================================
   Structure
   ========================================================================== */

#authors, #toc, #tips, #appendix {
  padding: 10% 6% 8% 6%;
}

#appendix {
  padding: 10% 10% 8% 10%;
}

#footprints {
  padding: 10% 6% 8% 6%;
}

#contents {
  padding: 10% 0% 8% 0%;
}  

article {
  margin-bottom: 5em;
}

/* ==========================================================================
   Homepage
   ========================================================================== */

#homepage {
  position: relative;
}


#homepage header {
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  padding: 25px;
}

#homepage main {
  padding: 0;
}

#homepage main section.article {
  padding: 10% 6% 8% 6%;
}

#homepage main section.article img {
  display: none;
  margin: 5em auto;
}

#homepage main section.cover {
  z-index: -1;
  position: absolute;
  height: 100vh;
  top:0;
}

#homepage footer {
  background: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-top:0.1em;
  padding-bottom:0.1em; 
}

#homepage footer ul {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

#homepage footer ul li {
  width: 33%;
  text-align: center;
  list-style: none;
  margin-bottom: 0;
}

#homepage ol, #toc ol {
  margin: 0 auto;
  width: 300px;
  list-style-position:inside;
}

/* ==========================================================================
   Authors
   ========================================================================== */

#authors img.author {
  position: absolute;
  right: 0;
  margin-top: 1.5em;
  width: 55px;
  height: 55px;
  border-radius: 50%;
}

#authors main > div {
  display: -webkit-flex;
  display: flex;
  margin-bottom: 2em;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

#authors main div.avatar {
  position: relative;
  width: 20%;
}

#authors main div.text {
  width: 68%;
  padding-left:2em;
}

#authors main img.center {
  margin: 0 auto;
}

#authors main p.slogan {
   text-align: center;
}

/* ==========================================================================
   Contents
   ========================================================================== */

#contents {
  position: relative;
  display: -webkit-flex;
  -webkit-align-items: center; 
  -webkit-justify-content: center;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;  
  flex-direction: column;
  -webkit-flex-direction: column;
}

#contents main article > * {
  margin-left: 6%;
  margin-right: 6%;
}

#contents footer {
  margin-left: 6%;
  margin-right: 6%;
}


#contents time {
  color: #ccc;
}

#contents article h1 {
  text-align: left;
  margin-bottom: 2em;
}

#contents article p {
  margin-right: 6%;
}

#contents article figcaption {
  margin-right: 6%;
  border-left: 5px solid #ccc;
  padding: 0.5em 10px;
  font-size: 1.3em;
  max-width: 600px;
}

#contents main article img {
  margin-left: 0;
  /*margin-right: 0; */
  margin-top: 1em;
  margin-bottom: 1em;
}

#contents main footer {
}

#contents main footer p{
  /*font-size: 1.3em;*/
}


/* ==========================================================================
   Footprints
   ========================================================================== */

#footprints {
}

#footprints div.overlay{
  padding: 1em;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
  width: 100%;
  height: 100%;
  position: relative;
  display: -webkit-flex;
  -webkit-align-items: center; 
  -webkit-justify-content: center;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;  
  flex-direction: column;
  -webkit-flex-direction: column;  
}

#footprints article {
  margin-bottom: 1em;
  color: white;
}

#footprints article h1{
  /*margin-top: 2em;*/
  color: white;
}

#footprints article p{
  font-size: 1.2em;
  /*text-align: center;*/
}

#footprints article.backstretch {
  height: 200px;
}


/* ==========================================================================
   Tips
   ========================================================================== */

#tips main > div {
  position: relative;
  display: -webkit-flex;
  -webkit-align-items: center; 
  -webkit-justify-content: center;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

#tips main > div > div {
  margin-right: 1em;
}

#tips main > div img {
  display: block;
  /*margin-bottom: 1em;*/
}

#tips main > div p {
  margin-top: 0.5em;
  text-align: center;
}

#tips figure.hidden {
  display: none;
}

#tips div.gallery figure {
  margin: 0;
}

#tips div.gallery figcaption {
  /*font-size: 1.2em;*/
  display: none;
}

/* ==========================================================================
   Afterword
   ========================================================================== */

#appendix {
  position: relative;
  display: -webkit-flex;
  -webkit-align-items: center; 
  -webkit-justify-content: center;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;  
  flex-direction: column;
  -webkit-flex-direction: column;
}

#appendix ol {
  padding-right: 6%;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media screen and (min-width: 1001px) {

    #homepage main {
      display: -webkit-flex;
      display: flex;
    }

    #homepage main section {
      width: 50%;
    }

    #homepage main section.article img {
      display: none;
    }

    #homepage header span.icon-menu7 {
      color: white;
    }

}

