{layout="home/layout"}

<main class="index">

	<a href="#"><span class="icon-menu7"></span></a>

	<h1 class="name"><a href="http://www.hwashii.com">NCoffeeShop</a></h1>

	<img id="backstretch" src="{site_url}assets/images/uploads/banner.jpg"/>

    <section class="wechat">
    
        <div>
            <p>NCoffeeShop的微信工作号</p>
            <br>
            <p><img id="wechat" src="{site_url}assets/images/uploads/ncoffeeshop.jpg" width="150" height="150" /></p>
            <p>微信：ncoffeeshop<br>（点击长按识别）</p>
            <p>朋友圈最后更新：2017年04月15日</p>
        </div>

    </section>

</main>


