{layout="layout/site" title="大屈影像｜服务与价格｜摄影工作室｜广州&amp;深圳&amp;三亚&amp;海口"}

	{layout:set name="description"}大屈影像的服务与价格{/layout:set}

	<section class="backstretch swiper-container">
		
		<div class="swiper-wrapper">

	        <div class="swiper-slide" data-hash="work">
	        	<a href="{path="service/work"}">
					<h1>Work.</h1>
					<p>工作&amp;求职照</p>
				</a>
	        </div>

	        <div class="swiper-slide" data-hash="mini">
	        	<a href="{path="service/mini"}">
					<h1>Mini.</h1>
					<p>迷你</p>
				</a>
	        </div>

<!-- 	        <div class="swiper-slide" data-hash="family">
	        	<a href="{path="service/family"}">
					<h1>Family.</h1>
					<p>结婚登记／全家福</p>
				</a>
	        </div>
 -->
	        <div class="swiper-slide" data-hash="portrait">
	        	<a href="{path="service/portrait"}">
					<h1>Portrait.</h1>
					<p>写真及婚拍</p>
				</a>
	        </div>

	        <div class="swiper-slide" data-hash="flowers">
	        	<a href="{path="service/flowers"}">
					<h1>Flowers.</h1>
					<p>花事</p>
				</a>
	        </div>

	        <div class="swiper-slide" data-hash="children">
	        	<a href="{path="service/children"}">
					<h1>Children.</h1>
					<p>家庭／小时候</p>
				</a>
	        </div>

	        <div class="swiper-slide" data-hash="video">
	        	<a href="{path="service/video"}">
					<h1>Video.</h1>
					<p>视频</p>
				</a>
	        </div>

	        <div class="swiper-slide" data-hash="creativity">
	        	<a href="{path="service/creativity"}">
					<h1>Creativity.</h1>
					<p>艺术创作</p>
				</a>
	        </div>

	        <div class="swiper-slide" data-hash="printing">
	        	<a href="http://prints.da-qu.com">  
					<h1>Printing.</h1>
					<p>印铺</p>
				</a>
	        </div>	        

	        <div class="swiper-slide" data-hash="message">
				<a href="{path="message/index/rang-wo-men-lai-liao-liao-kou-hong"}">
					<h1>Message.</h1>
					<p>工作日记</p>
				</a>
	        </div>

	        <div class="swiper-slide" data-hash="promotions">
	        	<a href="{path="promotions/index"}">
					<h1>Promotions.</h1>
					<p>有礼</p>
				</a>
	        </div>  

	        <div class="swiper-slide" data-hash="schedule">
	        	<a href="{path="schedule/index"}">  
					<h1>Schedule.</h1>
					<p>预订</p>
				</a>
	        </div>	        

	        <div class="swiper-slide" data-hash="public">
	        	<a href="{path="about/public"}"> 
					<h1>Public.</h1>
					<p>微信公众号</p>
				</a>
	        </div>

	        <div class="swiper-slide" data-hash="wechat">
	        	<a href="{path="about/wechat"}">
					<h1>Wechat.</h1>
					<p>微信工作号</p>
				</a>
	        </div>

	        
<!-- 	        <div class="swiper-slide" data-hash="locations">
	        	<a href="{path="locations/haikou"}">
					<h1>Locations.</h1>
					<p>位置</p>
				</a>
	        </div> -->

 	        <div class="swiper-slide" data-hash="about">
	        	<a href="{path="about/index"}">  
					<h1>About.</h1>
					<p>关于</p>
				</a>
	        </div>

 	        <div class="swiper-slide" data-hash="home">
	        	<a href="http://images.da-qu.com">  
					<h1>Home.</h1>
					<p>首页</p>
				</a>
	        </div>	 

		</div>

        <div class="swiper-pagination"></div>
	
		<footer>
			<p id="da-qu"><a class="da-qu" href="{path="home/index"}">大屈影像</a>／<a class="nan-su" href="http://prints.da-qu.com">屈家印铺</a></p>
		</footer>
		
		<img id="backstretch" src="{site_url}assets/images/uploads/service/bokeh.jpg"/>

	</section>