{layout="layout/index" title="大屈影像 - 迷你 - 摄影工作室 - 广州&amp;深圳&amp;三亚&amp;海口"}

{layout:set name="description"}大屈摄影工作室的私房摄影套系及样张{/layout:set}

	<section class="document backstretch">

		<header>
			<h1>Mini.</h1>
			<p>迷你*</p>
		</header>
	    		
	    <div>

			<div class="standard">
				<div>	
					<p><span>20</span>张</p>
					<p>底片</p>
				</div>
				<div>	
					<p><span>2</span>张</p>
					<p>成片</p>
				</div>
				<div>	
					<p><span>1</span>小时</p>
					<p>拍摄时长</p>
				</div>
				<div>	
					<p><span>1</span>组</p>
					<p>拍摄</p>
				</div>
				<div>	
					<p><span>∞</span></p>
					<p>提供化妆</p>
				</div>
				<div>	
					<p><span>☑</span></p>
					<p>服装建议</p>
				</div>
			</div>

			<p>点击查看<br><a href="{site_url}index.php/sample/mini/lin-yan">样张一</a>、<a href="{site_url}index.php/sample/mini/zhang-ti">样张二</a>、<a href="{site_url}index.php/sample/mini/zhang-xian-sheng">样张三</a>、<a href="{site_url}index.php/sample/mini/sun-die-dou-zi">样张四</a>、<a href="{site_url}index.php/sample/mini/lu-shuang">样张五</a>、<a href="{site_url}index.php/sample/mini/qu-fang-zhou">样张六</a>、<a href="{site_url}index.php/sample/mini/zhu-jia-qi">样张七</a></p>

			<p>微信 - 团购价：198.0元，需付定金：198.0元<br>共计22张，<a href="http://mp.weixin.qq.com/s/sITsoz5gKr2na2E5pt3gAw">Mini套餐使用指南</a></p>

			<p>* <a href="{path="schedule/index"}">通过微信预订拍摄时间</a></p>

	    </div>

		<p id="return"><a href="{path="service/index#mini"}">返回</a></p>
		
		<img id="backstretch" src="{site_url}assets/images/uploads/service/service.jpg"/>

	</section>