{layout="layout/index" title="大屈影像 - 视频 - 摄影工作室 - 广州 - 深圳 - 三亚 - 海口"}

{layout:set name="description"}大屈摄影工作室的视频摄像套系及样张{/layout:set}

	<section class="document backstretch">

		<header>
			<h1>Video.</h1>
			<p>视频*</p>
		</header>
	    		
	    <div>

			<div class="standard">
				<div>	
					<p><span>10</span>分钟</p>
					<p>粗剪</p>
				</div>
				<div>	
					<p><span>1</span>分钟</p>
					<p>剪辑</p>
				</div>
				<div>	
					<p><span>12</span>小时</p>
					<p>拍摄时长</p>
				</div>
				<div>	
					<p><span>1</span>组</p>
					<p>拍摄</p>
				</div>
				<div>	
					<p><span>☑</span></p>
					<p>提供化妆</p>
				</div>
				<div>	
					<p><span>☑</span></p>
					<p>服装建议</p>
				</div>
			</div>

			<p>点击查看<br><a href="{site_url}assets/images/uploads/sample/20160408.mp4">样张一</a></p>

			<p>微信 - 团购价：3,980.0元，需付定金：1,000.0元<br><a href="{path="payment/index"}">支持分期付款</a></p>

			<p>* <a href="{path="about/wechat"}">少量供应</a></p>

    	</div>

		<p id="return"><a href="{path="service/index#video"}">返回</a></p>
		
		<img id="backstretch" src="{site_url}assets/images/uploads/service/service.jpg"/>

	</section>