{layout="wedding/layout" title="大屈影像｜旅行婚拍"}

<img id="anystretch" src="{site_url}assets/images/uploads/wedding/about/about.jpg"/> 

<main class="about">

<!-- <p class="slogan">海口美兰花事与大屈影像工作室凭借得天独厚的天然地理条件，提供广东省及海南岛地区的旅行婚拍及其他定制类影像服务。</p> -->


<p>公司名称：海南大屈影像有限公司</p>

<p>工作地点：海南省海口市美兰区西沙路5号亿美大厦407房</p>

<p>公司电话：<a href="sms:+86 189-7698-4285">0898-66724685</a></p>

<!-- <p>约片短信：<a href="sms:+86 189-7698-4285">+86 189-7698-4285</a></p> -->

<!-- <p>友情链接：<a href="http://www.da-qu.com">大屈影像</a>、<a href="http://prints.da-qu.com">屈家印铺</a></p> -->

<!-- <p>旅行指南：<a href="http://www.nan-duan.com">南端</a>（旅行指南部门）</p> -->


</main>