{layout="wedding/layout" title="大屈影像｜旅行婚拍"}

<img id="anystretch" src="{site_url}assets/images/uploads/wedding/about/about.jpg"/> 

<main class="about">

<!-- <p class="slogan">大屈影像凭借得天独厚的天然地理条件，提供广东省及海南岛地区的旅行婚拍及其他定制类影像服务。<br> -->
	<!-- </p> -->
	
<!-- <p>我们的微信：daqustudio（<a class="ajax-popup-link" href="{path='wedding/wechat'}">通过微信浏览更多作品及住宿服务</a>）</p> -->


<!-- <p>点击查看价格： -->
	<!-- <a class="ajax-popup-link" href="{path='wedding/wedding_price'}">旅行婚拍</a>、 -->
	<!-- <a class="ajax-popup-link" href="http://www.nan-su.com">住宿及款待</a> -->
<!-- </p> -->

<p>工作室名称：海口美兰花事与大屈影像工作室</p>

<p>工作地点：海南省海口市西沙路5号亿美大厦205室</p>

<p>工作室电话：<a href="sms:+86 189-7698-4285">0898-66724685</a></p>

<p>友情链接：<a href="http://www.da-qu.com">大屈影像</a>、<a href="http://www.nan-su.com">小岛南舍</a></p>

<!-- <p>旅行指南：<a href="http://www.nan-duan.com">南端</a>（旅行指南部门）</p> -->


</main>