{layout="wedding/layout"}

<main class="destinations">

{exp:channel:entries channel="destinations_section_cn" limit="1" disable="member_data"}

{layout:set name="title"}大屈影像｜取景地｜{exp:playa:parents}{title}{/exp:playa:parents}｜{title}{/layout:set}

        <img id="anystretch" src="{destinations_section_background_cn}"/>

        <article>
                 
                <h1>{title}</h1>
                
                {destinations_section_body_cn}
                
                <p> 
                
                    <!-- <h2>旅游信息</h2> -->
                    <ul>
                        {destinations_section_info_cn}
                            <li>{{destinations_section_info_type_cn}}：{destinations_section_info_detail_cn}</li>
                        {/destinations_section_info_cn}
                    </ul>
                </p>

                
        </article>



{/exp:channel:entries} 

</main>