{layout="wedding/layout" title="大屈影像｜取景地"}

<img id="anystretch" src="{site_url}assets/images/uploads/wedding/destinations/destinations.jpg"/> 

<main class="destinations">

<p>大屈影像凭借天独厚的天然地理条件为取景基础，提供省内唯一真正意义上的叙事影像及其他定制类影像服务。</p>

<article>

    {exp:channel:entries channel="destinations_main_cn" disable="member_data"}

    <br>

        <h1>{title}</h1>

            <ol>
                {destinations_main_relationship_cn}
                    <li>
                        <h2><a href="{path='wedding/destinations_chapter/{destinations_main_relationship_cn:url_title}'}">{destinations_main_relationship_cn:title}</a></h2>
                        <p class="delimiter">-</p>
                        <p>{destinations_main_relationship_cn:destinations_chapter_abstract_cn}</p>
                    </li>
                {/destinations_main_relationship_cn}
            </ol>

    {/exp:channel:entries} 

</article>

</main> 

