<nav>
	<ul>
		<li><a {if segment_1 == '' OR segment_2 == 'couples'}class="selected" {/if}href="{path="wedding/couples"}">旅行婚拍</a><span>/</span></li>
		<!-- <li><a {if segment_2 == 'brides'}class="selected" {/if}href="{path="wedding/brides"}">新娘独立写真</a><span>/</span></li> -->
		<li><a {if segment_2 == 'destinations' OR segment_2 == 'destinations_chapter' OR segment_2 == 'destinations_section'}class="selected" {/if}href="{path="wedding/destinations"}">取景地</a><span>/</span></li>
		<!-- <li><a {if segment_2 == 'accomodations' OR segment_2 == 'accomodations_chapter'}class="selected" {/if}href="{path="wedding/accomodations"}">住宿及款待</a><span>/</span></li> -->
		<li><a {if segment_2 == 'about'}class="selected" {/if}href="{path="wedding/about"}">联系我们</a></li>
		<li><a {if segment_2 == 'contact'}class="selected" {/if}href="{path="wedding/contact"}">关于我们</a></li>
	</ul>
</nav>