{layout="layout/index" title="大屈影像 - 位置 - 海口 - 写真摄影工作室 - 广州 - 深圳 - 三亚 - 海口"}

	{layout:set name="description"}大屈写真摄影工作室在海口的地理位置信息以及周围环境照片。{/layout:set}

	<section class="document backstretch">

		<header>
			<h1>Locations.</h1>
			<p>位置（海口）</p>
		</header>

	    <div>
			
			<p class="paragraph">大屈影像位于海甸岛江南城内，地处和平大道东北侧，环境优美，西界和平大道与规划生态公园，东靠横沟河，北眺辽阔的琼州海峡。海甸岛成熟的生活区，五星级寰岛泰得大酒店、金海岸罗顿大酒店、四星级燕泰大酒店，海南的最高学府-海南大学、海口市人民医院及众多设施林立四周，配套一应俱全。2003年8月全线贯通的海口标志性建筑--世纪大桥，宛如一条苏醒的巨龙横跨在美丽的海上，把海甸岛与市区的联系更加紧密，再加上和平桥、人民桥与即将新修的环岛路、海新大桥，组成了海甸岛发达的交通网络，往来市区交通十分便利。</p>
			
			<p>点击查看<br><a href="{site_url}index.php/sample/location_haikou/haikou-01">样张一</a>、<a href="{site_url}index.php/sample/location_haikou/haikou-02">样张二</a>、<a href="{site_url}index.php/sample/location_haikou/haikou-03">样张三</a>、<a href="{site_url}index.php/sample/location_haikou/haikou-04">样张四</a>、<a href="{site_url}index.php/sample/location_haikou/haikou-05">样张五</a></p>

			<p>周边<br>知和行书局（江南城店）、南方出版、Tomy&amp;Dan的咖啡屋、茶民公社、老船长驿站</p>

			<p>公交路线<br><a href="http://f.amap.com/1eeyD_0361pt8">36路</a>、<a href="http://f.amap.com/3LI6B_0DE1C3F">56路</a>、<a href="http://f.amap.com/3TKgC_06F1GPn">19路</a>、<a href="http://f.amap.com/4cpb_03318iy">44路</a></p>

			<p><a href="{path="locations/sanya"}">查看大屈影像@三亚</a></p>

    	</div>

		<p id="return"><a href="{path="service/index#locations"}">返回</a></p>
		
		<img id="backstretch" src="{site_url}assets/images/uploads/service/bokeh.jpg"/>

	</section>