{layout="layout/index" title="大屈影像 - 位置 - 三亚 - 摄影工作室 - 广州&amp;深圳&amp;三亚&amp;海口"}

	{layout:set name="description"}大屈摄影工作室在三亚的地理位置信息以及周围环境照片。{/layout:set}

	<section class="document backstretch">

		<header>
			<h1>Locations.</h1>
			<p>位置（三亚）</p>
		</header>

	    <div>
			
			<p class="paragraph">大屈影像位于三亚落笔洞景观区域万科森林公园内，群山环绕，保存和享有着原生态的稀缺资源，负氧离子含量特别高，是非常适合居住的休闲养生之地，以生态、山地、湿地、商业、酒店等丰富的度假生活形态，内设开心农场，游泳池，休闲中心，落笔书院，咖啡吧，电影院，婚庆礼堂，婚庆广场，音乐厅，美术馆等设施。</p>

			<p>点击查看<br><a href="{site_url}index.php/sample/location_sanya/sanya-01">样张一</a></p>

			<p>周边<br>万科森林公园、龙泉谷、三亚森咖啡、三亚学院、高知园</p>

			<p>公交路线<br><a href="http://f.amap.com/2LiiD_0FA1p6J">7路</a>、<a href="http://f.amap.com/11A5r_0581LE1">32路</a></p>

			<p><a href="{path="locations/haikou"}">查看大屈影像@海口</a></p>

    	</div>
		<p id="return"><a href="{path="service/index#locations"}">返回</a></p>
		
		<img id="backstretch" src="{site_url}assets/images/uploads/service/service.jpg"/>

	</section>