{layout="layout/site_save" title="大屈影像｜认识｜摄影工作室｜广州&amp;深圳&amp;三亚&amp;海口"}

  <section class="document backstretch">

    <header>
      <h1>Meet Us.</h1>
      <p>认识</p>
    </header>

      <div>


      <div class="contact2">

        <p>大屈影像的每周茶话会</p>
        <br>
        <p><img id="wechat" src="{site_url}assets/images/uploads/service/daqustudio.jpg" width="150" height="150"/><br>（长按识别）</p>
        <p>距离每周茶话会还有 <span id="clock"></span></p>
        <p>地点：<a href="http://f.amap.com/3MP5r_0C51TgF">星巴克二层</a>
        <br>（望海国际旁、哈根达斯对面）</p>
        <!-- <p>时间：2016年10月08日，周六</p> -->

      </div>

      </div>
    
    <p id="return"><a href="{path="service/index#meet_us"}">返回</a></p>
    
    <img id="backstretch" src="{site_url}assets/images/uploads/service/service.jpg"/>

  </section>