{layout="layout/site_save" title="大屈影像｜微信公众号｜摄影工作室｜广州&amp;深圳&amp;三亚&amp;海口"}

	{layout:set name="description"}大屈影像是小岛上的原创品牌，在这里可以拍到最美的证件照以及温暖的写真集，更有平易近人的旅行指南以及深入的旅拍故事跟大家分享～从快门按下的那一刻，回忆就永远被珍藏在相片里了^_^{/layout:set}

	<section class="document backstretch">

		<header>
			<h1>Public.</h1>
			<p>公众号</p>
		</header>

	    <div>

			<div class="contact2">

				<p>大屈的微信公众号</p>
				<br>
				<p><img id="wechat" src="{site_url}assets/images/uploads/public/daquimage.jpg" width="150" height="150"/><br>（扫描或微信长按识别）</p>
				<p>公众号：大屈影像馆</p>
        		<p>短信：<a href="sms:189-7698-4285">+86 189-7698-4285</a></p>
				<p>公众号最后更新：2017年1月10日</p>

			</div>

	    </div>
		
		<p id="return"><a href="{path="service/index#public"}">返回</a></p>
		
		<img id="backstretch" src="{site_url}assets/images/uploads/service/service.jpg"/>

	</section>