{layout="layout/site_save" title="大屈影像｜微信工作号｜摄影工作室｜广州&amp;深圳&amp;三亚&amp;海口"}

	{layout:set name="description"}大屈摄影工作室的工作微信，朋友圈里有最新的客片作品展示{/layout:set}

	<section class="document backstretch">

		<header>
			<h1>Wechat.</h1>
			<p>工作号</p>
		</header>

	    <div>

			<div class="contact2">

				<p>大屈的微信工作号</p>
				<br>
        		<p><img id="wechat" src="{site_url}assets/images/uploads/service/daqustudio.jpg" width="150" height="150" /><br></p>
        		<p>微信：daqustudio</p>
        		<p>短信：<a href="sms:189-7698-4285">+86 189-7698-4285</a></p>
        		<p>朋友圈最后更新：2017年01月10日</p>

			</div>

	    </div>
		
		<p id="return"><a href="{path="service/index#wechat"}">返回</a></p>
		
		<img id="backstretch" src="{site_url}assets/images/uploads/service/service.jpg"/>

	</section>