{layout="layout/images" title="大屈影像 - 家庭／小时候 - 写真摄影工作室 - 广州 - 深圳 - 三亚 - 海口"}

{layout:set name="description"}大屈写真摄影工作室的儿童摄影套系及样张{/layout:set}

	<section class="document backstretch">

		<header>
			<h1>Children.</h1>
			<p>家庭／小时候*</p>
		</header>
	    		
	    <div>

			<div class="standard">
				<div>	
					<p><span>100</span>张</p>
					<p>底片</p>
				</div>

				<div>	
					<p><span>10</span>张</p>
					<p>成片</p>
				</div>

				<div>	
					<p><span>5</span>小时</p>
					<p>拍摄时长</p>
				</div>

				<div>	
					<p><span>1</span>组</p>
					<p>拍摄</p>
				</div>

				<div>	
					<p><span>☑</span></p>
					<p>提供化妆</p>
				</div>

				<div>	
					<p><span>☑</span></p>
					<p>提供服装</p>
				</div>
			</div>

			<p>点击查看<br><a href="{site_url}index.php/sample/children/wang-yun-fei">样张一</a>、<a href="{site_url}index.php/sample/children/tan-tan">样张二</a>、<a href="{site_url}index.php/sample/children/zhang-xin-yu">样张三</a>、<a href="{site_url}index.php/sample/children/zhang-ping">样张四</a></p>


			<p>微信｜团购价：<del>980.0元</del> 780.0元，需付定金：100.0元
				<br>可一家五人同时入镜，<a href="{path="payment/Children"}">支持分期付款</a>
			</p>

			<p>* <a href="{path="about/wechat"}">通过微信／淘宝浏览更多摄影作品</a></p>

	    </div>

		<p id="return"><a href="{path="service/index#children"}">返回</a></p>
		
		<img id="backstretch" src="{site_url}assets/images/uploads/photography/home/bokeh.jpg"/>
		
	</section>