{layout="layout/index" body="service" header="black" service="creativity" title="大屈攝影（摄影）工作室 - 服務及價格 - 藝術創作 - 廣州（广州） - 深圳 - 三亞（三亚） - 海口"}

{layout:set name="description"}大屈攝影（摄影）工作室的藝術創作服務、價格及作品{/layout:set}
	
	<main>

		<div class="backstretch background top">

	      <img id="backstretch" src="{site_url}assets/images/uploads/service/background.jpg"/>
					
		</div>

		<div class="background bottom"></div>

		<section class="package">
				
		    <h1>藝術創作</h1>
		    <p>Creativity</p>

			<p>微信｜团购價：3,980.0元，需付定金：1,000.0元
				<br><a href="{path="service/wechat"}">支持分期付款</a>
			</p>

			<h2>規格：</h2>
			<div id="standard">
				<div>	
					<p><span>10</span>張</p>
					<p>底片</p>
				</div>
				<div>	
					<p><span>4</span>張</p>
					<p>精修</p>
				</div>
				<div>	
					<p><span>12</span>小時</p>
					<p>拍攝時長</p>
				</div>
				<div>	
					<p><span>36</span>小時</p>
					<p>修片時長</p>
				</div>			
				<div>	
					<p><span>☑</span></p>
					<p>提供化妝</p>
				</div>
				<div>	
					<p><span>☑</span></p>
					<p>提供服裝</p>
				</div>
			</div>

			<h2>點擊查看作品：</h2>
			<p><a href="{site_url}index.php/sample/creativity/bu-ke-xin-de-zhen-shi">作品一</a>（膠片）、<a href="{site_url}index.php/sample/creativity/pin-tie">作品二</a>（膠片）、<a href="{site_url}index.php/sample/creativity/yue-sheng-de-shi-jie">作品三</a>（膠片）、<a href="{site_url}index.php/sample/creativity/ling-yi-zhong-ke-neng">作品四</a>（膠片）、<a href="{site_url}index.php/sample/creativity/ying-mu">作品五</a>（膠片）</p>


			<h2>預訂拍攝時間：</h2>
			<p>
				1月23日 – 1月29日：<i>已訂出</i><br>
				1月30日 – 2月5日：<i>已訂出</i><br>
				2月6日 – 2月12日：<i>已訂出</i><br>
				2月13日 – 2月19日：<i>已訂出</i><br>
			</p>

			<h2>聯繫方式：</h2>
			<p>微信：<a href="{path="service/wechat"}">daqustudio</a></p>

			<h2>其它套系：</h2>			
			<p><a href="{path="service/video"}">錄影</a>			

		</section>

	</main>
