{layout="layout/images" title="大屈影像 - 迷你 - 写真摄影工作室 - 广州 - 深圳 - 三亚 - 海口"}

{layout:set name="description"}大屈写真摄影工作室的全家福摄影及样张{/layout:set}

	<section class="document backstretch">

		<header>
			<h1>Family.</h1>
			<p>结婚登记／全家福*</p>
		</header>
	    		
	    <div>

			<div class="standard">
				<div>	
					<p><span>20</span>张</p>
					<p>底片</p>
				</div>
				<div>	
					<p><span>2</span>张</p>
					<p>成片</p>
				</div>
				<div>	
					<p><span>1</span>小时</p>
					<p>拍摄时长</p>
				</div>
				<div>	
					<p><span>1</span>组</p>
					<p>拍摄</p>
				</div>
				<div>	
					<p><span>∞</span></p>
					<p>提供化妆</p>
				</div>
				<div>	
					<p><span>☑</span></p>
					<p>提供服装</p>
				</div>
			</div>

			<p>点击查看<br><a href="{site_url}index.php/sample/family/zhang-ping">样张一</a></p>

			<p>微信｜团购价：198.0元，需付定金：198.0元<br><a href="#">拍摄流程（New！）</a></p>

			<p>* <a href="{path="about/wechat"}">通过微信／淘宝浏览更多摄影作品</a></p>


	    </div>

		<p id="return"><a href="{path="service/index#family"}">返回</a></p>
		
		<img id="backstretch" src="{site_url}assets/images/uploads/service/service.jpg"/>

	</section>