{layout="layout/index" body="service" header="black" service="family" title="大屈攝影（摄影） - 服務及價格 - 家庭／小時候 - 三亚 &amp; 海口 － 攝影工作室"}

{layout:set name="description"}大屈攝影（摄影）的兒童攝影服務、價格及作品{/layout:set}
	
	<main>

		<div class="backstretch background top">

	      <img id="backstretch" src="{site_url}assets/images/uploads/service/background.jpg"/>
					
		</div>

		<div class="background bottom"></div>

		<section class="package">
				
		    <h1>家庭／小時候</h1>
		    <p>Family</p>

			<p>微信｜团购價：<del>980.0元</del> 780.0元，需付定金：100.0元
				<br>可一家五人同時入鏡，<a href="{path="service/wechat"}">支持分期付款</a>
			</p>

			<h2>規格：</h2>
			<div id="standard">
				<div>	
					<p><span>200</span>張</p>
					<p>底片</p>
				</div>
				<div>	
					<p><span>10</span>張</p>
					<p>精修</p>
				</div>
				<div>	
					<p><span>8</span>小時</p>
					<p>拍攝時長</p>
				</div>
				<div>	
					<p><span>12</span>小時</p>
					<p>修片時長</p>
				</div>			
				<div>	
					<p><span>☑</span></p>
					<p>提供化妝</p>
				</div>
				<div>	
					<p><span>☑</span></p>
					<p>提供服裝</p>
				</div>
			</div>

			<h2>點擊查看作品：</h2>
			<p><a href="{site_url}index.php/sample/family/wang-yun-fei">作品一</a>（數碼）、<a href="{site_url}index.php/sample/family/tan-tan">作品二</a>（數碼）、<a href="{site_url}index.php/sample/family/zhang-xin-yu">作品三</a>（膠片）、<a href="{site_url}index.php/sample/family/zhang-ping">作品四</a>（膠片）</p>

			<h2>預訂拍攝時間：</h2>
			<p>
				1月23日 – 1月29日：<i>已訂出</i><br>
				1月30日 – 2月5日：<i>已訂出</i><br>
				2月6日 – 2月12日：<i>已訂出</i><br>
				2月13日 – 2月19日：<i>已訂出</i><br>
			</p>

			<h2>聯繫方式：</h2>
			<p>微信：<a href="{path="service/wechat"}">daqustudio</a></p>
			
		</section>

	</main>
