{layout="layout/index" text="white" header="black" title="大屈影像 - 家庭／小时候 - 摄影工作室 - 广州 - 深圳 - 三亚 - 海口"}

{layout:set name="description"}大屈摄影工作室的儿童摄影服务、价格及样张{/layout:set}
	
	<main id="service">

		<div class="backstretch background top">

	      <img id="backstretch" src="{site_url}assets/images/uploads/service/background.jpg"/>
					
		</div>

		<div class="background bottom"></div>

		<section class="package">
				
		    <h1>家庭／小时候</h1>
		    <p>Family</p>

			<p>微信｜团购价：<del>980.0元</del> 780.0元，需付定金：100.0元
				<br>可一家五人同时入镜，<a href="{path="service/payment"}">支持分期付款</a>
			</p>

			<h2>规格：</h2>
			<div id="standard">
				<div>	
					<p><span>100</span>张</p>
					<p>底片</p>
				</div>
				<div>	
					<p><span>10</span>张</p>
					<p>成片</p>
				</div>
				<div>	
					<p><span>8</span>小时</p>
					<p>拍摄时长</p>
				</div>
				<div>	
					<p><span>12</span>小时</p>
					<p>修片时长</p>
				</div>			
				<div>	
					<p><span>∞</span></p>
					<p>提供化妆</p>
				</div>
				<div>	
					<p><span>∞</span></p>
					<p>提供服装</p>
				</div>
			</div>

			<h2>点击查看作品：</h2>
			<p>点击查看<br><a href="{site_url}index.php/sample/family/wang-yun-fei">样张一</a>（数码）、<a href="{site_url}index.php/sample/family/tan-tan">样张二</a>（数码）、<a href="{site_url}index.php/sample/family/zhang-xin-yu">样张三</a>（胶片）、<a href="{site_url}index.php/sample/family/zhang-ping">样张四</a>（胶片）</p>

			<h2>预订拍摄时间：</h2>
			<p>
				1月23日 – 1月29日：<i>已订出</i><br>
				1月30日 – 2月5日：<i>已订出</i><br>
				2月6日 – 2月12日：<i>已订出</i><br>
				2月13日 – 2月19日：<i>已订出</i><br>
			</p>

			<h2>联系客服：</h2>
			<p>微信：<a href="{path="studio/wechat"}">daqustudio</a></p>
			
		</section>

	</main>

