{layout="layout/index" text="white" header="black" service="id" title="大屈影像 - 证件照&amp;形象照 - 摄影工作室 - 广州 - 深圳 - 三亚 - 海口"}

{layout:set name="description"}大屈摄影工作室的写真摄影服务、价格及作品{/layout:set}
	
	<main id="service">

		<div class="backstretch background top">

	      <img id="backstretch" src="{site_url}assets/images/uploads/service/background.jpg"/>
					
		</div>

		<div class="background bottom"></div>

		<section class="package">
				
		    <h1>证件照&amp;形象照</h1>
		    <p>I.D.</p>

			<p>微信｜团购价：198.0元，需付定金：100元<br><a href="#"></a></p>

			<h2>规格：</h2>
			<div id="standard">
				<div>	
					<p><span>20</span>张</p>
					<p>底片</p>
				</div>
				<div>	
					<p><span>2</span>张</p>
					<p>成片</p>
				</div>
				<div>	
					<p><span>2</span>小时</p>
					<p>拍摄时长</p>
				</div>
				<div>	
					<p><span>2</span>小时</p>
					<p>修片时长</p>
				</div>			
				<div>	
					<p><span>☑</span></p>
					<p>提供化妆*</p>
				</div>
				<div>	
					<p><span>☑</span></p>
					<p>提供服装*</p>
				</div>
			</div>

			<h2>点击查看作品：</h2>
			<p><a href="{site_url}index.php/sample/id/zhang-min">样张一</a>（数码）、<a href="{site_url}index.php/sample/id/xiao-ou">样张二</a>（数码）、<a href="{site_url}index.php/sample/id/zhang-xian-sheng">样张三</a>（数码）、<a href="{site_url}index.php/sample/id/qu-fang-zhou">样张四</a>（数码）</p>

			<h2>预订拍摄时间：</h2>
			<p>
				1月23日 – 1月29日：<i>已订出</i><br>
				1月30日 – 2月5日：<i>已订出</i><br>
				2月6日 – 2月12日：<i>已订出</i><br>
				2月13日 – 2月19日：<i>已订出</i><br>
			</p>

			<h2>联系方式：</h2>
			<p>微信：<a href="{path="service/wechat"}">daqustudio</a></p>

			<h2>指南：</h2>
			<ol>
				<li><a href="#">如何拍摄一张好的证件照？</li>
			</ol>
			
		</section>

	</main>

