{layout="layout/index" body="service" header="black" title="大屈攝影（摄影）- 摄影工作室 - 服務及價格 - 廣州（广州） &amp; 深圳 &amp; 三亞（三亚） &amp; 海口"}

{layout:set name="description"}大屈攝影（摄影）- 摄影工作室的攝影服務、價格及作品{/layout:set}

    <main class="white">

      <div class="backstretch background">

        <img id="backstretch" src="{site_url}assets/images/uploads/service/background.jpg"/>
          
      </div>

        <div class="swiper-container">
          
          <div class="swiper-wrapper">

              <div class="swiper-slide" data-hash="people">
                <a href="{path="service/people"}">
                  <h1>證件照&amp;全家福<br></h1>
                  <p>People</p>
                  <p>照相館</p>
                </a>
              </div>     

              <div class="swiper-slide" data-hash="portraits">
                  <a href="{path="service/travels"}">
                    <h1>旅行</h1>
                    <p>Travels</p>
                    <p>写真及旅行婚拍</p>
                  </a>
              </div>

              <div class="swiper-slide" data-hash="family">
                  <a href="{path="service/family"}">
                    <h1>肖像</h1>
                    <p>Portraits</p>
                    <p>人像攝影</p>
                  </a>
              </div>

              <div class="swiper-slide" data-hash="commercials">
                <a href="{path="service/commercials"}">
                  <h1>靜物／產品</h1>
                  <p>Commercials</p>
                  <p>企業形象及產品攝影</p>
                </a>
              </div>              

              <div class="swiper-slide" data-hash="video">
                <a href="{path="service/video"}">
                  <h1>敘事</h1>
                  <p>Video</p>
                  <p>短片及動態影像</p>
                </a>
              </div>              

          </div>

          <div class="swiper-pagination"></div>

        </div>

    </main>
    
