{layout="layout/index" text="white" header="black" title="大屈影像 - 套系及价格 - 写真摄影工作室 - 广州 - 深圳 - 三亚 - 海口"}

  {layout:set name="description"}大屈写真摄影工作室的微信及微信公众号，朋友圈里有最新的摄影作品展示{/layout:set}

  <main>

    <section class="backstretch background">

      <img id="backstretch" src="{site_url}assets/images/uploads/service/background.jpg"/>
        
    </section>

      <section class="swiper-container">
        
      <div class="swiper-wrapper">

          <div class="swiper-slide" data-hash="work">
            <a href="{path="service/work"}">
              <h1>证件照&amp;形象照<br>（肖像）</h1>
              <p>Work.</p>
            </a>
          </div>

          <div class="swiper-slide" data-hash="portrait">
              <a href="{path="service/portrait"}">
                <h1>写真及婚拍</h1>
                <p>Portrait</p>
                <p>及Mini迷你包含在内</p>
              </a>
          </div>

          <div class="swiper-slide" data-hash="flowers">
            <a href="{path="service/flowers"}">
              <h1>花事（私房）</h1>
              <p>Flowers</p>
              <p>古典文艺美</p>
            </a>
          </div>

          <div class="swiper-slide" data-hash="children">
            <a href="{path="service/children"}">
              <h1>家庭／小时候<br></h1>
              <p>Children</p>
              <p>儿童摄影纪实</p>
            </a>
          </div>

          <div class="swiper-slide" data-hash="creativity">
            <a href="{path="service/creativity"}">
              <h1>艺术创作</h1>
              <p>Creativity</p>
              <p>及其他定制摄影</p>
            </a>
          </div>

      </div>

      <div class="swiper-pagination"></div>

      </section>

  </main>

  <footer>
    <p id="da-qu">大屈</p>
  </footer>