{layout="layout/index" body="service" header="black" title="大屈攝影（摄影）- 摄影工作室 - 服務及價格 - 三亚 &amp; 海口"}

{layout:set name="description"}大屈攝影（摄影）- 摄影工作室的攝影服務、價格及作品{/layout:set}

    <main class="white">

      <div class="backstretch background">

        <img id="backstretch" src="{site_url}assets/images/uploads/service/background.jpg"/>
          
      </div>

        <div class="swiper-container">
          
          <div class="swiper-wrapper">

              <div class="swiper-slide" data-hash="work">
                <a href="{path="service/work"}">
                  <h1>證件照 &amp; 形象照<br></h1>
                  <p>Work</p>
                  <p>工作相關</p>
                </a>
              </div>     

              <div class="swiper-slide" data-hash="portraits">
                  <a href="{path="service/portraits"}">
                    <h1>旅行寫真</h1>
                    <p>Portraits</p>
                    <p>個性写真及旅行攝影</p>
                  </a>
              </div>      

              <div class="swiper-slide" data-hash="creativity">
                <a href="{path="service/creativity"}">
                  <h1>藝術創作</h1>
                  <p>Creativity</p>
                  <p>古法工藝</p>
                </a>
              </div>

              <div class="swiper-slide" data-hash="creativity">
                <a href="{path="service/creativity"}">
                  <h1>企業／商業</h1>
                  <p>Commericals</p>
                  <p>品牌形象及產品攝影</p>
                </a>
              </div>              

              <div class="swiper-slide" data-hash="video">
                <a href="{path="service/video"}">
                  <h1>短片</h1>
                  <p>Video</p>
                  <p>視頻及動態影像</p>
                </a>
              </div>              

          </div>

          <div class="swiper-pagination"></div>

        </div>

    </main>
    
