{layout="layout/index" body="service" header="black" service="mini" title="大屈攝影（摄影）工作室 - 服務及價格 - 迷你 - 廣州（广州） - 深圳 - 三亞（三亚） - 海口"}

{layout:set name="description"}大屈攝影（摄影）工作室的写真攝影服務、價格及作品{/layout:set}
	
	<main>

		<div class="backstretch background top">

	      <img id="backstretch" src="{site_url}assets/images/uploads/service/background.jpg"/>
					
		</div>

		<div class="background bottom"></div>

		<section class="package">
				
		    <h1>Mini迷你</h1>
		    <p>Mini *</p>

			<p>微信｜团购價：490.0元，需付定金：100.0元
				<br>可兩人同時入鏡，<a href="{path="service/wechat"}">支持分期付款</a>
			</p>

			<h2>規格：</h2>
			<div id="standard">
				<div>	
					<p><span>50</span>張</p>
					<p>底片</p>
				</div>
				<div>	
					<p><span>5</span>張</p>
					<p>成片</p>
				</div>
				<div>	
					<p><span>3</span>小時</p>
					<p>拍攝時長</p>
				</div>
				<div>	
					<p><span>6</span>小時</p>
					<p>修片時長</p>
				</div>			
				<div>	
					<p><span>∞</span></p>
					<p>提供化妝</p>
				</div>
				<div>	
					<p><span>∞</span></p>
					<p>提供服裝</p>
				</div>
			</div>

			<h2>點擊查看作品：</h2>
			<p>
				<a href="{site_url}index.php/sample/mini/zhang-ti">作品一</a>（數碼）、<a href="{site_url}index.php/sample/mini/sun-die-mini">作品二</a>（數碼）、<a href="{site_url}index.php/sample/mini/chen-miao-miao-mini">作品三</a>（數碼）</p>
			</p>

			<!-- <p> -->
				<!-- <a href="{site_url}index.php/sample/mini/qu-fang-zhou">作品一</a>（數碼）、<a href="{site_url}index.php/sample/mini/zhang-ti">作品二</a>（數碼）、<a href="{site_url}index.php/sample/mini/zhang-xian-sheng">作品三</a>（數碼）、<a href="{site_url}index.php/sample/mini/sun-die-dou-zi">作品四</a>（數碼）、<a href="{site_url}index.php/sample/mini/zhu-jia-qi">作品五</a>（膠片）</p> -->
			<!-- </p> -->

			<h2>預訂拍攝時間：</h2>
			<p>
				1月23日 – 1月29日：<i>已訂出</i><br>
				1月30日 – 2月5日：<i>已訂出</i><br>
				2月6日 – 2月12日：<i>已訂出</i><br>
				2月13日 – 2月19日：<i>已訂出</i><br>
			</p>

			<h2>聯繫方式：</h2>
			<p>微信：<a href="{path="service/wechat"}">daqustudio</a></p>
			
			<h2 id="workflow">指南：</h2>
			<ol>
				<li><a href="{path="workflow/mini"}">拍攝流程</a></li>
			</ol>

			<h2>备注：</h2>			
			<p>* 凭学生证购买</a>

			
		</section>

	</main>
