{layout="layout/index" text="white" header="white" title="大屈影像 - 写真及婚拍 - 写真摄影工作室 - 广州 - 深圳 - 三亚 - 海口"}

{layout:set name="description"}大屈写真摄影工作室的写真摄影套系及样张{/layout:set}

	<section class="document backstretch">

		<header>
			<!-- <h1>Portrait.</h1> -->
			<p>写真及婚拍*</p>
		</header>
	    		
	    <div>

			<div class="standard">
				<div>	
					<p><span>100</span>张</p>
					<p>底片</p>
				</div>
				<div>	
					<p><span>10</span>张</p>
					<p>成片</p>
				</div>
				<div>	
					<p><span>5</span>小时</p>
					<p>拍摄时长</p>
				</div>
				<div>	
					<p><span>1</span>组</p>
					<p>拍摄</p>
				</div>
				<div>	
					<p><span>☑</span></p>
					<p>提供化妆</p>
				</div>
				<div>	
					<p><span>☑</span></p>
					<p>提供服装</p>
				</div>
			</div>

			<p>点击查看<br><a href="{site_url}index.php/sample/portrait/tian-tian">样张一</a>、<a href="{site_url}index.php/sample/portrait/tao-yuan">样张二</a>、<a href="{site_url}index.php/sample/portrait/xiao-mo">样张三</a>、<a href="{site_url}index.php/sample/portrait/wu-si-min">样张四</a>、<a href="{site_url}index.php/sample/portrait/lu-man-qiu">样张五</a>、<a href="{site_url}index.php/sample/portrait/chen-miao-miao">样张六</a>、<a href="{site_url}index.php/sample/portrait/sun-die">样张七</a>、<a href="{site_url}index.php/sample/portrait/xi-hua-liu-shui">样张八</a><br><br><a href="http://travels.da-qu.com/index.php/">旅行婚拍</a></p>

			<!-- <p>点击查看<br><a href="{site_url}index.php/sample/portrait/xiao-mo">样张一</a>、<a href="{site_url}index.php/sample/portrait/sun-die">样张二</a>、<a href="{site_url}index.php/sample/portrait/tian-tian">样张三</a>、<a href="{site_url}index.php/sample/portrait/tao-yuan">样张四</a>、<a href="{site_url}index.php/sample/portrait/lu-man-qiu">样张五</a>、<a href="{site_url}index.php/sample/portrait/chen-miao-miao">样张六</a>、<a href="{site_url}index.php/sample/portrait/zhao-sang">样张七</a>、<a href="{site_url}index.php/sample/portrait/xi-hua-liu-shui">样张八</a><br><br><a href="{path="service/mini"}">Mini迷你</a>／<a href="{path="wedding/couples"}">旅行婚拍</a></p> -->


			<p>微信｜团购价：<del>980.0元</del> 780.0元，需付定金：100.0元
				<br>可两人同时入镜，<a href="{path="payment/index"}">支持分期付款</a>
			</p>

			<p>* <a href="{path="about/wechat"}">点击预约拍摄时间</a></p>


	    </div>

		<p id="return"><a href="{path="service/index#photography"}">返回</a></p>
		
		<img id="backstretch" src="{site_url}assets/images/uploads/service/service.jpg"/>
		
	</section>