{layout="layout/index" text="white" header="black" title="大屈影像 - 写真及婚拍 - 写真摄影工作室 - 广州 - 深圳 - 三亚 - 海口"}

{layout:set name="description"}大屈的写真摄影套系及样张{/layout:set}

	<section class="backstretch background">

      <img id="backstretch" src="{site_url}assets/images/uploads/service/gradation.jpg"/>
				
	</section>

	<section class="service">
			
	    <h1>写真及婚拍</h1>
	    <p>Portrait</p>

		<p>微信｜团购价：<del>1,470.0元</del> 1,280.0元，需付定金：100.0元
			<br>可两人同时入镜，<a href="{path="service/payment"}">支持分期付款</a>
		</p>			
		
		<p class="margin">规格：</p>
		<div class="standard">
			<div>	
				<p><span>150</span>张</p>
				<p>底片</p>
			</div>
			<div>	
				<p><span>15</span>张</p>
				<p>成片</p>
			</div>
			<div>	
				<p><span>12</span>小时</p>
				<p>拍摄时长</p>
			</div>
			<div>	
				<p><span>2</span>组</p>
				<p>拍摄</p>
			</div>
			<div>	
				<p><span>☑</span></p>
				<p>提供化妆</p>
			</div>
			<div>	
				<p><span>☑</span></p>
				<p>提供服装</p>
			</div>

		</div>

		<p>点击查看：<br>
		<a href="{site_url}index.php/sample/portrait/tian-tian">样张一</a>、<a href="{site_url}index.php/sample/portrait/tao-yuan">样张二</a>、<a href="{site_url}index.php/sample/portrait/xiao-mo">样张三</a>、<a href="{site_url}index.php/sample/portrait/wu-si-min">样张四</a>、<a href="{site_url}index.php/sample/portrait/lu-man-qiu">样张五</a>、<a href="{site_url}index.php/sample/portrait/chen-miao-miao">样张六</a>、<a href="{site_url}index.php/sample/portrait/sun-die">样张七</a>、<a href="{site_url}index.php/sample/portrait/xi-hua-liu-shui">样张八</a></p>

		<p>预订拍摄：<br>
			1月23日 – 1月29日：<i>已订出</i><br>
			1月30日 – 2月5日：<i>已订出</i><br>
			2月6日 – 2月12日：<i>已订出</i><br>
			2月13日 – 2月19日：<i>已订出</i><br>
		</p>

		<p>联系客服：<br>
		微信：daqustudio</p>

		<p id="return"><a href="{path="service/index#portrait"}">返回</a></p>
		
	</section>
