{layout="layout/index" text="white" header="black" title="大屈影像 - 写真及婚拍 - 写真摄影工作室 - 广州 - 深圳 - 三亚 - 海口"}

{layout:set name="description"}大屈的写真摄影套系及作品{/layout:set}
	
	<main id="service">

		<div class="backstretch background">

	      <img id="backstretch" src="{site_url}assets/images/uploads/service/gradation.jpg"/>
					
		</div>

		<section class="package">
				
		    <h1>写真及婚拍</h1>
		    <p class="english">Portrait</p>

			<p>微信｜团购价：<del>1,470.0元</del> 1,280.0元，需付定金：100.0元
				<br>可两人同时入镜，<a href="{path="service/payment"}">支持分期付款</a>
			</p>

			<h2>规格：</h2>
			<div id="standard" class="standard">
				<div>	
					<p><span>150</span>张</p>
					<p>底片</p>
				</div>
				<div>	
					<p><span>15</span>张</p>
					<p>成片</p>
				</div>
				<div>	
					<p><span>8</span>小时</p>
					<p>拍摄时长</p>
				</div>
				<div>	
					<p><span>16</span>小时</p>
					<p>修片时长</p>
				</div>			
				<div>	
					<p><span>☑</span></p>
					<p>提供化妆</p>
				</div>
				<div>	
					<p><span>☑</span></p>
					<p>提供服装</p>
				</div>
			</div>

			<h2>点击查看写真作品：</h2>
			<p>
				<a href="{site_url}index.php/sample/portrait/tian-tian">作品一</a>（数码）、<a href="{site_url}index.php/sample/portrait/tao-yuan">作品二</a>（胶片）、<a href="{site_url}index.php/sample/portrait/xiao-mo">作品三</a>（胶片）、<a href="{site_url}index.php/sample/portrait/wu-si-min">作品四</a>（数码）、<a href="{site_url}index.php/sample/portrait/lu-man-qiu">作品五</a>（数码）、<a href="{site_url}index.php/sample/portrait/chen-miao-miao">作品六</a>（胶片）、<a href="{site_url}index.php/sample/portrait/sun-die">作品七</a>（胶片）、<a href="{site_url}index.php/sample/portrait/xi-hua-liu-shui">作品八</a>（胶片）
			</p>		

			<h2>点击查看婚拍作品：</h2>
			<p>
				<a href="{site_url}index.php/sample/portrait/tian-tian">作品一</a>（数码）、<a href="{site_url}index.php/sample/portrait/tao-yuan">作品二</a>（胶片）、<a href="{site_url}index.php/sample/portrait/xiao-mo">作品三</a>（胶片）
			</p>	


			<h2>预订拍摄时间：</h2>
			<p>
				1月23日 – 1月29日：<i>已订出</i><br>
				1月30日 – 2月5日：<i>已订出</i><br>
				2月6日 – 2月12日：<i>已订出</i><br>
				2月13日 – 2月19日：<i>已订出</i><br>
			</p>

			<h2>联系客服：</h2>
			<p>微信：<a href="{path="studio/wechat"}">daqustudio</a></p>

			<!-- <p id="return"><a href="{path="service/index#portrait"}">返回</a></p> -->
			
		</section>

	</main>
