{layout="layout/index" body="service" header="black" service="portrait" title="大屈攝影（摄影） - 服務及價格 - 写真及肖像 - 三亚 &amp; 海口"}

{layout:set name="description"}大屈攝影（摄影）的写真攝影服務、價格及作品{/layout:set}
	
	<main>

		<div class="backstretch background top">

	      <img id="backstretch" src="{site_url}assets/images/uploads/service/background.jpg"/>
					
		</div>

		<div class="background bottom"></div>

		<section class="package">
				
		    <h1>写真及肖像</h1>
		    <p>Portrait</p>

			<p>微信｜团购價：<del>1,470.0元</del> 1,280.0元，需付定金：100.0元
				<br>可兩人同時入鏡，<a href="{path="service/wechat"}">支持分期付款</a>
			</p>

			<h2>規格：</h2>
			<div id="standard">
				<div>	
					<p><span>300</span>張</p>
					<p>底片</p>
				</div>
				<div>	
					<p><span>15</span>張</p>
					<p>精修</p>
				</div>
				<div>	
					<p><span>8</span>小時</p>
					<p>拍攝時長</p>
				</div>
				<div>	
					<p><span>16</span>小時</p>
					<p>修片時長</p>
				</div>			
				<div>	
					<p><span>☑</span></p>
					<p>提供化妝*</p>
				</div>
				<div>	
					<p><span>☑</span></p>
					<p>提供服裝*</p>
				</div>
			</div>
				
			<p>* 備註：自帶妝型的客戶可現金減免300元。</p>

			<h2>點擊查看写真作品：</h2>
			<p>
				<a href="{site_url}index.php/sample/portrait/tian-tian">作品一</a>（數碼）、<a href="{site_url}index.php/sample/portrait/tao-yuan">作品二</a>（膠片）、<a href="{site_url}index.php/sample/portrait/xiao-mo">作品三</a>（膠片）、<a href="{site_url}index.php/sample/portrait/wu-si-min">作品四</a>（數碼）、<a href="{site_url}index.php/sample/portrait/lu-man-qiu">作品五</a>（數碼）、<a href="{site_url}index.php/sample/portrait/sun-die">作品六</a>（膠片）、<a href="{site_url}index.php/sample/portrait/xi-hua-liu-shui">作品七</a>（膠片）
			</p>

			<h2>點擊查看婚拍作品：</h2>
			<p>
				<a href="{site_url}index.php/sample/portrait/dominick-klaudyna-01">作品一</a>（膠片）、<a href="{site_url}index.php/sample/portrait/dominick-klaudyna-02">作品二</a>（膠片）、<a href="{site_url}index.php/sample/portrait/li-shu-xian">作品三</a>（数码）、<a href="{site_url}index.php/sample/portrait/a-meng">作品四</a>（数码）
			</p>

			<h2>預訂拍攝時間：</h2>
			<p>
				1月23日 – 1月29日：<i>已訂出</i><br>
				1月30日 – 2月5日：<i>已訂出</i><br>
				2月6日 – 2月12日：<i>已訂出</i><br>
				2月13日 – 2月19日：<i>已訂出</i><br>
			</p>

			<h2>聯繫方式：</h2>
			<p>微信：<a href="{path="service/wechat"}">daqustudio</a></p>

			<h2 id="workflow">指南：</h2>
			<ol>
				<li><a href="{path="workflow/portrait"}">拍攝流程</a></li>
				<!-- <li><a href="{path="guide/work"}">如何拍攝一張好的證件照</a></li> -->
			</ol>

			<!-- <h2>其它套系：</h2>			 -->
			<!-- <p><a href="{path="service/mini"}">Mini迷你</a> -->

			
		</section>

	</main>
