{layout="layout/index" body="service" header="black" service="travels" title="大屈攝影（摄影）- 摄影工作室 - 服務及價格 - 人像 - 深圳 &amp; 廣州 &amp; 三亚 &amp; 海口"}

{layout:set name="description"}大屈攝影（摄影）- 摄影工作室的写真攝影服務、價格及作品{/layout:set}
	
	<main>

		<div class="backstretch background top">

	      <img id="backstretch" src="{site_url}assets/images/uploads/service/background.jpg"/>
					
		</div>

		<div class="background bottom"></div>

		<section class="package">
				
		    <h1>旅行写真</h1>
		    <p>Portraits</p>

			<p>微信｜团购價：<del>1,470.0元</del> 1,280.0元，需付定金：100.0元
				<br>可兩人同時入鏡，<a href="{path="service/wechat"}">支持分期付款</a>
			</p>

			<h2>規格：</h2>
			<div class="standard">
				<div>	
					<p><span>300</span>張</p>
					<p>底片</p>
				</div>
				<div>	
					<p><span>15</span>張</p>
					<p>精修</p>
				</div>
				<div>	
					<p><span>8</span>小時</p>
					<p>拍攝時長</p>
				</div>
				<div>	
					<p><span>8</span>小時</p>
					<p>修片時長</p>
				</div>			
				<div>	
					<p><span>☑</span></p>
					<p>提供化妝</p>
				</div>
				<div>	
					<p><span>∞</span></p>
					<p>提供服裝</p>
				</div>
			</div>

			<h2>點擊查看写真作品：</h2>
			<p>
				<a href="{site_url}index.php/sample/travels/ruo-xin">作品一</a>（膠片）、
				<a href="{site_url}index.php/sample/travels/wu-si-min">作品二</a>（膠片）、
				<a href="{site_url}index.php/sample/travels/xi-hua-liu-shui">作品三</a>（膠片）
			</p>

			<h2>預訂拍攝時間：</h2>
			<p>
				12月11日 – 12月17日：<i>已訂出</i><br>
				12月18日 – 12月24日：<i>已訂出</i><br>
				12月25日 – 12月31日：<i>已訂出</i><br>
				01月01日 – 01月07日：<i>已訂出</i><br>
			</p>

			<h2>聯繫方式：</h2>
			<p>微信：<a href="{path="service/wechat"}">daqustudio</a></p>

			<br>
			<br>
			<br>
			<br>
			<br>
	

	    	<h1>旅行婚拍</h1>
		    <p>Weddings</p>

			<p>微信｜团购價：<del>1,470.0元</del> 1,280.0元，需付定金：100.0元
				<br>可兩人同時入鏡，<a href="{path="service/wechat"}">支持分期付款</a>
			</p>

			<h2>規格：</h2>
			<div class="standard">
				<div>	
					<p><span>300</span>張</p>
					<p>底片</p>
				</div>
				<div>	
					<p><span>15</span>張</p>
					<p>精修</p>
				</div>
				<div>	
					<p><span>8</span>小時</p>
					<p>拍攝時長</p>
				</div>
				<div>	
					<p><span>8</span>小時</p>
					<p>修片時長</p>
				</div>			
				<div>	
					<p><span>☑</span></p>
					<p>提供化妝</p>
				</div>
				<div>	
					<p><span>∞</span></p>
					<p>提供服裝</p>
				</div>
			</div>

			<h2>點擊查看写真作品：</h2>
			<p>
				<a href="{site_url}index.php/sample/travels/dominick-klaudyna-01">作品一</a>（膠片）、
				<a href="{site_url}index.php/sample/travels/li-shu-xian">作品二</a>（數碼）
			</p>

			<h2>預訂拍攝時間：</h2>
			<p>
				12月11日 – 12月17日：<i>已訂出</i><br>
				12月18日 – 12月24日：<i>已訂出</i><br>
				12月25日 – 12月31日：<i>已訂出</i><br>
				01月01日 – 01月07日：<i>已訂出</i><br>
			</p>

			<h2>聯繫方式：</h2>
			<p>微信：<a href="{path="service/wechat"}">daqustudio</a></p>


		</section>



	</main>
