{layout="layout/index" body="service" header="black" service="video" title="大屈攝影（摄影）- 摄影工作室 - 服務及價格 - 視頻 - 三亚 &amp; 海口"}

{layout:set name="description"}大屈攝影（摄影）- 摄影工作室的視頻創作服務、價格及作品{/layout:set}
	
	<main>

		<div class="backstretch background top">

	      <img id="backstretch" src="{site_url}assets/images/uploads/service/background.jpg"/>
					
		</div>

		<div class="background bottom"></div>

		<section class="package">
				
		    <h1>視頻</h1>
		    <p>Video</p>

			<p>微信｜团购價：3,980.0元，需付定金：1,000.0元</a>
				<br>支持分期付款
			</p>

			<h2>規格：</h2>
			<div class="standard">
				<div>	
					<p><span>4</span>小時</p>
					<p>底片</p>
				</div>
				<div>	
					<p><span>1</span>分鐘</p>
					<p>精剪</p>
				</div>
				<div>	
					<p><span>12</span>小時</p>
					<p>工作時長</p>
				</div>
				<div>	
					<p><span>48</span>小時</p>
					<p>剪輯時長</p>
				</div>
				<div>	
					<p><span>☑</span></p>
					<p>提供化妝</p>
				</div>
				<div>	
					<p><span>∞</span></p>
					<p>提供服裝</p>
				</div>
			</div>

			<h2>點擊查看作品：</h2>
			<p><a href="{site_url}assets/images/uploads/sample/20160408.mp4">作品一</a></p>

			<h2>預訂拍攝時間：</h2>
			<p>
				12月11日 – 12月17日：<i>已訂出</i><br>
				12月18日 – 12月24日：<i>已訂出</i><br>
				12月25日 – 12月31日：<i>已訂出</i><br>
				01月01日 – 01月07日：<i>已訂出</i><br>
			</p>

			<h2>聯繫方式：</h2>
			<p>微信：<a href="{path="service/wechat"}">daqustudio</a></p>

		</section>

	</main>

