{layout="layout/index" text="white" header="white" service="portrait" footer="none" title="大屈影像 - 微信及公众号 - 摄影工作室 - 广州 - 深圳 - 三亚 - 海口"}

    {layout:set name="description"}大屈写真摄影工作室的微信及微信公众号，朋友圈里有最新的摄影作品展示{/layout:set}

    <main id="service">

        <div class="backstretch background">

            <img id="backstretch" src="{site_url}assets/images/uploads/service/bokeh.jpg"/>
                    
        </div>

        <section class="wechat">

			<p>（扫描或手机浏览器内长按二维码识别）</p>
            
            <br>
            <br>

            <div>
                <p>大屈的微信工作号</p>
                <br>
                <p><img id="wechat" src="{site_url}assets/images/uploads/studio/daqustudio.jpg" width="150" height="150" /></p>
                <p>微信：daqustudio</p>
                <p>短信：<a href="sms:189-7698-4285">+86 189-7698-4285</a></p>
                <p>朋友圈最后更新：2017年01月10日</p>
            </div>

            <div>
                <p>大屈的微信公众号</p>
                <br>
                <p><img id="wechat" src="{site_url}assets/images/uploads/studio/daquimage.jpg" width="150" height="150"/></p>
                <p>名称：大屈影像馆</p>
                <p>电邮：<a href="mailto:hello@da-qu.com">hello@da-qu.com</a></p>
                <p>公众号最后更新：2017年1月10日</p>
            </div>
			
        </section>

    </main>

<script>

$(document).ready(function() {
    document.oncontextmenu = function () { return true; }
});

$(document).ready(function() {
    $('img').css({pointerEvents: "auto"})
});

</script>