{layout="layout/index" body="service" header="black" service="work" title="大屈攝影（摄影）- 摄影工作室 - 服務及價格 - 工作照&amp;形象照 - 广州 &amp; 深圳 &amp; 三亚 &amp; 海口"}

{layout:set name="description"}大屈攝影（摄影）- 摄影工作室的写真攝影服務、價格及作品{/layout:set}
	
	<main>

		<div class="backstretch background top">

	      <img id="backstretch" src="{site_url}assets/images/uploads/service/background.jpg"/>
					
		</div>

		<div class="background bottom"></div>

		<section class="package">
				
		    <h1>工作照&amp;形象照</h1>
		    <p>Work</p>

			<p>微信｜团购價：<del>100.0元</del> 98.0元，最快當日可取，包含单底4份打印。</p>

			<h2>規格：</h2>
			<div id="standard">
				<div>	
					<p><span>20</span>張</p>
					<p>底片</p>
				</div>
				<div>	
					<p><span>1</span>張</p>
					<p>精修</p>
				</div>
				<div>	
					<p><span>1</span>小時</p>
					<p>拍攝時長</p>
				</div>
				<div>	
					<p><span>1</span>小時</p>
					<p>修片時長</p>
				</div>			
				<div>	
					<p><span>☑</span></p>
					<p>提供化妝</p>
				</div>
				<div>	
					<p><span>☑</span></p>
					<p>提供服裝</p>
				</div>
			</div>

			<h2>點擊查看作品：</h2>

			<p><a href="{site_url}index.php/sample/work/zhang-min">作品一</a>（數碼）<a href="{site_url}index.php/sample/work/xiao-ou">作品二</a>（數碼）、<a href="{site_url}index.php/sample/work/qu-fang-zhou">作品三</a>（數碼）、<a href="{site_url}index.php/sample/work/zhang-xian-sheng">作品四</a>（數碼）</p>

			<h2>預訂拍攝時間：</h2>
			<p>
				1月23日 – 1月29日：<i>已訂出</i><br>
				1月30日 – 2月5日：<i>已訂出</i><br>
				2月6日 – 2月12日：<i>已訂出</i><br>
				2月13日 – 2月19日：<i>已訂出</i><br>
			</p>

			<h2>聯繫方式：</h2>
			<p>微信：<a href="{path="service/wechat"}">daqustudio</a></p>

			<h2 id="workflow">指南：</h2>
			<ol>
				<li><a href="{path="workflow/work"}">拍攝流程</a></li>
				<!-- <li><a href="{path="guide/work"}">如何拍攝一張好的證件照</a></li> -->
			</ol>
			
		</section>

	</main>
