{layout="layout/index" title="印舖 - 檔期"}
 
<main class="schedule">
	
	<div>
	 	<p>檔期</p>
		<ul>
			<li>10月02日 – 10月08日：<a href="{path="schedule/booking"}">點擊此處預約</a></li>
			<li>10月09日 – 10月15日：<a href="{path="schedule/booking"}">點擊此處預約</a></li>
			<li>10月16日 – 10月22日：<i>已訂出</i></li>
			<li>10月23日 – 10月29日：<i>已訂出</i></li>
		</ul>		
	</div>
	
	<div>
		<p>電話</p>	
		<p><a href="sms:+86 189-0766-4285">+86 189-0766-4285</a></p>
	</div>

	<div>
		<p>團隊</p>	
		<ul>
			<li>美術總監：陈敏</li>
			<li>設計：李求学</li>
			<li>插畫：张涵</li>
			<li>文字：温言</li>
			<li>日常助理：李瑶</li>
		</ul>
	</div>

	<div>
		<p>往返</p>	
		<ul>
			<li>广、深、海南三地</li>
			<li>旅行全国</li>
		</ul>
	</div>	
	
</main>