
@charset "utf-8";
/* CSS Document */

/* ==========================================================================
   Body
   ========================================================================== */

*, *:before, *:after {
    box-sizing: border-box;
}

p {
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}

ul {
  -webkit-padding-start: 0px;
  padding:0;
}

html {
  height: 100%
}

body {
  font-family: "Helvetica Neue", Helvetica, "Hiragino Sans GB", "Microsoft YaHei", Arial, sans-serif;
  font-weight: 300;
  font-size: 62.5%;
  color: black;
  min-height: 100%;
  /*-webkit-font-smoothing: antialiased;*/
}

/* ==========================================================================
   General Typography
   ========================================================================== */

#backstretch{
  display:none;
}


*, *:before, *:after {
  letter-spacing: 2px;
}

h1, h2, h3, h4, h5, h6 {
  font-style: normal;
  font-weight: 700;
  font-size: 1.2em;
  text-align: center;
  margin: 0 auto;
}

h1 a, h1 span {
  font-size: 1em;
}

p, figcaption, time {
  font-size: 1.5em;
  line-height: 2;
  margin: 0 auto;  
  text-align: center;
}

p a, p span {
  font-size: 1em;
}

img {
  pointer-events: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* ==========================================================================
   General Links
   ========================================================================== */

a:link, a:visited {
  color: black;
  text-decoration: none;
  border-bottom: 0.5px dotted #000;
}

a:hover, a:active {
  font-weight: bold;
}

p.price a:link, p.price a:visited {
  border-bottom: 0.5px dotted #fff;
}

p.price a:hover, p.price a:active {
  font-weight: normal;
  border-bottom: none;
}

p.reservation a:link, p.reservation a:visited {
  border-bottom: 0.5px dotted #fff;
}

p.reservation a:hover, p.reservation a:active {
  font-weight: normal;
  border-bottom: none;
}

div.contact a:link, div.contact a:visited {
  border-bottom: 0.5px dotted #fff;
}

div.contact a:hover, div.contact a:active {
  font-weight: normal;
  border-bottom: none;
}

div.orientation a.manlvs:link, div.orientation a.manlvs:visited {
  border-bottom: 0.5px dotted #fff;
}

/* ==========================================================================
   Portfolio & Service
   ========================================================================== */

section {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 25px;
}

section h1 {
  font-size: 3.5em;
  margin: 0;
}

section div.swiper-wrapper div.swiper-slide {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* ==========================================================================
   Orientation
   ========================================================================== */

div.orientation {
  z-index: 100;
  position: absolute;
  left: 50%;
  bottom: 10px;
  transform: translate(-50%,0);
}

div.orientation span.icon {
  display: block;
  text-align: center;
  font-size: 3em;
}

div.orientation p {
  margin: auto;
  font-size: 1em;
}

/* ==========================================================================
   Service Details
   ========================================================================== */

section.service_details {
  height: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

section.service_details p {
  margin-top: 1em;
  margin-bottom: 1em;
}

section.service_details header {

}

section.service_details header h1 {
  text-align: left; 
}

section.service_details header p {
  margin-top: 0em;
  margin-bottom: 0em;
  text-align: left;
}

section.service_details > div {
  margin: 0 auto;
  flex:1;
}

section.service_details > div > * {
  margin-top: 5em;
}

section.service_details > div > p.reservation {
}

section.service_details > div div.standard {
  margin-left: auto;
  margin-right: auto;
  max-width: 360px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

section.service_details > div div.standard div {
  border-radius: 15%;
  width: 33%;
  text-align: center;
  margin-bottom: 1em;
}

section.service_details > div div.standard div p:first-child {
  line-height: 1;
}

section.service_details > div div.standard div p:first-child span {
  font-size: 2em;
  padding-right: 5px;
}

div.description, div.contact {
  display: none;
}

div.description {
  max-width: 400px;
  margin: 0 auto;
}

div.description p {
  text-align: left;
}

p#return {
  margin: 0 auto;
  font-size: 1em;
  margin-top: 5em;
  padding-bottom: 4em;
}