{layout="layout/site" title="大屈影像｜预订｜摄影工作室｜广州&amp;深圳&amp;三亚&amp;海口"}

	{layout:set name="description"}大屈影像写真摄影工作室的团购及优惠，八折优惠，总计200元的代金券{/layout:set}

	<section class="document backstretch">

		<header>
			<h1>Schedule.</h1>
			<p>预订*</p>
		</header>

		    <div>
	

				<div>	
					<h2>Nov 28 – Dec 4</h2>
					<p>工作&amp;求职照：<i>sold</i><br>结婚登记／全家福：<i>sold</i><br>写真及婚拍：<i>sold</i><br>花事：<i>sold</i><br>家庭／小时候：<i>sold</i></p>
				</div>

				<div>	
					<h2>Dec 5 – Dec 11</h2>
					<p>工作&amp;求职照：<a href="#">预订</a><br>结婚登记／全家福：<a href="#">预订</a><br>写真及婚拍：<i>sold</i><br>花事：<i>sold</i><br>家庭／小时候：<i>sold</i></p>
				</div>

				<div>	
					<h2>Dec 12 – Dec 18</h2>
					<p>工作&amp;求职照：<a href="#">预订</a><br>结婚登记／全家福：<a href="#">预订</a><br>写真及婚拍：<i>sold</i><br>花事：<a href="#">预订</a><br>家庭／小时候：<a href="#">预订</a></p>
				</div>

				<div>	
					<h2>Dec 26 – Jan 1</h2>
					<p>工作&amp;求职照：<a href="#">预订</a><br>结婚登记／全家福：<i>sold</i><br>写真及婚拍：<a href="#">预订</a><br>花事：<i>sold</i><br>家庭／小时候：<a href="#">预订</a></p>
				</div>
				
			<p>* 预订拍摄时间请联系<a href="{path="about/wechat"}">大屈客服</a><br>广东及海南外的地区请提前十个工作日联系</p>
		    </div>

			<p id="return"><a href="{path="service/creativity"}">返回</a></p>
			
			<img id="backstretch" src="{site_url}assets/images/uploads/service/service.jpg"/>

		</section>

