{layout="layout/index" title="大屈影像 - 预订 - 写真摄影工作室 - 广州 - 深圳 - 三亚 - 海口"}

	{layout:set name="description"}大屈写真摄影工作室的日程安排以及预约摄影信息{/layout:set}

	<section class="document backstretch">

		<header>
			<h1>Schedule.</h1>
			<p>预订*</p>
		</header>

		    <div>	

				<div>	
					<h2>Jan 23 – Jan 9</h2>
					<p>证件照&amp;形象照：<i>sold</i><br>Mini：<i>sold</i><br>写真及婚拍：<i>sold</i><br>花事：<i>sold</i><br>家庭／小时候：<i>sold</i></p>
				</div>

				<div>	
					<h2>Jan 30 – Feb 5</h2>
					<p>证件照&amp;形象照：<a href="{path="about/wechat"}">预订</a><br>Mini：<a href="{path="about/wechat"}">预订</a><br>写真及婚拍：<i>sold</i><br>花事：<i>sold</i><br>家庭／小时候：<i>sold</i></p>
				</div>

				<div>	
					<h2>Feb 6 – Feb 12</h2>
					<p>证件照&amp;形象照：<a href="{path="about/wechat"}">预订</a><br>Mini：<a href="{path="about/wechat"}">预订</a><br>写真及婚拍：<i>sold</i><br>花事：<a href="#">预订</a><br>家庭／小时候：<a href="{path="about/wechat"}">预订</a></p>
				</div>

				<div>	
					<h2>Feb 13 – Feb 19</h2>
					<p>证件照&amp;形象照：<a href="{path="about/wechat"}">预订</a><br>Mini：<i>sold</i><br>写真及婚拍：<a href="{path="about/wechat"}">预订</a><br>花事：<i>sold</i><br>家庭／小时候：<a href="{path="about/wechat"}">预订</a></p>
				</div>
				
				<p>* 预订拍摄时间请联系<a href="{path="about/wechat"}">大屈的官方微信</a></p>

		    </div>

			<p id="return"><a href="{path="service/index#schedule"}">返回</a></p>
			
			<img id="backstretch" src="{site_url}assets/images/uploads/service/service.jpg"/>

		</section>

