{layout="layout/index" body="message" service="portrait"}

{layout:set name="description"}大屈攝影工作室的團隊日記{/layout:set}

    <main>

		{exp:channel:entries channel="message" limit="1" disable="categories|member_data"}

		{layout:set name="title"}大屈影像 - 团队日记 - {title} - 广州 - 深圳 - 三亚 - 海口 - 摄影工作室{/layout:set}

	    <div class="backstretch background">

			{message_cover}
				<img id="backstretch" src="{url}" width="{exp:mx_calc expression="{width}/2"}" height="{exp:mx_calc expression="{height}/2"}">
			{/message_cover}

    	</div>

		<section>

			<article>

				<h1>{title}</h1>
			
				<p>{message_abstract}</p>

				<p class="center">{message_author}</p>
				
				<!-- <time class="center" datetime="{entry_date format="%Y"}-{entry_date format="%M"}-{entry_date format="%d"}">{entry_date format="%Y年%m月%d日"}</time> -->
				
			</article>

		{/exp:channel:entries}
		   	
	   	<p class="center">

			{exp:channel:prev_entry channel="message"}
			    <a href="{path='message/index'}">上一页</a> &nbsp;
			{/exp:channel:prev_entry}

		    {exp:channel:next_entry channel="message"}
			    <a href="{path='message/index'}">下一页</a>
			{/exp:channel:next_entry}

	     </p>
		
		</section>

	</main>


