{layout="layout/index" title="小岛南舍"}

<main>

	<section class="backstretch">

		<img id="backstretch" src="{site_url}assets/images/uploads/studio/JIANG_NAN_CHENG_FLM_0060.jpg"/>
	
	</section>

	<section>
		
		<p>在度假胜地海南岛上探索古韵、雅致度假民宿。一方热土上的独立品牌，共有三个单间、五个标间以及两个豪华套房。清甜的空气、葱郁的绿植、惬意的房间。提供给您温馨便捷的度假环境。</p>
		
	</section>

	<section>

		<h1>房型</h1>
		<ul class="block">
			<li><a href="#">岸芷汀兰／299元</a></li>
			<li><a href="#">大屈／99元</a></li>
		</ul>

	</section>

	<section>
		<h1>享受</h1>
		<ul>
			<li><a href="#">海边</a></li>
			<li><a href="#">花园全覆盖</a></li>
			<li><a href="#">游池</a></li>			
			<li><a href="#">摄影</a></li>
			<li><a href="#">BOSE环绕音响</a></li>
		</ul>

	</section>	

	<section class="weather">
		
        <div class="weather-block" id="today">
	        <p class="day">三亚/Sanya</p>
			<img src="{site_url}assets/images/uploads/studio/cloudy.png" width="32" height="32">
	        <span class="weather-temp">29</span>
	        <i class="degrees">°C</i>
        </div>
        
        <div class="weather-block" id="tomorrow">
        	<p class="day">海口/Haikou</p>
			<img src="{site_url}assets/images/uploads/studio/rain.png" width="32" height="32">
        	<span class="weather-temp">31</span>
        	<i class="degrees">°C</i>
        </div>

    </section>

	<section>
		<h1>位置</h1>
		<ul>
			<li>离机场27公里</li>
		</ul>
	</section>	

	<section>
		<h1>订房热线</h1>
		<ul>
			<li><a href="sms:189-7667-6077">+86 189-7667-6077</a></li>
		</ul>
	</section>	

	<section>
		<h1>微信订房</h1>
		<ul>
			<li>nantavel</li>
		</ul>
	</section>

</main>

<footer>
	<p><a href="#">查看我们的住宿团队</a></p>
</footer>

