{layout="layout/index" title="大屈影像／屈家印铺 - 咖啡"}

<main>
	
	<section class="backstretch">

		<img id="backstretch" src="{site_url}assets/images/uploads/coffee/pm4vu1b0gxk-annie-spratt.jpg"/>
	
	</section>

	<section>
		
		<p>在阳光下食一份轻食，温暖的食物是一剂抚慰良药。免费供应的咖啡，更有颇受欢迎的甜点和主食等着你来。</p>
		
	</section>

	<section>

		<h1>咖啡</h1>
		<ul class="block">
			<li><a href="#">意式浓缩、美式咖啡、拿铁咖啡、卡布奇诺、摩卡咖啡／全日免费供应</a></li>
		</ul>

	</section>

	<section>

		<h1>茶水</h1>
		<ul class="block">
			<li><a href="#">冰红茶、绿茶／全日免费供应</a></li>
		</ul>

	</section>

	<section>

		<h1>主食</h1>
		<ul class="block">
			<li><a href="#">焗海鲜芝士饭／38元（份）</a></li>
			<li><a href="#">秘制卤肉饭／25元（份）</a></li>
		</ul>

	</section>

	<section>

		<h1>甜品</h1>
		<ul class="block">
			<li><a href="#">提拉米苏／28元（份）</a></li>
			<li><a href="#">芝士蛋糕／25元（份）</a></li>
			<li><a href="#">黑森林／25元（份）</a></li>
		</ul>

	</section>	

	<section>
		<h1>订餐热线</h1>
		<ul>
			<li><a href="sms:189-7667-6077">+86 189-7667-6077</a></li>
		</ul>
	</section>

	<section>
		<h1>微信预订</h1>
		<ul>
			<li>daqustudio</li>
		</ul>
	</section>


</main>

<footer>
	<p><a href="#">查看我们的食材来源</a></p>
</footer>

