{layout="layout/index" title="大屈影像／屈家印铺 - 展览"}

<main>
	
	<section class="backstretch">

		<img id="backstretch" src="{site_url}assets/images/uploads/exhibition/8097167280_1d2242c26f_o.jpg"/>
	
	</section>

	<section>
		
		<p>作别往日喧嚣，只纵情享受从浮生偷得的海岛时光，陌生的城市、新鲜的印象、奇异的体验。你在哪里，风景就在哪里。</p>

	</section>

	<section>

		<h1>住宿</h1>
		<ul class="block">
			<li><a href="#">怎样来大屈影像／屈家印铺 实体店？</a></li>
		</ul>

	</section>

	<section>

		<h1>机票</h1>
		<ul class="block">
			<li><a href="#">怎样买到一张便宜的飞机票？</a></li>
		</ul>

	</section>

	<section>

		<h1>攻略</h1>
		<ul class="block">
			<li><a href="#">两天三晚攻略</a></li>
		</ul>

	</section>

	<section>

		<h1>餐饮</h1>
		<ul class="block">
			<li><a href="#">来海南吃什么？</a></li>
		</ul>

	</section>

</main>

<footer>
	<p><a href="#">查看我们的微信公众号</a></p>
</footer>

