{layout="layout/index" title="小夜盲家"}

<script>
  AOS.init({
      duration: 1000,
      once: true
  });
</script>

<header  data-aos="fade-up">

	<div>
		<h1><a href="#">小夜盲家</a></h1>
		<!-- <p>Bag - 0</p>	 -->
	</div>
	
	<div>
		<!-- <p>讓一個人也要好好吃飯的便當</p> -->
		<h2>「你好，初次見面。」</h2>
	</div>
	<!-- <img id="play_button" src="{site_url}libraries/icons/play_button.svg" alt=""> -->

	<div>

		<time>週六，11:00 AM</time>

		<div class="order">售價 ¥25.00，配送 ¥3.00</div>

	</div>

		<!-- <img id="backstretch" src="{site_url}assets/images/uploads/BAO-SOHO_Finalcropped.jpg"/> -->
	
	<img id="backstretch" src="{site_url}assets/images/uploads/STUDIO_FLM_0005.jpg"/>

</header>