{layout="layout/index" body="service" header="white" service="portrait" footer="none" title="大屈攝影（摄影）- 摄影工作室 - 服務及價格 - 微信及公衆號 - 廣州（广州） &amp; 深圳 &amp; 三亞（三亚） &amp; 海口"}

    {layout:set name="description"}大屈攝影（摄影）- 摄影工作室的微信及微信公衆號，朋友圈裏有最新的攝影作品展示{/layout:set}

    <main>

        <div class="backstretch background">

            <img id="backstretch" src="{site_url}assets/images/uploads/service/mountain.jpg"/>
                    
        </div>

        <section class="wechat">
        
            <div>
                <p>大屈的微信工作號</p>
                <br>
                <p><img id="wechat" src="{site_url}assets/images/uploads/studio/daqustudio.jpg" width="150" height="150" /></p>
                <p>微信：daqustudio</p>
                <p>短信：<a href="sms:189-7686-4685">+86 189-7686-4685</a></p>
                <p>朋友圈最後更新：2017年01月10日</p>
            </div>

            <div>
                <p>大屈的微信公衆號</p>
                <br>
                <p><img id="wechat" src="{site_url}assets/images/uploads/studio/daquvisual.jpg" width="150" height="150"/></p>
                <p>名稱：大屈</p>
                <p>電郵：<a href="mailto:hello@da-qu.com">hello@da-qu.com</a></p>
                <p>公衆號最後更新：2017年1月10日</p>
            </div>
            
        </section>

    </main>

<script>

$(document).ready(function() {
    document.oncontextmenu = function () { return true; }
});

$(document).ready(function() {
    $('img').css({pointerEvents: "auto"})
});

</script>