{layout="layout/index" body="schedule" header="white" service="potrait" footer="none" title="大屈攝影（摄影）- 摄影工作室 - Q&amp;A - 三亚 &amp; 海口"}

{layout:set name="description"}大屈攝影（摄影）- 摄影工作室的介紹以及攝影問答Q&amp;A{/layout:set}

    <main>
       	
		<div class="backstretch background">

            <img id="backstretch" src="{site_url}assets/images/uploads/service/bokeh.jpg"/>
                    
        </div>
	    
	    <section>
			
			<div>
				<h2>Aug 7 – Aug 13</h2>
				<ul>
					<li>證件照&amp;形象照：<i><a href="{path="wechat/index"}">预约</a></i></li>
					<li>旅行寫真：<i>已订出</i></li>
					<li>家庭／小時候：<i>已订出</i></li>
					<li>藝術創作：<i>已订出</i></li>
					<li>視頻：<i>已订出</i></li>
				</ul>
			</div>

			<div>
				<h2>Aug 14 – Aug 20</h2>
				<ul>
					<li>證件照&amp;形象照：<i><a href="{path="wechat/index"}">预约</a></i></li>
					<li>旅行寫真：<i>已订出</i></li>
					<li>家庭／小時候：<i>已订出</i></li>
					<li>藝術創作：<i>已订出</i></li>
					<li>視頻：<i>已订出</i></li>
				</ul>
			</div>
			
			<div>
				<h2>Aug 21 – Aug 27</h2>
				<ul>
					<li>證件照&amp;形象照：<i><a href="{path="wechat/index"}">预约</a></i></li>
					<li>旅行寫真：<i>已订出</i></li>
					<li>家庭／小時候：<i>已订出</i></li>
					<li>藝術創作：<i>已订出</i></li>
					<li>視頻：<i>已订出</i></li>
				</ul>
			</div>
			
			<div>
				<h2>Aug 28 – Sep 3</h2>
				<ul>
					<li>證件照&amp;形象照：<i><a href="{path="wechat/index"}">预约</a></i></li>
					<li>旅行寫真：<i>已订出</i></li>
					<li>家庭／小時候：<i>已订出</i></li>
					<li>藝術創作：<i>已订出</i></li>
					<li>視頻：<i>已订出</i></li>
				</ul>
			</div>

			<p class="center">* 預訂拍攝時間請聯繫<a href="{path="service/wechat"}">大屈的微信</a></p>
        
		</section>

		<p class="return"><a href="{path="photography/index"}">返回</a></p>

    </main>
    


