{layout="layout/index" title="大屈影像 - 分期付款 - 摄影工作室 - 广州&amp;深圳&amp;三亚&amp;海口"}

	{layout:set name="description"}大屈摄影工作室的摄影项目分期付款方案{/layout:set}

	<section class="document backstretch">

		<header>
			<h1>Payment.</h1>
			<p>分期付款*</p>
		</header>

	    <div>

	    	<div>
				<p>1.写真及婚拍、花事分期付款</p>
				<p>首付300元，月付100元，共6个月</p>
	   		</div>

	    	<div>
				<p>2.家庭／小时候分期付款</p>
				<p>首付300元，月付100元，共6个月</p>
	   		</div>

	    	<div>
				<p>3.视频分期付款</p>
				<p>首付1000元，月付250元，共12个月</p>
	    	</div>

	    	<div>
				<p>4.艺术创作分期付款</p>
				<p>首付1000元，月付250元，共12个月</p>
	    	</div>
	    	
	    </div>
		
		<p>* 仅供本地居民及学生</p>

		<p id="return"><a href="{path="service/index"}">返回</a></p>
		
		<img id="backstretch" src="{site_url}assets/images/uploads/service/service.jpg"/>

	</section>