{layout="layout/index" title="小岛南舍"}

<main>

	<section class="backstretch">

		<img id="backstretch" src="{site_url}assets/images/uploads/photography/lvpai.jpg"/>
	
	</section>

	<section>
		
		<p>以心作画，描摹光影，将难得瞬间凝成温存永恒。水样年华，一期一会。像晨间草叶上沾染的露珠；像热带深林蹁跹的彩蝶；像汹涌人潮中偶然的惊鸿一瞥，许多念念不忘的一瞬，顿生无限遗憾。时光荏苒，总是轻易被过往抛到后头的我们总该留一方照片，轻触记忆的余温。</p>
		
	</section>

	<section>

		<h1>房型</h1>
		<ul class="block">
			<li><a href="#">岸芷汀兰／299元</a></li>
			<li><a href="#">大屈／99元</a></li>
		</ul>

	</section>

	<section>
		<h1>享受</h1>
		<ul>
			<li><a href="#">海边</a></li>
			<li><a href="#">花园全覆盖</a></li>
			<li><a href="#">游池</a></li>			
			<li><a href="#">摄影</a></li>
			<li><a href="#">BOSE环绕音响</a></li>
		</ul>

	</section>	

	<section class="weather">
		
        <div class="weather-block" id="today">
	        <p class="day">三亚/Sanya</p>
			<img src="{site_url}assets/images/uploads/suite/cloudy.png" width="32" height="32">
	        <span class="weather-temp">29</span>
	        <i class="degrees">°C</i>
        </div>
        
        <div class="weather-block" id="tomorrow">
        	<p class="day">海口/Haikou</p>
			<img src="{site_url}assets/images/uploads/suite/rain.png" width="32" height="32">
        	<span class="weather-temp">31</span>
        	<i class="degrees">°C</i>
        </div>

    </section>

	<section>
		<h1>位置</h1>
		<ul>
			<li>离机场27公里</li>
		</ul>
	</section>	

	<section>
		<h1>订房热线</h1>
		<ul>
			<li><a href="sms:189-7667-6077">+86 189-7667-6077</a></li>
		</ul>
	</section>	

	<section>
		<h1>微信订房</h1>
		<ul>
			<li>nantavel</li>
		</ul>
	</section>

</main>

<footer>
	<p><a href="http://www.da-qu.com/index.php/home/portrait">查看我们的摄影团队</a></p>
</footer>
